SCB_Template.json
{"flowContents":{"identifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SCB Template","comments":"","position":{"x":744.0,"y":488.0},"processGroups":[{"identifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"HDFS Transfer","comments":"","position":{"x":560.0,"y":1136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"01a01ee7-5636-3c4d-bdbc-6973eb8e33ee","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"d82241f3-a2a3-38c4-a5ec-ca7ef75eb560","name":"ExecuteStreamCommand","comments":"","position":{"x":528.0,"y":584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-b;${\"hdfs_parent_dir_xml\"};-d;${\"databases_xml\"};-t;${\"consumed_tables_xml\"};-m;${\"db_partition_map\"};-u;${\"kerberos_principal_xml\"};-k;${\"kerberos_keytab_xml\"};-p;${\"partition\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"659dd95e-b1ea-39d8-9de7-af720ae7209c","name":"ExtractText","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"cb2c45e3-764f-3cb7-a81a-608fcb6d14f5","name":"ConvertAvroToORC","comments":"","position":{"x":152.0,"y":1584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hive.ConvertAvroToORC","properties":{"orc-config-resources":null,"orc-buffer-size":"10 KB","orc-compression-type":"NONE","orc-stripe-size":"64 MB","orc-hive-table-name":null},"propertyDescriptors":{"orc-config-resources":{"name":"orc-config-resources","displayName":"ORC Configuration Resources","identifiesControllerService":false,"sensitive":false},"orc-buffer-size":{"name":"orc-buffer-size","displayName":"Buffer Size","identifiesControllerService":false,"sensitive":false},"orc-compression-type":{"name":"orc-compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"orc-stripe-size":{"name":"orc-stripe-size","displayName":"Stripe Size","identifiesControllerService":false,"sensitive":false},"orc-hive-table-name":{"name":"orc-hive-table-name","displayName":"Hive Table Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"29912c6c-6c4d-36df-a302-04760843fecb","name":"FetchAzureDataLakeStorage","comments":"","position":{"x":152.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","properties":{"filesystem-name":"datafs","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"ff75604b-65d1-3d19-b4fe-623837e0ae6e","directory-name":"${\"azure_path\"}","file-name":"${\"azure_filename\"}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"01f4e7c6-2571-356b-bc34-c140e796801e","name":"MergeContent","comments":"","position":{"x":152.0,"y":1384.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":"128 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"64 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Avro","Footer File":null,"Max Bin Age":"60 secs","Demarcator File":null,"Correlation Attribute Name":"azure_path","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"3c167ce3-3151-3fee-8164-995ddf7ee929","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"f9549bec-fcb6-33ca-ad98-31cf61b0f6f8","name":"PutHDFS","comments":"","position":{"x":160.0,"y":1784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/tmp/on_prem_hdfs/core-site.xml,/tmp/on_prem_hdfs/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"21b160ca-ead6-3236-b665-b6a2edd364f4","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"/tmp/public_cloud_test","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"111378ea-c181-3f57-b3a8-cd80f60bc193","name":"ExecuteStreamCommand","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.sh","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"${\"hdfs_parent_dir_xml\"};${\"databases_xml\"};${\"consumed_tables_xml\"};2>/dev/null"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"inputPorts":[{"identifier":"8f63d51f-c67d-335f-a62c-75125384eaef","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"outputPorts":[{"identifier":"d4ad6e22-053c-3577-844c-a12e4c6b16da","name":"OutputHDFSTransfer","comments":"","position":{"x":216.0,"y":2016.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"connections":[{"identifier":"ab52874c-08f1-3777-afa7-6f93aaddcc7b","name":"","source":{"id":"cb2c45e3-764f-3cb7-a81a-608fcb6d14f5","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ConvertAvroToORC","comments":""},"destination":{"id":"c71229ee-d5f8-39ad-a296-57c2fc4173c0","type":"FUNNEL","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"f4f1d2b0-cca1-37a2-8404-57a04ce0017e","name":"","source":{"id":"cb2c45e3-764f-3cb7-a81a-608fcb6d14f5","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ConvertAvroToORC","comments":""},"destination":{"id":"f9549bec-fcb6-33ca-ad98-31cf61b0f6f8","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"ea2326c9-3f15-3e47-842c-c54c57d42ea9","name":"","source":{"id":"f9549bec-fcb6-33ca-ad98-31cf61b0f6f8","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"PutHDFS","comments":""},"destination":{"id":"d4ad6e22-053c-3577-844c-a12e4c6b16da","type":"OUTPUT_PORT","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"OutputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"f38919b4-9164-3f50-aeb5-db20162759d5","name":"","source":{"id":"659dd95e-b1ea-39d8-9de7-af720ae7209c","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ExtractText","comments":""},"destination":{"id":"3c167ce3-3151-3fee-8164-995ddf7ee929","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"38a440cc-050d-3d89-8b6b-a512c73a5eea","name":"","source":{"id":"3c167ce3-3151-3fee-8164-995ddf7ee929","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"UpdateAttribute","comments":""},"destination":{"id":"29912c6c-6c4d-36df-a302-04760843fecb","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"FetchAzureDataLakeStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"2164a0c3-7e63-3d6b-8dfe-9ddb3e450004","name":"","source":{"id":"29912c6c-6c4d-36df-a302-04760843fecb","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"FetchAzureDataLakeStorage","comments":""},"destination":{"id":"72935ba1-405b-35f0-ad32-56c056b9dbd5","type":"FUNNEL","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"70d4a8dc-bacb-3b1c-bded-d60a13e151cc","name":"","source":{"id":"d82241f3-a2a3-38c4-a5ec-ca7ef75eb560","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"01a01ee7-5636-3c4d-bdbc-6973eb8e33ee","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"bf5b8401-a85d-389c-8edf-90733880d8ed","name":"","source":{"id":"01f4e7c6-2571-356b-bc34-c140e796801e","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"MergeContent","comments":""},"destination":{"id":"cb2c45e3-764f-3cb7-a81a-608fcb6d14f5","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ConvertAvroToORC","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"52a3a570-2317-35d3-ac6e-d37af8ddcd80","name":"","source":{"id":"29912c6c-6c4d-36df-a302-04760843fecb","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"FetchAzureDataLakeStorage","comments":""},"destination":{"id":"01f4e7c6-2571-356b-bc34-c140e796801e","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"bd373c9d-91df-3858-96cc-252d184b3198","name":"","source":{"id":"f9549bec-fcb6-33ca-ad98-31cf61b0f6f8","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"PutHDFS","comments":""},"destination":{"id":"9b36f168-5ec4-371a-b918-6ab584dc8e07","type":"FUNNEL","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"bc5d22a3-9159-3b6f-8b6e-2657a6242130","name":"","source":{"id":"8f63d51f-c67d-335f-a62c-75125384eaef","type":"INPUT_PORT","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"InputHDFSTransfer","comments":""},"destination":{"id":"111378ea-c181-3f57-b3a8-cd80f60bc193","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"42ab62d2-ee08-3d88-bfdd-61c23fcabe95","name":"","source":{"id":"01a01ee7-5636-3c4d-bdbc-6973eb8e33ee","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"SplitText","comments":""},"destination":{"id":"659dd95e-b1ea-39d8-9de7-af720ae7209c","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ExtractText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"5e5ee097-3410-31b6-844d-2efb4f63e0f0","name":"","source":{"id":"111378ea-c181-3f57-b3a8-cd80f60bc193","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"01a01ee7-5636-3c4d-bdbc-6973eb8e33ee","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"529a974b-f6ec-39a9-b74e-3ef981cc77dc","name":"","source":{"id":"8f63d51f-c67d-335f-a62c-75125384eaef","type":"INPUT_PORT","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"InputHDFSTransfer","comments":""},"destination":{"id":"d82241f3-a2a3-38c4-a5ec-ca7ef75eb560","type":"PROCESSOR","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-136.0,"y":856.0},{"x":112.0,"y":616.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"labels":[{"identifier":"492812ae-2a78-34bf-9cf3-5347948aadd4","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"4cf77d0a-a133-3d9f-8bfb-da2623c3dd32","position":{"x":536.0,"y":1872.0},"label":"This needs to be to the staging dir","width":232.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"funnels":[{"identifier":"9b36f168-5ec4-371a-b918-6ab584dc8e07","position":{"x":-224.0,"y":1608.0},"componentType":"FUNNEL","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"72935ba1-405b-35f0-ad32-56c056b9dbd5","position":{"x":-304.0,"y":1224.0},"componentType":"FUNNEL","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"},{"identifier":"c71229ee-d5f8-39ad-a296-57c2fc4173c0","position":{"x":-208.0,"y":1432.0},"componentType":"FUNNEL","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"controllerServices":[{"identifier":"21b160ca-ead6-3236-b665-b6a2edd364f4","name":"KeytabCredentialsService","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/on_prem_hdfs/srv_repl_onprem.keytab","Kerberos Principal":"srv_repl@DEV.ZONE1.COM"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"186dcbcd-4a5c-3c83-9459-f34e9286a97e"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"20799f09-8687-38bd-aedc-889ebd07a383","name":"HDFS Transfer Direct","comments":"","position":{"x":1072.0,"y":1136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"947b13cb-9e70-3c2b-8118-8df9ee35d062","name":"GenerateFlowFile","comments":"","position":{"x":120.0,"y":576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"100 secs","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"100 secs","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"c4519382-d65f-31ac-a341-ebefc01a9a83","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"21bbadfd-ae96-3514-94ea-ef6c44d366e2","name":"PutHDFS","comments":"","position":{"x":152.0,"y":1760.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/tmp/on_prem_hdfs/core-site.xml,/tmp/on_prem_hdfs/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"ac8d9e51-5220-3220-ace5-ca6ec71705ea","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"/tmp/public_cloud_test","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"acb5da21-676f-3905-900f-a3bbd3b5fe9f","name":"FetchAzureDataLakeStorage","comments":"","position":{"x":152.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","properties":{"filesystem-name":"datafs","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"ff75604b-65d1-3d19-b4fe-623837e0ae6e","directory-name":"${\"azure_path\"}","file-name":"${\"azure_filename\"}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"b405213a-ff47-3370-b05d-d7ce4db986ff","name":"ConvertAvroToORC","comments":"","position":{"x":152.0,"y":1568.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hive.ConvertAvroToORC","properties":{"orc-config-resources":null,"orc-buffer-size":"10 KB","orc-compression-type":"NONE","orc-stripe-size":"64 MB","orc-hive-table-name":null},"propertyDescriptors":{"orc-config-resources":{"name":"orc-config-resources","displayName":"ORC Configuration Resources","identifiesControllerService":false,"sensitive":false},"orc-buffer-size":{"name":"orc-buffer-size","displayName":"Buffer Size","identifiesControllerService":false,"sensitive":false},"orc-compression-type":{"name":"orc-compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"orc-stripe-size":{"name":"orc-stripe-size","displayName":"Stripe Size","identifiesControllerService":false,"sensitive":false},"orc-hive-table-name":{"name":"orc-hive-table-name","displayName":"Hive Table Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"4188ce4b-0ccf-3068-9505-69b84ad24872","name":"ExtractText","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"bc2b4a42-ef0f-3c9e-8125-24bdb47ff182","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"28cc46ac-52b3-397d-8680-7b9b4bd94f48","name":"ExecuteStreamCommand","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.sh","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"${\"hdfs_parent_dir_xml\"};${\"databases_xml\"};${\"consumed_tables_xml\"};2>/dev/null"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"49af833d-3e48-30c2-a7f5-a91555d4c8bd","name":"MergeContent","comments":"","position":{"x":152.0,"y":1384.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":"128 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"64 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Avro","Footer File":null,"Max Bin Age":"60 secs","Demarcator File":null,"Correlation Attribute Name":"azure_path","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"inputPorts":[{"identifier":"54e3aed7-ee83-3293-8ec8-ae848bee9a6f","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"outputPorts":[{"identifier":"ac97f1a0-4cad-39b9-9592-b1c8b8b2c303","name":"OutputHDFSTransfer","comments":"","position":{"x":208.0,"y":1976.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"connections":[{"identifier":"04536d37-ef18-39fb-a13d-497ca5648bb1","name":"","source":{"id":"b405213a-ff47-3370-b05d-d7ce4db986ff","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ConvertAvroToORC","comments":""},"destination":{"id":"21bbadfd-ae96-3514-94ea-ef6c44d366e2","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"54469e23-0173-3138-a6df-a3abca8e5f5b","name":"","source":{"id":"21bbadfd-ae96-3514-94ea-ef6c44d366e2","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"PutHDFS","comments":""},"destination":{"id":"ac97f1a0-4cad-39b9-9592-b1c8b8b2c303","type":"OUTPUT_PORT","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"OutputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"e4113333-455a-3ddb-830f-609797b25d19","name":"","source":{"id":"21bbadfd-ae96-3514-94ea-ef6c44d366e2","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"PutHDFS","comments":""},"destination":{"id":"9b1d5958-be28-380d-9995-0df194a68df5","type":"FUNNEL","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"2de5f476-c9ce-3fd0-8eeb-055ec1ad7761","name":"","source":{"id":"947b13cb-9e70-3c2b-8118-8df9ee35d062","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"GenerateFlowFile","comments":""},"destination":{"id":"28cc46ac-52b3-397d-8680-7b9b4bd94f48","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"312763f4-6d8d-3011-a7b4-312b183ded90","name":"","source":{"id":"28cc46ac-52b3-397d-8680-7b9b4bd94f48","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"bc2b4a42-ef0f-3c9e-8125-24bdb47ff182","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"c17bd2fe-6b32-3d7c-8903-ebaff8afde8b","name":"","source":{"id":"4188ce4b-0ccf-3068-9505-69b84ad24872","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ExtractText","comments":""},"destination":{"id":"c4519382-d65f-31ac-a341-ebefc01a9a83","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"6fc75dd4-be54-3155-bee4-da11f64c2050","name":"","source":{"id":"c4519382-d65f-31ac-a341-ebefc01a9a83","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"UpdateAttribute","comments":""},"destination":{"id":"acb5da21-676f-3905-900f-a3bbd3b5fe9f","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"FetchAzureDataLakeStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"bee71901-7e58-38d3-9c1b-571e7cb746f1","name":"","source":{"id":"49af833d-3e48-30c2-a7f5-a91555d4c8bd","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"MergeContent","comments":""},"destination":{"id":"b405213a-ff47-3370-b05d-d7ce4db986ff","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ConvertAvroToORC","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"d8fa1978-ad8a-3fae-8c05-263e55ac45fc","name":"","source":{"id":"bc2b4a42-ef0f-3c9e-8125-24bdb47ff182","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"SplitText","comments":""},"destination":{"id":"4188ce4b-0ccf-3068-9505-69b84ad24872","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ExtractText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"6b739f97-c224-3dd6-a75b-87b4dfd4bece","name":"","source":{"id":"acb5da21-676f-3905-900f-a3bbd3b5fe9f","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"FetchAzureDataLakeStorage","comments":""},"destination":{"id":"49af833d-3e48-30c2-a7f5-a91555d4c8bd","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"f33f14b1-d047-3a9a-bdff-ff954fce3122","name":"","source":{"id":"b405213a-ff47-3370-b05d-d7ce4db986ff","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ConvertAvroToORC","comments":""},"destination":{"id":"4783ebb7-5c67-3bd8-a1f7-82e7c54dfe5d","type":"FUNNEL","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"0a243504-6b67-3121-abbd-102c68faa6ac","name":"","source":{"id":"acb5da21-676f-3905-900f-a3bbd3b5fe9f","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"FetchAzureDataLakeStorage","comments":""},"destination":{"id":"f4606489-3964-35c4-8870-d486e6d75b46","type":"FUNNEL","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"7666ddf9-d195-3d48-b371-27f662d36faa","name":"","source":{"id":"54e3aed7-ee83-3293-8ec8-ae848bee9a6f","type":"INPUT_PORT","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"InputHDFSTransfer","comments":""},"destination":{"id":"28cc46ac-52b3-397d-8680-7b9b4bd94f48","type":"PROCESSOR","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"labels":[{"identifier":"605e4b6b-dc0d-35d2-804f-c430f96da7dc","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"funnels":[{"identifier":"9b1d5958-be28-380d-9995-0df194a68df5","position":{"x":-224.0,"y":1608.0},"componentType":"FUNNEL","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"4783ebb7-5c67-3bd8-a1f7-82e7c54dfe5d","position":{"x":-216.0,"y":1432.0},"componentType":"FUNNEL","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"},{"identifier":"f4606489-3964-35c4-8870-d486e6d75b46","position":{"x":-304.0,"y":1224.0},"componentType":"FUNNEL","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"controllerServices":[{"identifier":"ac8d9e51-5220-3220-ace5-ca6ec71705ea","name":"KeytabCredentialsService","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/on_prem_hdfs/srv_repl_onprem.keytab","Kerberos Principal":"srv_repl@DEV.ZONE1.COM"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"20799f09-8687-38bd-aedc-889ebd07a383"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"XMLParser","comments":"","position":{"x":1380.0,"y":886.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7773c64e-c367-337c-b49a-b27dea943ea3","name":"QueryRecord","comments":"","position":{"x":1440.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"3e1a8d33-43b6-39a0-b952-20712e47dd84","record-reader":"1ddef3bb-2d7a-34b1-af50-e8cff974d614","include-zero-record-flowfiles":"true","dbf-default-scale":"0","ff_contents":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"ff_contents":{"name":"ff_contents","displayName":"ff_contents","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"a179c50c-94fc-39c6-9e3d-ade057f15f6f","name":"EvaluateJsonPath","comments":"","position":{"x":1448.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","db_open_schema":"$.property.[*].[?(@.name=='edmhdpif.config.sri.open.schema')].value","open_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.sri.open.partition.name')].value","path_xml":"$.property.[*].[?(@.name=='edmhdpif.config.path')].value","sourcesystem_xml":"$.property.[*].[?(@.name=='edmhdpif.config.source')].value","db_nonopen_schema":"$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.schema')].value","Return Type":"json","type_xml":"$.property.[*].[?(@.name=='edmhdpif.config.type')].value","db_storage_schema":"$.property.[*].[?(@.name=='edmhdpif.config.storage.schema')].value","storage_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.storage.partition.name')].value","status_file_location_xml":"$.property.[*].[?(@.name=='edmhdpif.config.statusfile.location')].value","Null Value Representation":"empty string","nonopen_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.partition.name')].value","country_xml":"$.property.[*].[?(@.name=='edmhdpif.config.country')].value","consumed_tables_xml":"$.property.[*].[?(@.name=='edmhdpif.config.consumed.tables')].value","kerberos_keytab_xml":"$.property.[*].[?(@.name=='edmhdpif.config.kerberos.keytab.path')].value","Path Not Found Behavior":"ignore","hdfs_parent_dir_xml":"$.property.[*].[?(@.name=='edmhdpif.config.hdfs.data.parent.dir')].value","nfs_location_xml":"$.property.[*].[?(@.name=='edmhdpif.config.source.nfs.locatio\nn')].value","kerberos_principal_xml":"$.property.[*].[?(@.name=='edmhdpif.config.kerberos.principal')].value"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"db_open_schema":{"name":"db_open_schema","displayName":"db_open_schema","identifiesControllerService":false,"sensitive":false},"open_partition_name":{"name":"open_partition_name","displayName":"open_partition_name","identifiesControllerService":false,"sensitive":false},"path_xml":{"name":"path_xml","displayName":"path_xml","identifiesControllerService":false,"sensitive":false},"sourcesystem_xml":{"name":"sourcesystem_xml","displayName":"sourcesystem_xml","identifiesControllerService":false,"sensitive":false},"db_nonopen_schema":{"name":"db_nonopen_schema","displayName":"db_nonopen_schema","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"type_xml":{"name":"type_xml","displayName":"type_xml","identifiesControllerService":false,"sensitive":false},"db_storage_schema":{"name":"db_storage_schema","displayName":"db_storage_schema","identifiesControllerService":false,"sensitive":false},"storage_partition_name":{"name":"storage_partition_name","displayName":"storage_partition_name","identifiesControllerService":false,"sensitive":false},"status_file_location_xml":{"name":"status_file_location_xml","displayName":"status_file_location_xml","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"nonopen_partition_name":{"name":"nonopen_partition_name","displayName":"nonopen_partition_name","identifiesControllerService":false,"sensitive":false},"country_xml":{"name":"country_xml","displayName":"country_xml","identifiesControllerService":false,"sensitive":false},"consumed_tables_xml":{"name":"consumed_tables_xml","displayName":"consumed_tables_xml","identifiesControllerService":false,"sensitive":false},"kerberos_keytab_xml":{"name":"kerberos_keytab_xml","displayName":"kerberos_keytab_xml","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"hdfs_parent_dir_xml":{"name":"hdfs_parent_dir_xml","displayName":"hdfs_parent_dir_xml","identifiesControllerService":false,"sensitive":false},"nfs_location_xml":{"name":"nfs_location_xml","displayName":"nfs_location_xml","identifiesControllerService":false,"sensitive":false},"kerberos_principal_xml":{"name":"kerberos_principal_xml","displayName":"kerberos_principal_xml","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"9aabaff3-58d9-3068-8a24-1eb2f655be23","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":920.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"db_partition_map":"${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${db_storage_schema:isEmpty():not()})}):ifElse(\"${db_nonopen_schema}:${nonopen_partition_name},\",\"${db_nonopen_schema}:${nonopen_partition_name}\"):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse(\"${db_open_schema}:${open_partition_name},\",\"${db_open_schema}:${open_partition_name}\")}):append(${db_storage_schema:isEmpty():not():ifElse(\"${db_storage_schema}:${storage_partition_name}\",\"\")})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"databases_xml":"${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${b_storage_schema:isEmpty():not()})}):ifElse(\"${db_nonopen_schema},\",${\"db_nonopn_schema\"}):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse(\"${db_open_schema},\",${\"db_open_schema\"})}):append(${\"db_storage_schema\"})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"db_partition_map":{"name":"db_partition_map","displayName":"db_partition_map","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"databases_xml":{"name":"databases_xml","displayName":"databases_xml","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"62f2e49d-6885-3f66-9c5b-89dc6f71b77c","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"db_open_schema":"${databases:contains('SRI_OPEN'):ifElse(${db_open_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","open_partition_name":"${open_partition_name:jsonPath('$[0]')}","path_xml":"${path_xml:jsonPath('$[0]')}","sourcesystem_xml":"${sourcesystem_xml:jsonPath('$[0]')}","db_nonopen_schema":"${databases:contains('SRI_NONOPEN'):ifElse(${db_nonopen_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","type_xml":"${type_xml:jsonPath('$[0]')}","db_storage_schema":"${databases:contains('STORAGE'):ifElse(${db_storage_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","storage_partition_name":"${storage_partition_name:jsonPath('$[0]')}","status_file_location_xml":"${status_file_location_xml:jsonPath('$[0]')}","nonopen_partition_name":"${nonopen_partition_name:jsonPath('$[0]')}","Stateful Variables Initial Value":null,"country_xml":"${country_xml:jsonPath('$[0]')}","consumed_tables_xml":"${consumed_tables_xml:jsonPath('$[0]')}","kerberos_keytab_xml":"${kerberos_keytab_xml:jsonPath('$[0]')}","hdfs_parent_dir_xml":"${hdfs_parent_dir_xml:jsonPath('$[0]'):substringBefore('$')}${sourcesystem_xml:jsonPath('$[0]')}/hdata","Delete Attributes Expression":null,"nfs_location_xml":"${nfs_location_xml:jsonPath('$[0]')}","kerberos_principal_xml":"${kerberos_principal_xml:jsonPath('$[0]')}"},"propertyDescriptors":{"db_open_schema":{"name":"db_open_schema","displayName":"db_open_schema","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"open_partition_name":{"name":"open_partition_name","displayName":"open_partition_name","identifiesControllerService":false,"sensitive":false},"path_xml":{"name":"path_xml","displayName":"path_xml","identifiesControllerService":false,"sensitive":false},"sourcesystem_xml":{"name":"sourcesystem_xml","displayName":"sourcesystem_xml","identifiesControllerService":false,"sensitive":false},"db_nonopen_schema":{"name":"db_nonopen_schema","displayName":"db_nonopen_schema","identifiesControllerService":false,"sensitive":false},"type_xml":{"name":"type_xml","displayName":"type_xml","identifiesControllerService":false,"sensitive":false},"db_storage_schema":{"name":"db_storage_schema","displayName":"db_storage_schema","identifiesControllerService":false,"sensitive":false},"storage_partition_name":{"name":"storage_partition_name","displayName":"storage_partition_name","identifiesControllerService":false,"sensitive":false},"status_file_location_xml":{"name":"status_file_location_xml","displayName":"status_file_location_xml","identifiesControllerService":false,"sensitive":false},"nonopen_partition_name":{"name":"nonopen_partition_name","displayName":"nonopen_partition_name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"country_xml":{"name":"country_xml","displayName":"country_xml","identifiesControllerService":false,"sensitive":false},"consumed_tables_xml":{"name":"consumed_tables_xml","displayName":"consumed_tables_xml","identifiesControllerService":false,"sensitive":false},"kerberos_keytab_xml":{"name":"kerberos_keytab_xml","displayName":"kerberos_keytab_xml","identifiesControllerService":false,"sensitive":false},"hdfs_parent_dir_xml":{"name":"hdfs_parent_dir_xml","displayName":"hdfs_parent_dir_xml","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"nfs_location_xml":{"name":"nfs_location_xml","displayName":"nfs_location_xml","identifiesControllerService":false,"sensitive":false},"kerberos_principal_xml":{"name":"kerberos_principal_xml","displayName":"kerberos_principal_xml","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"}],"inputPorts":[{"identifier":"56737ebe-27cf-3b58-9aa0-99efc2895ca6","name":"XMLParserInput","comments":"","position":{"x":808.0,"y":496.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"}],"outputPorts":[{"identifier":"12ed7b4e-eca0-33c2-b606-34fc24b149ac","name":"XMLParserOutput","comments":"","position":{"x":816.0,"y":1160.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"}],"connections":[{"identifier":"64d1d6a4-fbbb-376a-b9fa-8aaae3e88c5a","name":"","source":{"id":"9aabaff3-58d9-3068-8a24-1eb2f655be23","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"UpdateAttribute","comments":""},"destination":{"id":"12ed7b4e-eca0-33c2-b606-34fc24b149ac","type":"OUTPUT_PORT","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"XMLParserOutput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"672c1300-f93a-3572-b5b2-9743c9e24aaf","name":"","source":{"id":"62f2e49d-6885-3f66-9c5b-89dc6f71b77c","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"UpdateAttribute","comments":""},"destination":{"id":"9aabaff3-58d9-3068-8a24-1eb2f655be23","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"a5e39d56-7dee-3532-9e1f-cc8f04b333b7","name":"","source":{"id":"56737ebe-27cf-3b58-9aa0-99efc2895ca6","type":"INPUT_PORT","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"XMLParserInput","comments":""},"destination":{"id":"7773c64e-c367-337c-b49a-b27dea943ea3","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"QueryRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"277b1b78-1f31-391b-b12c-df561da70b19","name":"","source":{"id":"7773c64e-c367-337c-b49a-b27dea943ea3","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"QueryRecord","comments":""},"destination":{"id":"465eef37-ad26-3c52-8666-6f20ebc72e92","type":"FUNNEL","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"b3b625fd-f0f7-3645-82ab-53dd4ef1bae5","name":"","source":{"id":"a179c50c-94fc-39c6-9e3d-ade057f15f6f","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"EvaluateJsonPath","comments":""},"destination":{"id":"62f2e49d-6885-3f66-9c5b-89dc6f71b77c","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"b4b7dafc-fd22-3bd5-a321-9da1ddc606db","name":"","source":{"id":"7773c64e-c367-337c-b49a-b27dea943ea3","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"QueryRecord","comments":""},"destination":{"id":"a179c50c-94fc-39c6-9e3d-ade057f15f6f","type":"PROCESSOR","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ff_contents"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"}],"labels":[],"funnels":[{"identifier":"465eef37-ad26-3c52-8666-6f20ebc72e92","position":{"x":1592.0,"y":304.0},"componentType":"FUNNEL","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"}],"controllerServices":[{"identifier":"3e1a8d33-43b6-39a0-b952-20712e47dd84","name":"JsonRecordSetWriter_TEST","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"},{"identifier":"1ddef3bb-2d7a-34b1-af50-e8cff974d614","name":"XMLReader_TEST","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\"namespace\": \"nifi\",\n\"name\": \"configuration\",\n\"type\": \"record\",\n\"fields\": [\n{ \"name\": \"property\",\n\"type\": {\n\"type\": \"array\",\n\"items\": {\n\"name\": \"RecordInArray\",\n\"type\": \"record\",\n\"fields\" : [\n{\"name\": \"name\", \"type\": \"string\"},\n{\"name\": \"value\", \"type\": \"string\"}\n]\n}}}\n]\n}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"809a55ff-ed21-3f31-8a72-a5de22e93164"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"CoreSite XMLParser","comments":"","position":{"x":752.0,"y":416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"80f493f1-b951-37e1-81bd-44d06ec75c60","name":"FetchFile","comments":"","position":{"x":1416.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"e116e536-b1aa-3316-9372-141342d445f9","name":"EvaluateJsonPath","comments":"","position":{"x":1416.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","abfs_location":"$.property.[*].[?(@.name=='fs.defaultFS')].value","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"abfs_location":{"name":"abfs_location","displayName":"abfs_location","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"06ba199d-0455-3676-b129-685e52fc1f06","name":"QueryRecord","comments":"","position":{"x":1416.0,"y":664.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"c66c8c16-5c3a-3bfb-b687-cd14e7f7ac82","record-reader":"cbae2f01-03e8-3cdf-976e-9f3cc262169b","include-zero-record-flowfiles":"true","dbf-default-scale":"0","ff_contents":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"ff_contents":{"name":"ff_contents","displayName":"ff_contents","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"cb3e1b95-2a8f-37fc-b6f1-ab113a4c8589","name":"UpdateAttribute","comments":"","position":{"x":768.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"abfs_location":"${abfs_location:jsonPath('$[0]'):substringBeforeLast(\"/\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"abfs_location":{"name":"abfs_location","displayName":"abfs_location","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"}],"inputPorts":[{"identifier":"f99cb23e-7e85-3b5d-b554-75d5405f4fcb","name":"XMLParserInput","comments":"","position":{"x":808.0,"y":496.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"}],"outputPorts":[{"identifier":"bc23cef4-b09e-37da-8130-78228b0287af","name":"XMLParserOutput","comments":"","position":{"x":816.0,"y":1080.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"}],"connections":[{"identifier":"d01b4d18-5aab-32fe-a9e4-9d2d8cbbe8ad","name":"","source":{"id":"f99cb23e-7e85-3b5d-b554-75d5405f4fcb","type":"INPUT_PORT","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"XMLParserInput","comments":""},"destination":{"id":"80f493f1-b951-37e1-81bd-44d06ec75c60","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"f106aad5-41d9-3fc7-b1e8-f2ad898e053c","name":"","source":{"id":"06ba199d-0455-3676-b129-685e52fc1f06","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"QueryRecord","comments":""},"destination":{"id":"e116e536-b1aa-3316-9372-141342d445f9","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ff_contents"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"28c65090-dba9-3d75-be05-5c8e771c4105","name":"","source":{"id":"e116e536-b1aa-3316-9372-141342d445f9","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"EvaluateJsonPath","comments":""},"destination":{"id":"cb3e1b95-2a8f-37fc-b6f1-ab113a4c8589","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"d1724909-25c7-3339-bb41-0f7098c22067","name":"","source":{"id":"80f493f1-b951-37e1-81bd-44d06ec75c60","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"FetchFile","comments":""},"destination":{"id":"58fd51a3-3b4b-39fd-8bd2-f64d2b66b0f5","type":"FUNNEL","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"6b5b9819-0795-3ccf-a2f1-c9beb79d4214","name":"","source":{"id":"80f493f1-b951-37e1-81bd-44d06ec75c60","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"FetchFile","comments":""},"destination":{"id":"06ba199d-0455-3676-b129-685e52fc1f06","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"QueryRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"98171db5-6068-367b-88f5-ab3c13f2952f","name":"","source":{"id":"cb3e1b95-2a8f-37fc-b6f1-ab113a4c8589","type":"PROCESSOR","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"UpdateAttribute","comments":""},"destination":{"id":"bc23cef4-b09e-37da-8130-78228b0287af","type":"OUTPUT_PORT","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"XMLParserOutput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"}],"labels":[],"funnels":[{"identifier":"58fd51a3-3b4b-39fd-8bd2-f64d2b66b0f5","position":{"x":2112.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"}],"controllerServices":[{"identifier":"c66c8c16-5c3a-3bfb-b687-cd14e7f7ac82","name":"JsonRecordSetWriter_TEST","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"},{"identifier":"cbae2f01-03e8-3cdf-976e-9f3cc262169b","name":"XMLReader_TEST","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\"namespace\": \"nifi\",\n\"name\": \"configuration\",\n\"type\": \"record\",\n\"fields\": [\n{ \"name\": \"property\",\n\"type\": {\n\"type\": \"array\",\n\"items\": {\n\"name\": \"RecordInArray\",\n\"type\": \"record\",\n\"fields\" : [\n{\"name\": \"name\", \"type\": \"string\"},\n{\"name\": \"value\", \"type\": \"string\"}\n]\n}}}\n]\n}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"231d8fce-4595-36f9-9381-8d55f5f5c00c"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"}],"remoteProcessGroups":[],"processors":[{"identifier":"2251bfbb-2905-3745-a7c5-c90b8695663a","name":"UpdateAttribute","comments":"","position":{"x":776.0,"y":664.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"country":"${filename:substringAfter(\"_\"):substringBefore(\"_\")}","databases":"SRI_OPEN,SRI_NONOPEN","Delete Attributes Expression":null,"partition":"${filename:substringAfterLast(\"_\"):substringBefore(\".\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"sourcesystem":"${filename:substringBefore(\"_\")}"},"propertyDescriptors":{"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false},"databases":{"name":"databases","displayName":"databases","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"partition","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sourcesystem":{"name":"sourcesystem","displayName":"sourcesystem","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"4c5e94f9-00b8-36d1-9e8c-29de85545335","name":"SuccessToUpdateHive","comments":"","position":{"x":344.0,"y":2288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"162d3bb4-2264-3efb-847b-c3eef0577779","name":"PutHiveQL","comments":"","position":{"x":576.0,"y":2056.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hive.PutHiveQL","properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":null,"hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"cb411554-5bda-3574-81bb-5501ccf0af76","name":"FailedToUpdateHive","comments":"","position":{"x":808.0,"y":2288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"b5eb46ab-2554-34ad-bf68-23dba484a01b","name":"RECON","comments":"","position":{"x":1248.0,"y":1648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":null,"Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"5726f46b-4935-30bc-a586-b5250790c79b","name":"SparkTokenisation","comments":"","position":{"x":576.0,"y":1392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"ssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"72390e84-aa3c-35bb-bd4c-3528d8d006b4","name":"ListFile","comments":"","position":{"x":768.0,"y":200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":".*_integrated_recon_completion_.*\\.ack","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/tmp/archival","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"d44a66c8-8edd-3ee4-8db3-f76f0cc30ab3","name":"FetchFile","comments":"","position":{"x":1384.0,"y":672.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/tmp/config/${\"sourcesystem\"}_${\"country\"}_params.xml","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"2a35b5ab-2a5b-38b0-9fb5-8679eb6d0518","name":"RouteOnAttribute","comments":"","position":{"x":796.0,"y":910.5},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to 'match' if all match","data_transfer_method":"${type_xml:equals(\"vanilla\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"data_transfer_method":{"name":"data_transfer_method","displayName":"data_transfer_method","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"3df64855-0e90-37cb-a87d-76284cffcb11","name":"SplitText","comments":"","position":{"x":576.0,"y":1840.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"e6ea86a0-0822-379c-9678-9a6493fa55cc","name":"PythonScriptFileChecker","comments":"","position":{"x":576.0,"y":1640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/python_file_checker.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-p;${\"nfs_location_xml\"};-f;${\"status_file_location_xml\"};-s;${\"sourcesystem_xml\"};-c;${\"country_xml\"};-d;${\"\ndatabases\"};-x;${\"partition\"};t;${\"consumed_tables_xml\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"bf8339e0-9fec-3687-85a0-22ebfa90751a","name":"","source":{"id":"e6ea86a0-0822-379c-9678-9a6493fa55cc","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"3df64855-0e90-37cb-a87d-76284cffcb11","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"742283d6-a2d7-345a-bf1a-40a3a616cde4","name":"","source":{"id":"12ed7b4e-eca0-33c2-b606-34fc24b149ac","type":"OUTPUT_PORT","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"XMLParserOutput","comments":""},"destination":{"id":"2a35b5ab-2a5b-38b0-9fb5-8679eb6d0518","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"4b4ca683-4909-340d-8125-108cf2dcd533","name":"","source":{"id":"2a35b5ab-2a5b-38b0-9fb5-8679eb6d0518","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"RouteOnAttribute","comments":""},"destination":{"id":"8f63d51f-c67d-335f-a62c-75125384eaef","type":"INPUT_PORT","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"ccbb3792-c8bf-360e-b904-5e9c695dae56","name":"","source":{"id":"162d3bb4-2264-3efb-847b-c3eef0577779","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PutHiveQL","comments":""},"destination":{"id":"cb411554-5bda-3574-81bb-5501ccf0af76","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"FailedToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"601eef1c-0038-3313-ad35-a9d476d2ac77","name":"","source":{"id":"ac97f1a0-4cad-39b9-9592-b1c8b8b2c303","type":"OUTPUT_PORT","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"OutputHDFSTransfer","comments":""},"destination":{"id":"e6ea86a0-0822-379c-9678-9a6493fa55cc","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PythonScriptFileChecker","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1264.0,"y":1368.0},{"x":1568.0,"y":1368.0},{"x":1568.0,"y":1552.0},{"x":960.0,"y":1552.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"f5c4c5bc-0c76-3552-b06a-a54e5fd24198","name":"","source":{"id":"d4ad6e22-053c-3577-844c-a12e4c6b16da","type":"OUTPUT_PORT","groupId":"186dcbcd-4a5c-3c83-9459-f34e9286a97e","name":"OutputHDFSTransfer","comments":""},"destination":{"id":"5726f46b-4935-30bc-a586-b5250790c79b","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SparkTokenisation","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"308f2ea8-463f-3ba2-8aec-8848b5bfb9e6","name":"","source":{"id":"2251bfbb-2905-3745-a7c5-c90b8695663a","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"UpdateAttribute","comments":""},"destination":{"id":"d44a66c8-8edd-3ee4-8db3-f76f0cc30ab3","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"d6917f72-0600-358f-9877-70393dcf1da4","name":"","source":{"id":"5726f46b-4935-30bc-a586-b5250790c79b","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SparkTokenisation","comments":""},"destination":{"id":"ac5b6b83-2c79-3594-999d-40e72c248760","type":"FUNNEL","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"0c383a43-eaec-3892-b9cf-c22c9f7ed6f4","name":"","source":{"id":"2a35b5ab-2a5b-38b0-9fb5-8679eb6d0518","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"RouteOnAttribute","comments":""},"destination":{"id":"54e3aed7-ee83-3293-8ec8-ae848bee9a6f","type":"INPUT_PORT","groupId":"20799f09-8687-38bd-aedc-889ebd07a383","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"de860b20-f2a1-3999-92e5-813ff28a672a","name":"","source":{"id":"72390e84-aa3c-35bb-bd4c-3528d8d006b4","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"ListFile","comments":""},"destination":{"id":"f99cb23e-7e85-3b5d-b554-75d5405f4fcb","type":"INPUT_PORT","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"XMLParserInput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"b93d27b5-34c8-3630-a18b-8dd4b13bdf8d","name":"","source":{"id":"bc23cef4-b09e-37da-8130-78228b0287af","type":"OUTPUT_PORT","groupId":"231d8fce-4595-36f9-9381-8d55f5f5c00c","name":"XMLParserOutput","comments":""},"destination":{"id":"2251bfbb-2905-3745-a7c5-c90b8695663a","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"624acd6d-2d28-3e68-8070-54516eec67cd","name":"","source":{"id":"e6ea86a0-0822-379c-9678-9a6493fa55cc","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"fdc3bde1-40fc-32d5-ab04-b9ada6da6e32","type":"FUNNEL","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"a3417122-004d-3c8c-8a5d-429680d590d2","name":"","source":{"id":"162d3bb4-2264-3efb-847b-c3eef0577779","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PutHiveQL","comments":""},"destination":{"id":"4c5e94f9-00b8-36d1-9e8c-29de85545335","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SuccessToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"843b0ee1-2383-3295-a2a9-a3e6841ed766","name":"","source":{"id":"d44a66c8-8edd-3ee4-8db3-f76f0cc30ab3","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"FetchFile","comments":""},"destination":{"id":"56737ebe-27cf-3b58-9aa0-99efc2895ca6","type":"INPUT_PORT","groupId":"809a55ff-ed21-3f31-8a72-a5de22e93164","name":"XMLParserInput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"8b38ea05-93ff-33a2-bb04-49a5a40b6986","name":"","source":{"id":"3df64855-0e90-37cb-a87d-76284cffcb11","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SplitText","comments":""},"destination":{"id":"d455ee17-6aed-369b-a8e4-74426a357a6f","type":"FUNNEL","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"3f652cc9-e30e-3531-b7d2-657e1a3529a0","name":"","source":{"id":"d44a66c8-8edd-3ee4-8db3-f76f0cc30ab3","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"FetchFile","comments":""},"destination":{"id":"e3a7c63d-bdec-3fc1-bf42-337aae4f8b63","type":"FUNNEL","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"Funnel","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1864.0,"y":744.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"97abf41d-857e-3060-9d83-2f4c7399e325","name":"","source":{"id":"5726f46b-4935-30bc-a586-b5250790c79b","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SparkTokenisation","comments":""},"destination":{"id":"e6ea86a0-0822-379c-9678-9a6493fa55cc","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PythonScriptFileChecker","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"1005bc44-9d4e-346f-b21d-585c605febbf","name":"","source":{"id":"3df64855-0e90-37cb-a87d-76284cffcb11","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"SplitText","comments":""},"destination":{"id":"162d3bb4-2264-3efb-847b-c3eef0577779","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PutHiveQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"e8068e21-4504-3d20-adcc-cccac0f8dec3","name":"","source":{"id":"e6ea86a0-0822-379c-9678-9a6493fa55cc","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"b5eb46ab-2554-34ad-bf68-23dba484a01b","type":"PROCESSOR","groupId":"5c2faf66-e6f8-3a43-91f2-96cc484fa818","name":"RECON","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"}],"labels":[{"identifier":"920be759-0954-3cca-ae82-66a3cfd1c476","position":{"x":1780.0,"y":942.5},"label":"Extract XML properties \nof value","width":144.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"d506a89f-5567-3b58-8e62-ba34dc7e95f4","position":{"x":828.0,"y":814.5},"label":"Get sourcesystem and country from filename","width":272.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"c6c14c63-58a1-3227-9f76-39580173bf2b","position":{"x":1240.0,"y":1088.0},"label":"Vanilla","width":128.0,"height":24.0,"style":{"background-color":"#d6f6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"c4796556-f747-3761-bba6-89db6a751348","position":{"x":552.0,"y":1096.0},"label":"Interim Stage + Detokenise","width":160.0,"height":24.0,"style":{"background-color":"#d6f6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"a591f270-3d0f-3080-b776-f9353d4dbc15","position":{"x":1312.0,"y":640.0},"label":"Get contents of corresponding params file","width":272.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"f375888a-6b7f-3f9e-8158-4fedf9bb87cf","position":{"x":960.0,"y":1392.0},"label":"Ideally the bash script should be on cloud, as well as the jar.\nSpark is then called from the bash script to the external HDP cluster\n\ni.e.\n\n/bin/spark-submit \\\n  --class <<class>> \\\n  --master spark://HOST:PORT \\\n  --deploy-mode cluster \\\n  /path/to/examples.jar {arg1} {arg2} ..","width":400.0,"height":136.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"06a33cd3-e697-3816-8901-f416b8269528","position":{"x":816.0,"y":144.0},"label":"Pick up acknowledgement file from ADLS","width":256.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"}],"funnels":[{"identifier":"e3a7c63d-bdec-3fc1-bf42-337aae4f8b63","position":{"x":1840.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"ac5b6b83-2c79-3594-999d-40e72c248760","position":{"x":176.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"fdc3bde1-40fc-32d5-ab04-b9ada6da6e32","position":{"x":184.0,"y":1664.0},"componentType":"FUNNEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"},{"identifier":"d455ee17-6aed-369b-a8e4-74426a357a6f","position":{"x":184.0,"y":1872.0},"componentType":"FUNNEL","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"}],"controllerServices":[{"identifier":"ff75604b-65d1-3d19-b4fe-623837e0ae6e","name":"ADLSCredentialsControllerService_TEST","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"storage-use-managed-identity":"false","storage-endpoint-suffix":"dfs.core.windows.net"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"storage-use-managed-identity":{"name":"storage-use-managed-identity","displayName":"Use Azure Managed Identity","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5c2faf66-e6f8-3a43-91f2-96cc484fa818"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}