SCB_Template.json
{"flowContents":{"identifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"22/02 SCB Template","comments":"","position":{"x":752.0,"y":712.0},"processGroups":[{"identifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"XMLParser","comments":"","position":{"x":840.0,"y":864.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bd641e69-3ab7-3ced-897b-ffa00502b0d9","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"db_open_schema":"${databases:contains('SRI_OPEN'):ifElse(${db_open_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","open_partition_name":"${open_partition_name:jsonPath('$[0]')}","path_xml":"${path_xml:jsonPath('$[0]')}","sourcesystem_xml":"${sourcesystem_xml:jsonPath('$[0]')}","db_nonopen_schema":"${databases:contains('SRI_NONOPEN'):ifElse(${db_nonopen_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","storage_staging_dir":"${databases:contains('STORAGE'):ifElse(${storage_staging_dir:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","sri_open_staging_dir":"${databases:contains('SRI_OPEN'):ifElse(${sri_open_staging_dir:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","db_storage_schema":"${databases:contains('STORAGE'):ifElse(${db_storage_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","storage_partition_name":"${storage_partition_name:jsonPath('$[0]')}","status_file_location_xml":"${status_file_location_xml:jsonPath('$[0]')}","nonopen_partition_name":"${nonopen_partition_name:jsonPath('$[0]')}","Stateful Variables Initial Value":null,"country_xml":"${country_xml:jsonPath('$[0]')}","consumed_tables_xml":"${consumed_tables_xml:jsonPath('$[0]')}","kerberos_keytab_xml":"${kerberos_keytab_xml:jsonPath('$[0]')}","hdfs_parent_dir_xml":"${hdfs_parent_dir_xml:jsonPath('$[0]'):substringBefore('$')}${sourcesystem_xml:jsonPath('$[0]')}/hdata","Delete Attributes Expression":null,"nfs_location_xml":"${nfs_location_xml:jsonPath('$[0]')}","kerberos_principal_xml":"${kerberos_principal_xml:jsonPath('$[0]')}","sri_non_open_staging_dir":"${databases:contains('SRI_NONOPEN'):ifElse(${sri_non_open_staging_dir:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}"},"propertyDescriptors":{"db_open_schema":{"name":"db_open_schema","displayName":"db_open_schema","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"open_partition_name":{"name":"open_partition_name","displayName":"open_partition_name","identifiesControllerService":false,"sensitive":false},"path_xml":{"name":"path_xml","displayName":"path_xml","identifiesControllerService":false,"sensitive":false},"sourcesystem_xml":{"name":"sourcesystem_xml","displayName":"sourcesystem_xml","identifiesControllerService":false,"sensitive":false},"db_nonopen_schema":{"name":"db_nonopen_schema","displayName":"db_nonopen_schema","identifiesControllerService":false,"sensitive":false},"storage_staging_dir":{"name":"storage_staging_dir","displayName":"storage_staging_dir","identifiesControllerService":false,"sensitive":false},"sri_open_staging_dir":{"name":"sri_open_staging_dir","displayName":"sri_open_staging_dir","identifiesControllerService":false,"sensitive":false},"db_storage_schema":{"name":"db_storage_schema","displayName":"db_storage_schema","identifiesControllerService":false,"sensitive":false},"storage_partition_name":{"name":"storage_partition_name","displayName":"storage_partition_name","identifiesControllerService":false,"sensitive":false},"status_file_location_xml":{"name":"status_file_location_xml","displayName":"status_file_location_xml","identifiesControllerService":false,"sensitive":false},"nonopen_partition_name":{"name":"nonopen_partition_name","displayName":"nonopen_partition_name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"country_xml":{"name":"country_xml","displayName":"country_xml","identifiesControllerService":false,"sensitive":false},"consumed_tables_xml":{"name":"consumed_tables_xml","displayName":"consumed_tables_xml","identifiesControllerService":false,"sensitive":false},"kerberos_keytab_xml":{"name":"kerberos_keytab_xml","displayName":"kerberos_keytab_xml","identifiesControllerService":false,"sensitive":false},"hdfs_parent_dir_xml":{"name":"hdfs_parent_dir_xml","displayName":"hdfs_parent_dir_xml","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"nfs_location_xml":{"name":"nfs_location_xml","displayName":"nfs_location_xml","identifiesControllerService":false,"sensitive":false},"kerberos_principal_xml":{"name":"kerberos_principal_xml","displayName":"kerberos_principal_xml","identifiesControllerService":false,"sensitive":false},"sri_non_open_staging_dir":{"name":"sri_non_open_staging_dir","displayName":"sri_non_open_staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"b27ee07d-6f51-3aaf-a485-bbd3ebfd5876","name":"QueryRecord","comments":"","position":{"x":1440.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"4b116173-3746-3dd6-a965-6c3230765293","record-reader":"d1780448-558c-352a-8edf-10c2522a59dc","include-zero-record-flowfiles":"true","dbf-default-scale":"0","ff_contents":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"ff_contents":{"name":"ff_contents","displayName":"ff_contents","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"52add989-9c17-38bb-8475-43c669e3f723","name":"EvaluateJsonPath","comments":"","position":{"x":1448.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","db_open_schema":"$.property.[*].[?(@.name=='edmhdpif.config.sri.open.schema')].value","open_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.sri.open.partition.name')].value","path_xml":"$.property.[*].[?(@.name=='edmhdpif.config.path')].value","sourcesystem_xml":"$.property.[*].[?(@.name=='edmhdpif.config.source')].value","db_nonopen_schema":"$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.schema')].value","storage_staging_dir":"$.property.[*].[?(@.name=='edmhdpif.config.onperm.staging.storage.dir')].value","sri_open_staging_dir":"$.property.[*].[?(@.name=='edmhdpif.config.onperm.staging.sri.open.dir')].value","Return Type":"json","db_storage_schema":"$.property.[*].[?(@.name=='edmhdpif.config.storage.schema')].value","storage_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.storage.partition.name')].value","status_file_location_xml":"$.property.[*].[?(@.name=='edmhdpif.config.statusfile.location')].value","Null Value Representation":"empty string","nonopen_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.partition.name')].value","country_xml":"$.property.[*].[?(@.name=='edmhdpif.config.country')].value","consumed_tables_xml":"$.property.[*].[?(@.name=='edmhdpif.config.consumed.tables')].value","kerberos_keytab_xml":"$.property.[*].[?(@.name=='edmhdpif.config.kerberos.keytab.path')].value","Path Not Found Behavior":"ignore","hdfs_parent_dir_xml":"$.property.[*].[?(@.name=='edmhdpif.config.hdfs.data.parent.dir')].value","nfs_location_xml":"$.property.[*].[?(@.name=='edmhdpif.config.source.nfs.location')].value","kerberos_principal_xml":"$.property.[*].[?(@.name=='edmhdpif.config.kerberos.principal')].value","sri_non_open_staging_dir":"$.property.[*].[?(@.name=='edmhdpif.config.onperm.staging.sri.nonopen.dir')].value"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"db_open_schema":{"name":"db_open_schema","displayName":"db_open_schema","identifiesControllerService":false,"sensitive":false},"open_partition_name":{"name":"open_partition_name","displayName":"open_partition_name","identifiesControllerService":false,"sensitive":false},"path_xml":{"name":"path_xml","displayName":"path_xml","identifiesControllerService":false,"sensitive":false},"sourcesystem_xml":{"name":"sourcesystem_xml","displayName":"sourcesystem_xml","identifiesControllerService":false,"sensitive":false},"db_nonopen_schema":{"name":"db_nonopen_schema","displayName":"db_nonopen_schema","identifiesControllerService":false,"sensitive":false},"storage_staging_dir":{"name":"storage_staging_dir","displayName":"storage_staging_dir","identifiesControllerService":false,"sensitive":false},"sri_open_staging_dir":{"name":"sri_open_staging_dir","displayName":"sri_open_staging_dir","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"db_storage_schema":{"name":"db_storage_schema","displayName":"db_storage_schema","identifiesControllerService":false,"sensitive":false},"storage_partition_name":{"name":"storage_partition_name","displayName":"storage_partition_name","identifiesControllerService":false,"sensitive":false},"status_file_location_xml":{"name":"status_file_location_xml","displayName":"status_file_location_xml","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"nonopen_partition_name":{"name":"nonopen_partition_name","displayName":"nonopen_partition_name","identifiesControllerService":false,"sensitive":false},"country_xml":{"name":"country_xml","displayName":"country_xml","identifiesControllerService":false,"sensitive":false},"consumed_tables_xml":{"name":"consumed_tables_xml","displayName":"consumed_tables_xml","identifiesControllerService":false,"sensitive":false},"kerberos_keytab_xml":{"name":"kerberos_keytab_xml","displayName":"kerberos_keytab_xml","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"hdfs_parent_dir_xml":{"name":"hdfs_parent_dir_xml","displayName":"hdfs_parent_dir_xml","identifiesControllerService":false,"sensitive":false},"nfs_location_xml":{"name":"nfs_location_xml","displayName":"nfs_location_xml","identifiesControllerService":false,"sensitive":false},"kerberos_principal_xml":{"name":"kerberos_principal_xml","displayName":"kerberos_principal_xml","identifiesControllerService":false,"sensitive":false},"sri_non_open_staging_dir":{"name":"sri_non_open_staging_dir","displayName":"sri_non_open_staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"8ae56377-0179-309f-a7ae-feb0f38180bf","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":920.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"db_partition_map":"${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${db_storage_schema:isEmpty():not()})}):ifElse(\"${db_nonopen_schema}:${nonopen_partition_name},\",\"${db_nonopen_schema}:${nonopen_partition_name}\"):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse(\"${db_open_schema}:${open_partition_name},\",\"${db_open_schema}:${open_partition_name}\")}):append(${db_storage_schema:isEmpty():not():ifElse(\"${db_storage_schema}:${storage_partition_name}\",\"\")})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sri_open_staging_dir":"${sri_open_staging_dir:prepend(${\"hdfs_parent_dir_xml\":append(\"/\")})}","Stateful Variables Initial Value":null,"sri_non_open_staging_dir":"${sri_non_open_staging_dir:prepend(${\"hdfs_parent_dir_xml\":append(\"/\")})}","databases_xml":"${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${db_storage_schema:isEmpty():not()})}):ifElse(\"${db_nonopen_schema},\",${\"db_nonopn_schema\"}):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse(\"${db_open_schema},\",${\"db_open_schema\"})}):append(${\"db_storage_schema\"})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"db_partition_map":{"name":"db_partition_map","displayName":"db_partition_map","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sri_open_staging_dir":{"name":"sri_open_staging_dir","displayName":"sri_open_staging_dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sri_non_open_staging_dir":{"name":"sri_non_open_staging_dir","displayName":"sri_non_open_staging_dir","identifiesControllerService":false,"sensitive":false},"databases_xml":{"name":"databases_xml","displayName":"databases_xml","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"}],"inputPorts":[{"identifier":"6f36c94e-fc29-3602-855d-c46e7a2b5a77","name":"XMLParserInput","comments":"","position":{"x":808.0,"y":496.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"}],"outputPorts":[{"identifier":"f461f7e9-5caf-33fe-9f2d-475df7bc24fa","name":"XMLParserOutput","comments":"","position":{"x":816.0,"y":1160.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"}],"connections":[{"identifier":"2138ed93-229e-35de-98ad-75486c28816e","name":"","source":{"id":"b27ee07d-6f51-3aaf-a485-bbd3ebfd5876","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"QueryRecord","comments":""},"destination":{"id":"52add989-9c17-38bb-8475-43c669e3f723","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ff_contents"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"a929adff-e097-3f2f-91b8-0d33227c00b3","name":"","source":{"id":"b27ee07d-6f51-3aaf-a485-bbd3ebfd5876","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"QueryRecord","comments":""},"destination":{"id":"e6719433-a530-3443-920a-a8dd38154b43","type":"FUNNEL","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"b0b08e52-d2de-34f3-8b32-9bcc25e9b927","name":"","source":{"id":"52add989-9c17-38bb-8475-43c669e3f723","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"EvaluateJsonPath","comments":""},"destination":{"id":"bd641e69-3ab7-3ced-897b-ffa00502b0d9","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"c607705e-38ab-3ea2-b473-1b8133cae5ef","name":"","source":{"id":"bd641e69-3ab7-3ced-897b-ffa00502b0d9","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"UpdateAttribute","comments":""},"destination":{"id":"8ae56377-0179-309f-a7ae-feb0f38180bf","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"c0a49746-27e0-37ce-8ff3-ee5bab014fa4","name":"","source":{"id":"8ae56377-0179-309f-a7ae-feb0f38180bf","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"UpdateAttribute","comments":""},"destination":{"id":"f461f7e9-5caf-33fe-9f2d-475df7bc24fa","type":"OUTPUT_PORT","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"XMLParserOutput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"99ea3803-86cc-3fea-9453-2ae52cc69ba6","name":"","source":{"id":"6f36c94e-fc29-3602-855d-c46e7a2b5a77","type":"INPUT_PORT","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"XMLParserInput","comments":""},"destination":{"id":"b27ee07d-6f51-3aaf-a485-bbd3ebfd5876","type":"PROCESSOR","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"QueryRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"}],"labels":[],"funnels":[{"identifier":"e6719433-a530-3443-920a-a8dd38154b43","position":{"x":1592.0,"y":304.0},"componentType":"FUNNEL","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"}],"controllerServices":[{"identifier":"d1780448-558c-352a-8edf-10c2522a59dc","name":"XMLReader_TEST","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\"namespace\": \"nifi\",\n\"name\": \"configuration\",\n\"type\": \"record\",\n\"fields\": [\n{ \"name\": \"property\",\n\"type\": {\n\"type\": \"array\",\n\"items\": {\n\"name\": \"RecordInArray\",\n\"type\": \"record\",\n\"fields\" : [\n{\"name\": \"name\", \"type\": \"string\"},\n{\"name\": \"value\", \"type\": \"string\"}\n]\n}}}\n]\n}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"},{"identifier":"4b116173-3746-3dd6-a965-6c3230765293","name":"JsonRecordSetWriter_TEST","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9df4051e-9b8d-3fc4-a69d-a429368e3d77"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"CoreSite XMLParser","comments":"","position":{"x":752.0,"y":416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cfa98cf6-56e1-3e89-9bc0-5133834907b8","name":"QueryRecord","comments":"","position":{"x":1416.0,"y":664.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"df630c0c-f000-3b38-8c5d-c4e3c0e4d894","record-reader":"f485966c-8baa-30c0-8541-e9557dc22762","include-zero-record-flowfiles":"true","dbf-default-scale":"0","ff_contents":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"ff_contents":{"name":"ff_contents","displayName":"ff_contents","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"39351558-9f32-352f-99db-245dd4dae484","name":"EvaluateJsonPath","comments":"","position":{"x":1416.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","abfs_location":"$.property.[*].[?(@.name=='fs.defaultFS')].value","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"abfs_location":{"name":"abfs_location","displayName":"abfs_location","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"b578a664-9b79-3ca1-bf5e-71512f1adb3a","name":"UpdateAttribute","comments":"","position":{"x":768.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"abfs_location":"${abfs_location:jsonPath('$[0]'):substringBeforeLast(\"/\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"abfs_location":{"name":"abfs_location","displayName":"abfs_location","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"60ba5f70-54da-316e-b6d2-9f7e1893e63e","name":"FetchFile","comments":"","position":{"x":1416.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"}],"inputPorts":[{"identifier":"4fe0d0c5-e9c1-387c-bb9a-c2225176bf41","name":"XMLParserInput","comments":"","position":{"x":808.0,"y":496.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"}],"outputPorts":[{"identifier":"5e564b38-a2bd-35dd-8218-293dbc7cdada","name":"XMLParserOutput","comments":"","position":{"x":816.0,"y":1080.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"}],"connections":[{"identifier":"e5373348-6751-3ea8-a166-4be9cb7c692a","name":"","source":{"id":"b578a664-9b79-3ca1-bf5e-71512f1adb3a","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"UpdateAttribute","comments":""},"destination":{"id":"5e564b38-a2bd-35dd-8218-293dbc7cdada","type":"OUTPUT_PORT","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"XMLParserOutput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"fbfedd86-7ec4-355f-b5fe-f320cbcee8f4","name":"","source":{"id":"60ba5f70-54da-316e-b6d2-9f7e1893e63e","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"FetchFile","comments":""},"destination":{"id":"cfa98cf6-56e1-3e89-9bc0-5133834907b8","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"QueryRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"4bd0f6a0-8364-3db5-be13-64314bb42831","name":"","source":{"id":"4fe0d0c5-e9c1-387c-bb9a-c2225176bf41","type":"INPUT_PORT","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"XMLParserInput","comments":""},"destination":{"id":"60ba5f70-54da-316e-b6d2-9f7e1893e63e","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"72562d6e-b2fe-3a83-867f-5a8e5cb34407","name":"","source":{"id":"cfa98cf6-56e1-3e89-9bc0-5133834907b8","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"QueryRecord","comments":""},"destination":{"id":"39351558-9f32-352f-99db-245dd4dae484","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ff_contents"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"6aa1fa98-c3c2-3f0b-965d-2aadbccd748a","name":"","source":{"id":"60ba5f70-54da-316e-b6d2-9f7e1893e63e","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"FetchFile","comments":""},"destination":{"id":"a73e4a04-01cd-3af9-ad55-6ce30ba14422","type":"FUNNEL","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"6bfdc0ac-0a04-364d-ad8a-1f7183ce330a","name":"","source":{"id":"39351558-9f32-352f-99db-245dd4dae484","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"EvaluateJsonPath","comments":""},"destination":{"id":"b578a664-9b79-3ca1-bf5e-71512f1adb3a","type":"PROCESSOR","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"}],"labels":[],"funnels":[{"identifier":"a73e4a04-01cd-3af9-ad55-6ce30ba14422","position":{"x":2112.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"}],"controllerServices":[{"identifier":"df630c0c-f000-3b38-8c5d-c4e3c0e4d894","name":"JsonRecordSetWriter_TEST","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"},{"identifier":"f485966c-8baa-30c0-8541-e9557dc22762","name":"XMLReader_TEST","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\"namespace\": \"nifi\",\n\"name\": \"configuration\",\n\"type\": \"record\",\n\"fields\": [\n{ \"name\": \"property\",\n\"type\": {\n\"type\": \"array\",\n\"items\": {\n\"name\": \"RecordInArray\",\n\"type\": \"record\",\n\"fields\" : [\n{\"name\": \"name\", \"type\": \"string\"},\n{\"name\": \"value\", \"type\": \"string\"}\n]\n}}}\n]\n}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"a88da3cb-738b-3afc-a69a-cbcc880b41af"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"HDFS Transfer Direct","comments":"","position":{"x":1088.0,"y":1136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d930bd10-d011-3cd7-bd01-c5e1a9f8d058","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(${abfs_location}):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"f2a0e5ad-89ba-366e-8817-a7f1740292c6","name":"UpdateAttribute","comments":"","position":{"x":152.0,"y":1400.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"transfer_method":"plain","Delete Attributes Expression":null,"filename":"${\"azure_filename\"}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"transfer_method":{"name":"transfer_method","displayName":"transfer_method","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"ab1a772b-3447-30ba-8b55-62b569e96855","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"121477f6-50e8-3b58-8d20-1c88dd1af076","name":"ConsolidateTables","comments":"","position":{"x":152.0,"y":1816.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":"128 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"64 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"10 secs","Demarcator File":null,"Correlation Attribute Name":"azure_path","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"09f05caf-3619-39dc-b551-ddfbc6ce9311","name":"FetchAzureDataLakeStorage","comments":"","position":{"x":152.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","properties":{"filesystem-name":"datafs","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"5d549b80-1dd1-3b6b-a526-77f9e520754c","directory-name":"${\"azure_path\"}","file-name":"${\"azure_filename\"}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"ef0be338-13d3-3f75-a19a-4b1e33920b1e","name":"ExecuteStreamCommand","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-b;${\"hdfs_parent_dir_xml\"};-d;${\"databases_xml\"};-t;${\"consumed_tables_xml\"};-m;${\"db_partition_map\"};-u;${\"kerberos_principal_xml\"};-k;${\"kerberos_keytab_xml\"};-p;${\"partition\"};-f \"p\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"12813bdd-bd5a-3f83-a68f-ce305fe6217b","name":"ExtractText","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"fd2dd091-0aa8-320a-855e-75c592504bfa","name":"PutHDFS","comments":"","position":{"x":152.0,"y":1616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/tmp/public_assets/core-site.xml,/tmp/public_assets/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"f8024cbf-c654-3aee-894f-1a43b7224fd8","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"/${\"azure_path\"}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"inputPorts":[{"identifier":"e37dbef6-e927-3fd6-9ed5-3eba6edc50d9","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"outputPorts":[{"identifier":"fdb4002c-baf1-3a2c-859e-9cca4437e089","name":"OutputHDFSTransfer","comments":"","position":{"x":208.0,"y":2008.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"connections":[{"identifier":"d575c59a-86e1-34e7-901a-c3bbc4ea9116","name":"","source":{"id":"09f05caf-3619-39dc-b551-ddfbc6ce9311","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"FetchAzureDataLakeStorage","comments":""},"destination":{"id":"f2a0e5ad-89ba-366e-8817-a7f1740292c6","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"5a229c9d-11bf-3b2e-a702-81c25d9be5f1","name":"","source":{"id":"f2a0e5ad-89ba-366e-8817-a7f1740292c6","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"UpdateAttribute","comments":""},"destination":{"id":"fd2dd091-0aa8-320a-855e-75c592504bfa","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"e6f84bd2-f242-32e3-bfe6-0e89b43d60a4","name":"","source":{"id":"12813bdd-bd5a-3f83-a68f-ce305fe6217b","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ExtractText","comments":""},"destination":{"id":"d930bd10-d011-3cd7-bd01-c5e1a9f8d058","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"5fcca348-fbaf-3ccc-b64f-b74994b28b2f","name":"","source":{"id":"d930bd10-d011-3cd7-bd01-c5e1a9f8d058","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"UpdateAttribute","comments":""},"destination":{"id":"09f05caf-3619-39dc-b551-ddfbc6ce9311","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"FetchAzureDataLakeStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"5c145adf-a259-3175-bd48-559420ad5cbd","name":"","source":{"id":"ef0be338-13d3-3f75-a19a-4b1e33920b1e","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"ab1a772b-3447-30ba-8b55-62b569e96855","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"37cc882c-5429-32db-891b-ef94917de8f5","name":"","source":{"id":"fd2dd091-0aa8-320a-855e-75c592504bfa","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"PutHDFS","comments":""},"destination":{"id":"762b2153-c569-36ec-9512-4e6248959f0b","type":"FUNNEL","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"15a304c2-7744-3b42-a120-30ec3140a123","name":"","source":{"id":"121477f6-50e8-3b58-8d20-1c88dd1af076","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ConsolidateTables","comments":""},"destination":{"id":"fdb4002c-baf1-3a2c-859e-9cca4437e089","type":"OUTPUT_PORT","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"OutputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"e122d1b8-c717-3efd-853c-cf9db34200c0","name":"","source":{"id":"ab1a772b-3447-30ba-8b55-62b569e96855","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"SplitText","comments":""},"destination":{"id":"12813bdd-bd5a-3f83-a68f-ce305fe6217b","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ExtractText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"5d441920-757a-343f-9902-7c60fdbaa5ea","name":"","source":{"id":"121477f6-50e8-3b58-8d20-1c88dd1af076","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ConsolidateTables","comments":""},"destination":{"id":"a30f6d73-1153-3895-b7a8-2b76bd56f6ef","type":"FUNNEL","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"89fd86bf-1239-3fd9-9c47-1cdcb31ba5b2","name":"","source":{"id":"e37dbef6-e927-3fd6-9ed5-3eba6edc50d9","type":"INPUT_PORT","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"InputHDFSTransfer","comments":""},"destination":{"id":"ef0be338-13d3-3f75-a19a-4b1e33920b1e","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"4f75e328-1e44-3270-9b55-7006c69c6e66","name":"","source":{"id":"fd2dd091-0aa8-320a-855e-75c592504bfa","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"PutHDFS","comments":""},"destination":{"id":"121477f6-50e8-3b58-8d20-1c88dd1af076","type":"PROCESSOR","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"ConsolidateTables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"labels":[{"identifier":"bec9b4c2-d787-35bc-ad32-a45f1d76d9b2","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"b209cf91-2254-336a-ae74-515bad33b05b","position":{"x":-104.0,"y":1664.0},"label":"This needs to be to the staging dir","width":232.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"funnels":[{"identifier":"a30f6d73-1153-3895-b7a8-2b76bd56f6ef","position":{"x":864.0,"y":1864.0},"componentType":"FUNNEL","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"762b2153-c569-36ec-9512-4e6248959f0b","position":{"x":848.0,"y":1656.0},"componentType":"FUNNEL","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"controllerServices":[{"identifier":"f8024cbf-c654-3aee-894f-1a43b7224fd8","name":"DHKeytab","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/hmatta-dmathews.keytab","Kerberos Principal":"dmathews@HMATTA.A465-9Q4K.CLOUDERA.SITE"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"},{"identifier":"f57cbee4-cab8-3f7e-b8a4-5624e145f7d4","name":"KeytabCredentialsService","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/on_prem_hdfs/srv_repl_onprem.keytab","Kerberos Principal":"srv_repl@DEV.ZONE1.COM"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c90f551-53ca-3e16-bf6a-44466875a36b"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"636b314a-202a-340a-8464-f3f0656633ab","name":"HDFS Transfer","comments":"","position":{"x":560.0,"y":1136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f8bade47-992e-3f4b-83e6-df87472d217c","name":"PutHDFS","comments":"","position":{"x":168.0,"y":1600.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/tmp/public_assets/core-site.xml,/tmp/public_assets/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"a88f5a2e-3012-31af-9079-4c06fdcf2a3d","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"${\"staging_dir\"}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"fd1d42a2-699e-3ada-ad4f-3de862997d62","name":"FetchAzureDataLakeStorage","comments":"","position":{"x":152.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","properties":{"filesystem-name":"datafs","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"5d549b80-1dd1-3b6b-a526-77f9e520754c","directory-name":"${\"azure_path\"}","file-name":"${\"azure_filename\"}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"e5a94c03-8d56-398d-a23b-cd4af8ba0f3a","name":"UpdateAttribute","comments":"","position":{"x":160.0,"y":1392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"transfer_method":"detokenise","Delete Attributes Expression":null,"filename":"${\"azure_filename\"}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"staging_dir":"${azure_path:contains(\"sri_nonopen\"):ifElse(${\"sri_non_open_staging_dir\"}, ${azure_path:contains(\"sri_open\"):ifElse(${sri_open_staging_dir}, \"/tmp/\")})}"},"propertyDescriptors":{"transfer_method":{"name":"transfer_method","displayName":"transfer_method","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"staging_dir":{"name":"staging_dir","displayName":"staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"fba0acc4-bc78-391e-acf8-e9eb1a5bcd86","name":"ConsolidateTables","comments":"","position":{"x":168.0,"y":1800.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":"128 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"64 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"10 secs","Demarcator File":null,"Correlation Attribute Name":"azure_path","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"c5f6c3f5-7081-3e27-844e-4a5fe7459374","name":"ExtractText","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"4b13289d-37c4-3a47-9fc2-6853885c3dac","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"94b887f0-d70b-3c3d-8161-f364c80f3973","name":"UpdateAttribute","comments":"","position":{"x":760.0,"y":1192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(${abfs_location}):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"eaa53e0c-080d-3055-8cac-cc27831019e0","name":"ExecuteStreamCommand","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-b;${\"hdfs_parent_dir_xml\"};-d;${\"databases_xml\"};-t;${\"consumed_tables_xml\"};-m;${\"db_partition_map\"};-u;${\"kerberos_principal_xml\"};-k;${\"kerberos_keytab_xml\"};-p;${\"partition\"};-f \"t\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"inputPorts":[{"identifier":"b57e0f41-2145-3301-aa27-87d91f676095","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"outputPorts":[{"identifier":"60e6d1bc-93ac-3c22-8cb2-f162b25bf20f","name":"OutputHDFSTransfer","comments":"","position":{"x":232.0,"y":2000.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"connections":[{"identifier":"b706c686-a84b-3cdd-bf56-974d36ab87f3","name":"","source":{"id":"4b13289d-37c4-3a47-9fc2-6853885c3dac","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"SplitText","comments":""},"destination":{"id":"c5f6c3f5-7081-3e27-844e-4a5fe7459374","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ExtractText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"0cde6078-546a-3bb9-92d5-e390f2e5283b","name":"","source":{"id":"fba0acc4-bc78-391e-acf8-e9eb1a5bcd86","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ConsolidateTables","comments":""},"destination":{"id":"45013387-eae6-362a-9e04-41688f2b2df0","type":"FUNNEL","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"db3664f3-ae45-3142-a8a8-f403124f03e7","name":"","source":{"id":"eaa53e0c-080d-3055-8cac-cc27831019e0","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"4b13289d-37c4-3a47-9fc2-6853885c3dac","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"5abc65d4-90e9-32c6-a40b-46b6c6628c52","name":"","source":{"id":"fba0acc4-bc78-391e-acf8-e9eb1a5bcd86","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ConsolidateTables","comments":""},"destination":{"id":"60e6d1bc-93ac-3c22-8cb2-f162b25bf20f","type":"OUTPUT_PORT","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"OutputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"5f72381c-9202-34a2-a912-9aad4345e147","name":"","source":{"id":"e5a94c03-8d56-398d-a23b-cd4af8ba0f3a","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"UpdateAttribute","comments":""},"destination":{"id":"f8bade47-992e-3f4b-83e6-df87472d217c","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"0d5c5d36-4986-3363-8dae-0ef95c7a0155","name":"","source":{"id":"fd1d42a2-699e-3ada-ad4f-3de862997d62","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"FetchAzureDataLakeStorage","comments":""},"destination":{"id":"e5a94c03-8d56-398d-a23b-cd4af8ba0f3a","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"74b76399-cd80-35a1-aad2-129e6521bf62","name":"","source":{"id":"94b887f0-d70b-3c3d-8161-f364c80f3973","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"UpdateAttribute","comments":""},"destination":{"id":"fd1d42a2-699e-3ada-ad4f-3de862997d62","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"FetchAzureDataLakeStorage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"152fa82b-1630-3e98-b46e-eaa0dbdb7f26","name":"","source":{"id":"b57e0f41-2145-3301-aa27-87d91f676095","type":"INPUT_PORT","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"InputHDFSTransfer","comments":""},"destination":{"id":"eaa53e0c-080d-3055-8cac-cc27831019e0","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"2b9ef5bf-2f32-32ce-b18d-fc766c17e8e6","name":"","source":{"id":"f8bade47-992e-3f4b-83e6-df87472d217c","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"PutHDFS","comments":""},"destination":{"id":"fd8266fa-5b71-32be-b743-733d805fcb1c","type":"FUNNEL","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"b9e9c313-6efd-3e38-8519-6c34d69dc15f","name":"","source":{"id":"f8bade47-992e-3f4b-83e6-df87472d217c","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"PutHDFS","comments":""},"destination":{"id":"fba0acc4-bc78-391e-acf8-e9eb1a5bcd86","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ConsolidateTables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"d20fa580-95a0-3418-bd4f-556e60698ae3","name":"","source":{"id":"c5f6c3f5-7081-3e27-844e-4a5fe7459374","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"ExtractText","comments":""},"destination":{"id":"94b887f0-d70b-3c3d-8161-f364c80f3973","type":"PROCESSOR","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"labels":[{"identifier":"151306ac-b1fb-33e8-ad43-c9dfef397b77","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"b9ecd517-b922-3137-8769-8a55b1260867","position":{"x":264.0,"y":656.0},"label":"TRANSFER TO STAGING","width":288.0,"height":40.0,"style":{"background-color":"#d6faff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"bc1e4294-765a-3a96-bbed-681a0886c62e","position":{"x":-96.0,"y":1624.0},"label":"This needs to be to the staging dir\nCurrent Issue\n- merged content is corrupted in ORC format\n- therefore must save as ingested in flow","width":256.0,"height":80.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"funnels":[{"identifier":"45013387-eae6-362a-9e04-41688f2b2df0","position":{"x":816.0,"y":1832.0},"componentType":"FUNNEL","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"fd8266fa-5b71-32be-b743-733d805fcb1c","position":{"x":800.0,"y":1632.0},"componentType":"FUNNEL","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"controllerServices":[{"identifier":"a88f5a2e-3012-31af-9079-4c06fdcf2a3d","name":"DHKeytab","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/hmatta-dmathews.keytab","Kerberos Principal":"dmathews@HMATTA.A465-9Q4K.CLOUDERA.SITE"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"},{"identifier":"a3197184-ea9a-3205-ba91-7554d22340b5","name":"KeytabCredentialsService","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/on_prem_hdfs/srv_repl_onprem.keytab","Kerberos Principal":"srv_repl@DEV.ZONE1.COM"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"636b314a-202a-340a-8464-f3f0656633ab"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"}],"remoteProcessGroups":[],"processors":[{"identifier":"47012b7e-19f9-33b1-ab65-b9e0a8d4ab0a","name":"FetchFile","comments":"","position":{"x":1384.0,"y":672.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/tmp/config/${\"sourcesystem\"}_${\"country\"}_params.xml","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"ba2f7555-4f5e-395e-b319-212c1f212520","name":"ListFile","comments":"","position":{"x":768.0,"y":200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"eglex_au_integrated_recon_completion_.*\\.ack","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/tmp/archival","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"6820483a-970e-3b6a-804e-e00f7a413919","name":"SplitText","comments":"","position":{"x":576.0,"y":1840.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"a0362286-6da8-3357-be44-c347651ef665","name":"UpdateAttribute","comments":"","position":{"x":776.0,"y":664.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"country":"${filename:substringAfter(\"_\"):substringBefore(\"_\")}","databases":"SRI_OPEN,SRI_NONOPEN","Delete Attributes Expression":null,"partition":"${filename:substringAfterLast(\"_\"):substringBefore(\".\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"sourcesystem":"${filename:substringBefore(\"_\")}"},"propertyDescriptors":{"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false},"databases":{"name":"databases","displayName":"databases","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"partition","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sourcesystem":{"name":"sourcesystem","displayName":"sourcesystem","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"b5d2ae65-a13b-3c36-bb27-d0b7357200fe","name":"PythonScriptFileChecker","comments":"","position":{"x":576.0,"y":1640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/python_file_check.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-p;${\"nfs_location_xml\"};-f;${\"status_file_location_xml\"};-s;${\"sourcesystem_xml\"};-c;${\"country_xml\"};-d;${\"databases\"};-x;${\"partition\"};-m;${\"db_partition_map\"};-t;${\"consumed_tables_xml\"};-r;${\"transfer_method\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"c1224483-0b3e-37fe-b284-66a0925ffc49","name":"FailedToUpdateHive","comments":"","position":{"x":808.0,"y":2288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"8eedecbf-dcb1-31a4-8dfc-4a85cbe02d0f","name":"SparkDeTokenisation","comments":"","position":{"x":576.0,"y":1392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"ssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"70537be7-71ed-3499-bdd4-2a403748abe9","name":"SuccessToUpdateHive","comments":"","position":{"x":344.0,"y":2288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"01fcaade-3c4d-37e9-acad-3a865ef041d9","name":"PutHiveQL","comments":"","position":{"x":576.0,"y":2056.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hive.PutHiveQL","properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":null,"hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"0c7c88b7-8f5f-30c1-9c02-142245857da2","name":"RECON","comments":"","position":{"x":1248.0,"y":1648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":null,"Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b01cd3d2-0d67-3bd9-b00a-f8107317b0ea","name":"","source":{"id":"ba2f7555-4f5e-395e-b319-212c1f212520","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"ListFile","comments":""},"destination":{"id":"4fe0d0c5-e9c1-387c-bb9a-c2225176bf41","type":"INPUT_PORT","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"XMLParserInput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"375ad5d8-aeb4-3757-8c93-b573ad5ea7f4","name":"","source":{"id":"6820483a-970e-3b6a-804e-e00f7a413919","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SplitText","comments":""},"destination":{"id":"fd1e3b45-e69f-39fc-9592-c62541a7d4d1","type":"FUNNEL","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"f72583fa-cba9-3649-8a22-b4056335eb9c","name":"","source":{"id":"47012b7e-19f9-33b1-ab65-b9e0a8d4ab0a","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"FetchFile","comments":""},"destination":{"id":"6f36c94e-fc29-3602-855d-c46e7a2b5a77","type":"INPUT_PORT","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"XMLParserInput","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1560.0,"y":952.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"058e68e2-267e-37f1-b65e-ae27aeab413f","name":"","source":{"id":"01fcaade-3c4d-37e9-acad-3a865ef041d9","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PutHiveQL","comments":""},"destination":{"id":"70537be7-71ed-3499-bdd4-2a403748abe9","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SuccessToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"a0914efa-9033-3f3c-b7d2-7b6738ba3f63","name":"","source":{"id":"f461f7e9-5caf-33fe-9f2d-475df7bc24fa","type":"OUTPUT_PORT","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"XMLParserOutput","comments":""},"destination":{"id":"e37dbef6-e927-3fd6-9ed5-3eba6edc50d9","type":"INPUT_PORT","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"aab83fe6-8432-3cfa-ab6f-bdc4f5ab8963","name":"","source":{"id":"a0362286-6da8-3357-be44-c347651ef665","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"UpdateAttribute","comments":""},"destination":{"id":"47012b7e-19f9-33b1-ab65-b9e0a8d4ab0a","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"ac7d3024-4878-3ddb-80fe-ebdb72c9ada1","name":"","source":{"id":"8eedecbf-dcb1-31a4-8dfc-4a85cbe02d0f","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SparkDeTokenisation","comments":""},"destination":{"id":"b5d2ae65-a13b-3c36-bb27-d0b7357200fe","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PythonScriptFileChecker","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"9a003bfa-5e4d-3a7f-be59-af334e1a781b","name":"","source":{"id":"b5d2ae65-a13b-3c36-bb27-d0b7357200fe","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"6359d013-3478-36e9-b90a-47cab99f06ff","type":"FUNNEL","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"602028fe-f69f-33dc-8d48-a6ae2d75b218","name":"","source":{"id":"b5d2ae65-a13b-3c36-bb27-d0b7357200fe","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"0c7c88b7-8f5f-30c1-9c02-142245857da2","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"RECON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"9066df1f-3131-3149-900c-0f1831ef5034","name":"","source":{"id":"b5d2ae65-a13b-3c36-bb27-d0b7357200fe","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"6820483a-970e-3b6a-804e-e00f7a413919","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"de31f8ba-bdc4-3e2a-b21a-915c6da5c0e2","name":"","source":{"id":"f461f7e9-5caf-33fe-9f2d-475df7bc24fa","type":"OUTPUT_PORT","groupId":"9df4051e-9b8d-3fc4-a69d-a429368e3d77","name":"XMLParserOutput","comments":""},"destination":{"id":"b57e0f41-2145-3301-aa27-87d91f676095","type":"INPUT_PORT","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"bca05e4d-5fda-32af-9aab-feb550ccb71a","name":"","source":{"id":"8eedecbf-dcb1-31a4-8dfc-4a85cbe02d0f","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SparkDeTokenisation","comments":""},"destination":{"id":"74e33f44-9884-3eb0-a367-0c0d205881e6","type":"FUNNEL","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"e6c356ee-befd-3623-92a9-0d1b51ebee1c","name":"","source":{"id":"47012b7e-19f9-33b1-ab65-b9e0a8d4ab0a","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"FetchFile","comments":""},"destination":{"id":"cfd020e8-b487-33e6-ba9b-6c4cb7e1ef4b","type":"FUNNEL","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1864.0,"y":744.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"16ce7703-16b3-34a9-a7c1-6435bd89d5ac","name":"","source":{"id":"6820483a-970e-3b6a-804e-e00f7a413919","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SplitText","comments":""},"destination":{"id":"01fcaade-3c4d-37e9-acad-3a865ef041d9","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PutHiveQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"6b729943-8cb2-3123-8019-affe4736c622","name":"","source":{"id":"60e6d1bc-93ac-3c22-8cb2-f162b25bf20f","type":"OUTPUT_PORT","groupId":"636b314a-202a-340a-8464-f3f0656633ab","name":"OutputHDFSTransfer","comments":""},"destination":{"id":"8eedecbf-dcb1-31a4-8dfc-4a85cbe02d0f","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"SparkDeTokenisation","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"9c717702-5369-3592-a350-0ed23cae5213","name":"","source":{"id":"01fcaade-3c4d-37e9-acad-3a865ef041d9","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PutHiveQL","comments":""},"destination":{"id":"c1224483-0b3e-37fe-b284-66a0925ffc49","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"FailedToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"0b527c56-aabb-3533-bdb3-7955c1f44f9a","name":"","source":{"id":"fdb4002c-baf1-3a2c-859e-9cca4437e089","type":"OUTPUT_PORT","groupId":"9c90f551-53ca-3e16-bf6a-44466875a36b","name":"OutputHDFSTransfer","comments":""},"destination":{"id":"b5d2ae65-a13b-3c36-bb27-d0b7357200fe","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"PythonScriptFileChecker","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1280.0,"y":1536.0},{"x":960.0,"y":1536.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"9e3f429f-6f85-39a9-a8b8-f5cee6c0a5cc","name":"","source":{"id":"5e564b38-a2bd-35dd-8218-293dbc7cdada","type":"OUTPUT_PORT","groupId":"a88da3cb-738b-3afc-a69a-cbcc880b41af","name":"XMLParserOutput","comments":""},"destination":{"id":"a0362286-6da8-3357-be44-c347651ef665","type":"PROCESSOR","groupId":"c2753260-2733-3465-96ee-1a67bcc2f9ac","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"}],"labels":[{"identifier":"222dcc5d-7953-3319-936f-6adb60cf2d2e","position":{"x":828.0,"y":814.5},"label":"Get sourcesystem and country from filename","width":272.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"53727a42-7f7b-3d7a-b7c9-3e1d67ef89d7","position":{"x":1488.0,"y":1192.0},"label":"Vanilla","width":128.0,"height":24.0,"style":{"background-color":"#d6f6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"3d102465-d135-36d8-9f3a-942df1633a8a","position":{"x":624.0,"y":1072.0},"label":"Validated until this point","width":152.0,"height":32.0,"style":{"background-color":"#eb1e77","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"bbc9866b-ef83-3ff2-b3b2-cbff3bc797c1","position":{"x":1312.0,"y":640.0},"label":"Get contents of corresponding params file","width":272.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"80508b6c-d26b-3290-98c1-878c761a00ab","position":{"x":960.0,"y":1392.0},"label":"It is required that the output files for the \nSpark script be saved to cloud to allow \nthe subsequent python script to \nread the files from cloud whilst running \nin public cloud","width":240.0,"height":104.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"0bd33890-5e4e-3280-960a-7c5a753c76c9","position":{"x":384.0,"y":1200.0},"label":"Interim Stage + Detokenise","width":160.0,"height":24.0,"style":{"background-color":"#d6f6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"7d23d8d6-388e-3968-a3d6-05851891a56e","position":{"x":1376.0,"y":872.0},"label":"Extract XML properties \nof value","width":144.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"edacb913-5ec2-38f1-9688-56c909174f88","position":{"x":816.0,"y":144.0},"label":"Pick up acknowledgement file from ADLS","width":256.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"}],"funnels":[{"identifier":"cfd020e8-b487-33e6-ba9b-6c4cb7e1ef4b","position":{"x":1840.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"74e33f44-9884-3eb0-a367-0c0d205881e6","position":{"x":176.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"fd1e3b45-e69f-39fc-9592-c62541a7d4d1","position":{"x":184.0,"y":1872.0},"componentType":"FUNNEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"},{"identifier":"6359d013-3478-36e9-b90a-47cab99f06ff","position":{"x":184.0,"y":1664.0},"componentType":"FUNNEL","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"}],"controllerServices":[{"identifier":"5d549b80-1dd1-3b6b-a526-77f9e520754c","name":"ADLSCredentialsControllerService_HDFS_DIRECT","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"storage-use-managed-identity":"false","storage-endpoint-suffix":"dfs.core.windows.net"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"storage-use-managed-identity":{"name":"storage-use-managed-identity","displayName":"Use Azure Managed Identity","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2753260-2733-3465-96ee-1a67bcc2f9ac"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}