SCB_Base_Without_EOD_Trigger.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>0cbcf03a-017d-1000-8377-9ec81c77f482</groupId>
    <name>Base_SCB_noTrigger_AlterTable</name>
    <snippet>
        <processGroups>
            <id>2cec0557-f041-3bf3-0000-000000000000</id>
            <parentGroupId>fc200cd9-debf-3a61-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2aa29d55-0751-3c33-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>12df9a37-5597-3f18-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>5dfc639c-436a-35b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3bf3e652-6fde-3a95-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
                        <id>cbfdc9bb-1ce3-38c1-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>bdd36ff4-644d-3eb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4032474c-18f2-379a-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f906e154-7705-3368-0000-000000000000</groupId>
                        <id>085bdc49-2e8d-3efc-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>59063b8c-fc6c-3f5f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4bedf585-7b23-3f67-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>5dfc639c-436a-35b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>4308e6fe-cdb8-37cb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5e75c988-f43b-3091-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>d8a5083c-410a-33bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>4308e6fe-cdb8-37cb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66e3abca-410f-3f29-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>5907f177-9251-3c2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>766235c4-cefc-3f8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8828c271-d261-3e62-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>bdd36ff4-644d-3eb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>5907f177-9251-3c2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b659776b-cde6-3b9b-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>75896fce-8e45-361d-0000-000000000000</groupId>
                        <id>72135dcf-4393-3978-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>59063b8c-fc6c-3f5f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>be2f8fcc-283f-3457-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>1c6bae78-eaa3-3863-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>d8a5083c-410a-33bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c2fb9fcc-e83b-39a7-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>4308e6fe-cdb8-37cb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>65b27483-c9f7-3ba2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c8796391-2e93-33fa-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>59063b8c-fc6c-3f5f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>1c6bae78-eaa3-3863-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d0c9cd90-d7c0-37f5-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>e427345f-32da-30f3-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>d8a5083c-410a-33bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f723edf7-22e5-3db4-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2cec0557-f041-3bf3-0000-000000000000</groupId>
                        <id>65b27483-c9f7-3ba2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
                        <id>c6b24a73-bbd2-3852-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>534b5c35-a964-31a6-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>full-schema-attribute</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-oneline</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>a6ea713c-a003-3702-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-hive3-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>hive-db-connect-url</key>
                            <value>
<name>hive-db-connect-url</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hive-config-resources</key>
                            <value>
<name>hive-config-resources</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hive-db-user</key>
                            <value>
<name>hive-db-user</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hive-db-password</key>
                            <value>
<name>hive-db-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hive-max-wait-time</key>
                            <value>
<name>hive-max-wait-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hive-max-total-connections</key>
                            <value>
<name>hive-max-total-connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Principal</key>
                            <value>
<name>Kerberos Principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Kerberos Keytab</key>
                            <value>
<name>Kerberos Keytab</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Hive3ConnectionPool_ForGithub</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>hive-db-connect-url</key>
                            <value>jdbc:hive2://&lt;&lt;master_host&gt;&gt;/;ssl=true;transportMode=http;httpPath=&lt;&lt;data hub name&gt;&gt;/cdp-proxy-api/hive</value>
                        </entry>
                        <entry>
                            <key>hive-config-resources</key>
                            <value>/tmp/cdp_public/hive-site.xml</value>
                        </entry>
                        <entry>
                            <key>hive-db-user</key>
                            <value>username</value>
                        </entry>
                        <entry>
                            <key>hive-db-password</key>
                        </entry>
                        <entry>
                            <key>hive-max-wait-time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>hive-max-total-connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>Kerberos Principal</key>
                        </entry>
                        <entry>
                            <key>Kerberos Keytab</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.hive.Hive3ConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>bec59e8a-239c-3b02-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>record_format</key>
                            <value>
<name>record_format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>attribute_prefix</key>
                            <value>
<name>attribute_prefix</name>
                            </value>
                        </entry>
                        <entry>
                            <key>content_field_name</key>
                            <value>
<name>content_field_name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>XMLReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>                {
                  "namespace": "nifi",
                  "name": "configuration",
                  "type": "record",
                  "fields": [
                    { "name": "property",
                      "type": {
                        "type": "array",
                        "items": {
                          "name": "RecordInArray",
                          "type": "record",
                          "fields" : [
                            {"name": "name", "type": "string"},
                            {"name": "value", "type": "string"}
                          ]
                        }
                      }
                    }
                  ]
                }</value>
                        </entry>
                        <entry>
                            <key>record_format</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>attribute_prefix</key>
                        </entry>
                        <entry>
                            <key>content_field_name</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.xml.XMLReader</type>
                </controllerServices>
                <funnels>
                    <id>e427345f-32da-30f3-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>198.1052035647882</x>
                        <y>1190.972797393989</y>
                    </position>
                </funnels>
                <labels>
                    <id>0fb1218c-e46c-3d01-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>782.9341188592402</x>
                        <y>195.44207788038716</y>
                    </position>
                    <height>29.882923126220703</height>
                    <label>The GenerateFlowFile processor is simply to trigger the flow via a cron</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>421.9632263183594</width>
                </labels>
                <labels>
                    <id>3f350141-ce04-366b-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>455.44502663306787</x>
                        <y>445.87485905114795</y>
                    </position>
                    <height>115.23307037353516</height>
                    <label>All hardcoded values need to be listed here including
- base_path
- source_system
- country
- partition
- abfs location
- databases (comma separated list)</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6ffff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>358.50511169433594</width>
                </labels>
                <labels>
                    <id>943f802b-900f-3f3c-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1477.7731341270005</x>
                        <y>873.5563930425063</y>
                    </position>
                    <height>38.610862731933594</height>
                    <label>Custom process group to obtain variables of interest
To add more, please navigate to inside this process group</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffd6e2</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>327.9333190917969</width>
                </labels>
                <processGroups>
                    <id>11b389cb-8fff-325a-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1451.979801236083</x>
                        <y>678.5784329637349</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0fa29cf3-5368-3209-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>c6b24a73-bbd2-3852-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>9b616a46-96d7-34d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>364ae938-3de5-3d6d-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>6508f696-82b0-3145-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>09b5b4a9-2219-3e9f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>37d8fc45-c922-3c97-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>884138ca-61c2-3eeb-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>68481e3c-79f2-3e6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>714e5e40-8bda-3d27-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>9b616a46-96d7-34d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>d20916fc-64fa-3fc3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7ec4a83c-2760-3bc8-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>09b5b4a9-2219-3e9f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>cbfdc9bb-1ce3-38c1-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a01e67d3-0ec8-3350-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>d20916fc-64fa-3fc3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>68481e3c-79f2-3e6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d1e8d447-ba43-378f-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>68481e3c-79f2-3e6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>test</selectedRelationships>
                            <source>
<groupId>11b389cb-8fff-325a-0000-000000000000</groupId>
<id>09b5b4a9-2219-3e9f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>6508f696-82b0-3145-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>2685.96395237669</x>
<y>175.89342426674375</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>884138ca-61c2-3eeb-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>3167.7918444382603</x>
<y>578.5675746356437</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>cbfdc9bb-1ce3-38c1-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>1996.1520831141106</x>
<y>377.0307838858844</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>UpdateAttribute</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>c6b24a73-bbd2-3852-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>1435.6742999109856</x>
<y>787.7964699210406</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>ExecuteStreamCommand</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>09b5b4a9-2219-3e9f-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>2537.3925950723806</x>
<y>329.0962804645326</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>
            <name>cache-schema</name>
        </value>
    </entry>
    <entry>
        <key>test</key>
        <value>
            <name>test</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>bec59e8a-239c-3b02-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>534b5c35-a964-31a6-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>true</value>
    </entry>
    <entry>
        <key>test</key>
        <value>SELECT * FROM FLOWFILE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>QueryRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>test</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryRecord</type>
                        </processors>
                        <processors>
                            <id>68481e3c-79f2-3e6a-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>2543.369323340474</x>
<y>536.7753437058207</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>consumed_tables_xml</key>
        <value>
            <name>consumed_tables_xml</name>
        </value>
    </entry>
    <entry>
        <key>country_xml</key>
        <value>
            <name>country_xml</name>
        </value>
    </entry>
    <entry>
        <key>db_nonopen_schema</key>
        <value>
            <name>db_nonopen_schema</name>
        </value>
    </entry>
    <entry>
        <key>db_open_schema</key>
        <value>
            <name>db_open_schema</name>
        </value>
    </entry>
    <entry>
        <key>db_storage_schema</key>
        <value>
            <name>db_storage_schema</name>
        </value>
    </entry>
    <entry>
        <key>hdfs_parent_dir_xml</key>
        <value>
            <name>hdfs_parent_dir_xml</name>
        </value>
    </entry>
    <entry>
        <key>kerberos_keytab_xml</key>
        <value>
            <name>kerberos_keytab_xml</name>
        </value>
    </entry>
    <entry>
        <key>kerberos_principal_xml</key>
        <value>
            <name>kerberos_principal_xml</name>
        </value>
    </entry>
    <entry>
        <key>nfs_location_xml</key>
        <value>
            <name>nfs_location_xml</name>
        </value>
    </entry>
    <entry>
        <key>nonopen_partition_name</key>
        <value>
            <name>nonopen_partition_name</name>
        </value>
    </entry>
    <entry>
        <key>open_partition_name</key>
        <value>
            <name>open_partition_name</name>
        </value>
    </entry>
    <entry>
        <key>sourcesystem_xml</key>
        <value>
            <name>sourcesystem_xml</name>
        </value>
    </entry>
    <entry>
        <key>status_file_location_xml</key>
        <value>
            <name>status_file_location_xml</name>
        </value>
    </entry>
    <entry>
        <key>storage_partition_name</key>
        <value>
            <name>storage_partition_name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>json</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>consumed_tables_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.consumed.tables')].value</value>
    </entry>
    <entry>
        <key>country_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.country')].value</value>
    </entry>
    <entry>
        <key>db_nonopen_schema</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.schema')].value</value>
    </entry>
    <entry>
        <key>db_open_schema</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.sri.open.schema')].value</value>
    </entry>
    <entry>
        <key>db_storage_schema</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.storage.schema')].value</value>
    </entry>
    <entry>
        <key>hdfs_parent_dir_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.hdfs.data.parent.dir')].value</value>
    </entry>
    <entry>
        <key>kerberos_keytab_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.kerberos.keytab.path')].value</value>
    </entry>
    <entry>
        <key>kerberos_principal_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.kerberos.principal')].value</value>
    </entry>
    <entry>
        <key>nfs_location_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.source.nfs.location')].value</value>
    </entry>
    <entry>
        <key>nonopen_partition_name</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.partition.name')].value</value>
    </entry>
    <entry>
        <key>open_partition_name</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.sri.open.partition.name')].value</value>
    </entry>
    <entry>
        <key>sourcesystem_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.source')].value</value>
    </entry>
    <entry>
        <key>status_file_location_xml</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.statusfile.location')].value</value>
    </entry>
    <entry>
        <key>storage_partition_name</key>
        <value>$.property.[*].[?(@.name=='edmhdpif.config.storage.partition.name')].value</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>9b616a46-96d7-34d6-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>1955.4489036895611</x>
<y>748.6567396390035</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>databases_xml</key>
        <value>
            <name>databases_xml</name>
        </value>
    </entry>
    <entry>
        <key>db_partition_map</key>
        <value>
            <name>db_partition_map</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>databases_xml</key>
        <value>${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${db_storage_schema:isEmpty():not()})}):ifElse("${db_nonopen_schema},", ${"db_nonopen_schema"}):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse("${db_open_schema},", ${"db_open_schema"})}):append(${"db_storage_schema"})}</value>
    </entry>
    <entry>
        <key>db_partition_map</key>
        <value>${db_nonopen_schema:isEmpty():ifElse("", "${db_nonopen_schema}:${nonopen_partition_name}"):append(${db_open_schema:isEmpty():not():and(${db_nonopen_schema:isEmpty()}):ifElse("${db_open_schema}:${open_partition_name}", ${db_open_schema:isEmpty():ifElse("", ",${db_open_schema}:${open_partition_name}")})})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>DatabaseConstruction</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>d20916fc-64fa-3fc3-0000-000000000000</id>
                            <parentGroupId>11b389cb-8fff-325a-0000-000000000000</parentGroupId>
                            <position>
<x>2536.8608471125817</x>
<y>748.5183458883325</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>consumed_tables_xml</key>
        <value>
            <name>consumed_tables_xml</name>
        </value>
    </entry>
    <entry>
        <key>country_xml</key>
        <value>
            <name>country_xml</name>
        </value>
    </entry>
    <entry>
        <key>db_nonopen_schema</key>
        <value>
            <name>db_nonopen_schema</name>
        </value>
    </entry>
    <entry>
        <key>db_open_schema</key>
        <value>
            <name>db_open_schema</name>
        </value>
    </entry>
    <entry>
        <key>db_storage_schema</key>
        <value>
            <name>db_storage_schema</name>
        </value>
    </entry>
    <entry>
        <key>hdfs_parent_dir_xml</key>
        <value>
            <name>hdfs_parent_dir_xml</name>
        </value>
    </entry>
    <entry>
        <key>kerberos_keytab_xml</key>
        <value>
            <name>kerberos_keytab_xml</name>
        </value>
    </entry>
    <entry>
        <key>kerberos_principal_xml</key>
        <value>
            <name>kerberos_principal_xml</name>
        </value>
    </entry>
    <entry>
        <key>nfs_location_xml</key>
        <value>
            <name>nfs_location_xml</name>
        </value>
    </entry>
    <entry>
        <key>nonopen_partition_name</key>
        <value>
            <name>nonopen_partition_name</name>
        </value>
    </entry>
    <entry>
        <key>open_partition_name</key>
        <value>
            <name>open_partition_name</name>
        </value>
    </entry>
    <entry>
        <key>sourcesystem_xml</key>
        <value>
            <name>sourcesystem_xml</name>
        </value>
    </entry>
    <entry>
        <key>status_file_location_xml</key>
        <value>
            <name>status_file_location_xml</name>
        </value>
    </entry>
    <entry>
        <key>storage_partition_name</key>
        <value>
            <name>storage_partition_name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>consumed_tables_xml</key>
        <value>${consumed_tables_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>country_xml</key>
        <value>${country_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>db_nonopen_schema</key>
        <value>${databases:contains('SRI_NONOPEN'):ifElse(${db_nonopen_schema:jsonPath('$[0]')},""):replaceAll('\$\{edmhdpif.config.source\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\$\{edmhdpif.config.country\}',${country_xml:jsonPath('$[0]')})}</value>
    </entry>
    <entry>
        <key>db_open_schema</key>
        <value>${databases:contains('SRI_OPEN'):ifElse(${db_open_schema:jsonPath('$[0]')},""):replaceAll('\$\{edmhdpif.config.source\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\$\{edmhdpif.config.country\}',${country_xml:jsonPath('$[0]')})}</value>
    </entry>
    <entry>
        <key>db_storage_schema</key>
        <value>${databases:contains('STORAGE'):ifElse(${db_storage_schema:jsonPath('$[0]')},""):replaceAll('\$\{edmhdpif.config.source\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\$\{edmhdpif.config.country\}',${country_xml:jsonPath('$[0]')})}</value>
    </entry>
    <entry>
        <key>hdfs_parent_dir_xml</key>
        <value>${hdfs_parent_dir_xml:jsonPath('$[0]'):replaceAll('\$\{edmhdpif.config.source\}', ${sourcesystem_xml:jsonPath('$[0]')})}</value>
    </entry>
    <entry>
        <key>kerberos_keytab_xml</key>
        <value>${kerberos_keytab_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>kerberos_principal_xml</key>
        <value>${kerberos_principal_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>nfs_location_xml</key>
        <value>${nfs_location_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>nonopen_partition_name</key>
        <value>${nonopen_partition_name:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>open_partition_name</key>
        <value>${open_partition_name:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>sourcesystem_xml</key>
        <value>${sourcesystem_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>status_file_location_xml</key>
        <value>${status_file_location_xml:jsonPath('$[0]')}</value>
    </entry>
    <entry>
        <key>storage_partition_name</key>
        <value>${storage_partition_name:jsonPath('$[0]')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <name>XMLParser</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>75896fce-8e45-361d-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>216.32662746178926</x>
                        <y>1835.1217981475866</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>42659997-f20f-3495-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>28d736e2-337d-349f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>2debc9cb-991b-3d22-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a0fc60f3-80c7-3cfd-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>c7103101-6a71-3c84-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>2debc9cb-991b-3d22-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bbff2cd3-2312-30ea-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>3f80256a-6c0f-3fb5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>72135dcf-4393-3978-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e126cd4d-9c14-33f2-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>2debc9cb-991b-3d22-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>75896fce-8e45-361d-0000-000000000000</groupId>
<id>3f80256a-6c0f-3fb5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>72135dcf-4393-3978-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <position>
<x>674.5733975317517</x>
<y>2293.469176483182</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>success</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>ef489239-5168-3bd0-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <position>
<x>1063.899110317487</x>
<y>2833.0120822751173</y>
                            </position>
                            <height>38.60452651977539</height>
                            <label>Please change to location of log 
directory to desired location</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>190.39614868164062</width>
                        </labels>
                        <processors>
                            <id>28d736e2-337d-349f-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <position>
<x>360.43804971554823</x>
<y>2891.642528575465</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>${"kerberos_keytab_xml"};${"kerberos_principal_xml"};"${hdfs_parent_dir_xml}/${"db_table":substringBefore('.')}/${"db_table":substringAfter('.')}";
"";"${abfs_prefix}${hdfs_parent_dir_xml}/${"db_table":substringBefore('.')}/${"db_table":substringAfter('.')}";
${"partition"};"I";"recon_cdp";"inc_tbl_record_cnt_recon";${"db_partition_map"}</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/CTRLFW/SOURCG/SDM/DEV/deployment/1.3.1/scripts/cdp_recon/recon.sh</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>/CTRLFW/SOURCG/SDM/DEV/deployment/1.3.1/scripts</value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Recon</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>2debc9cb-991b-3d22-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <position>
<x>620.4885766245693</x>
<y>2646.7795341527317</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>db_table</key>
        <value>
            <name>db_table</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>db_table</key>
        <value>${db_table:substringBefore("."):substringAfterLast(" ")}.${db_table:substringAfter("."):substringBefore(" ")}</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${db_table:substringBefore("."):substringAfterLast(" ")}_${db_table:substringAfter("."):substringBefore(" ")}_cloud_update_success_${"partition"}.ack</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>3f80256a-6c0f-3fb5-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <position>
<x>619.6353212968734</x>
<y>2420.137979038821</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>db_table</key>
        <value>
            <name>db_table</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>db_table</key>
        <value>(.*)</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>c7103101-6a71-3c84-0000-000000000000</id>
                            <parentGroupId>75896fce-8e45-361d-0000-000000000000</parentGroupId>
                            <position>
<x>825.189600547702</x>
<y>2888.615264857293</y>
                            </position>
                            <bundle>
<artifact>nifi-azure-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>container-name</key>
        <value>
            <name>container-name</name>
        </value>
    </entry>
    <entry>
        <key>storage-sas-token</key>
        <value>
            <name>storage-sas-token</name>
        </value>
    </entry>
    <entry>
        <key>storage-account-name</key>
        <value>
            <name>storage-account-name</name>
        </value>
    </entry>
    <entry>
        <key>storage-account-key</key>
        <value>
            <name>storage-account-key</name>
        </value>
    </entry>
    <entry>
        <key>blob</key>
        <value>
            <name>blob</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>container-name</key>
        <value>/log/location/on/azure</value>
    </entry>
    <entry>
        <key>storage-sas-token</key>
    </entry>
    <entry>
        <key>storage-account-name</key>
    </entry>
    <entry>
        <key>storage-account-key</key>
    </entry>
    <entry>
        <key>blob</key>
        <value>${"filename"}</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AzureLogFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.azure.storage.PutAzureBlobStorage</type>
                        </processors>
                    </contents>
                    <name>HiveSuccess + Recon</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>f906e154-7705-3368-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>762.3574593530302</x>
                        <y>1842.5887632380986</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>012eae32-c1ab-3bce-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>ef68eca1-21e5-372b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>971fc3d3-0e4b-30f0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7ae6de87-6a2b-33fc-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>971fc3d3-0e4b-30f0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>11e6d5f5-f7d1-30c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c81a8d6f-6143-381e-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>e7bcce28-b2f0-3ee3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>085bdc49-2e8d-3efc-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d7cd84b2-72d0-3843-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>11e6d5f5-f7d1-30c1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>f906e154-7705-3368-0000-000000000000</groupId>
<id>e7bcce28-b2f0-3ee3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>085bdc49-2e8d-3efc-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <position>
<x>1442.5734576432733</x>
<y>2339.4243407615986</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Failure</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>d99f9b61-08c9-36fc-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <position>
<x>1769.3128803079023</x>
<y>3077.527619417878</y>
                            </position>
                            <height>38.60452651977539</height>
                            <label>Please change to location of log 
directory to desired location</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>190.39614868164062</width>
                        </labels>
                        <processors>
                            <id>11e6d5f5-f7d1-30c1-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <position>
<x>1390.630993845296</x>
<y>2666.881470725216</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>db_table</key>
        <value>
            <name>db_table</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>db_table</key>
        <value>${db_table:substringBefore("."):substringAfterLast(" ")}.${db_table:substringAfter("."):substringBefore(" ")}</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${db_table:substringBefore("."):substringAfterLast(" ")}_${db_table:substringAfter("."):substringBefore(" ")}_cloud_update_success_${"partition"}.ack</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>971fc3d3-0e4b-30f0-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <position>
<x>1394.1015498006532</x>
<y>2877.6446885932696</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Attributes List</key>
        <value>
            <name>Attributes List</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
        <value>
            <name>attributes-to-json-regex</name>
        </value>
    </entry>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>
            <name>Include Core Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>
            <name>Null Value</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Attributes List</key>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
    </entry>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AttributesToJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                        </processors>
                        <processors>
                            <id>e7bcce28-b2f0-3ee3-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <position>
<x>1388.8367468170638</x>
<y>2459.91311751459</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>db_table</key>
        <value>
            <name>db_table</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>db_table</key>
        <value>(.*)</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>ef68eca1-21e5-372b-0000-000000000000</id>
                            <parentGroupId>f906e154-7705-3368-0000-000000000000</parentGroupId>
                            <position>
<x>1395.9157683151207</x>
<y>3097.6336793716</y>
                            </position>
                            <bundle>
<artifact>nifi-azure-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>container-name</key>
        <value>
            <name>container-name</name>
        </value>
    </entry>
    <entry>
        <key>storage-sas-token</key>
        <value>
            <name>storage-sas-token</name>
        </value>
    </entry>
    <entry>
        <key>storage-account-name</key>
        <value>
            <name>storage-account-name</name>
        </value>
    </entry>
    <entry>
        <key>storage-account-key</key>
        <value>
            <name>storage-account-key</name>
        </value>
    </entry>
    <entry>
        <key>blob</key>
        <value>
            <name>blob</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>container-name</key>
        <value>/log/location/on/azure</value>
    </entry>
    <entry>
        <key>storage-sas-token</key>
    </entry>
    <entry>
        <key>storage-account-name</key>
    </entry>
    <entry>
        <key>storage-account-key</key>
    </entry>
    <entry>
        <key>blob</key>
        <value>${"filename"}</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AzureLogFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.azure.storage.PutAzureBlobStorage</type>
                        </processors>
                    </contents>
                    <name>HiveFailure</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>12df9a37-5597-3f18-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1098.7264619593468</x>
                        <y>1354.646123030021</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>container-name</key>
<value>
    <name>container-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
<value>
    <name>storage-sas-token</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-name</key>
<value>
    <name>storage-account-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-key</key>
<value>
    <name>storage-account-key</name>
</value>
                            </entry>
                            <entry>
<key>blob</key>
<value>
    <name>blob</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>container-name</key>
<value>/log/location/on/azure</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
                            </entry>
                            <entry>
<key>storage-account-name</key>
                            </entry>
                            <entry>
<key>storage-account-key</key>
                            </entry>
                            <entry>
<key>blob</key>
<value>${"filename"}</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AzureLogFile - FailedSparkScriptLogFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.PutAzureBlobStorage</type>
                </processors>
                <processors>
                    <id>1c6bae78-eaa3-3863-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>520.148239884119</x>
                        <y>1372.8518305388911</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>Split the incoming Hive commands from the Python script so that only one given table can be updated per flowfile, this is to allow some tables to fail, and some to succeed as opposed to all failing should something be wrong with the single Hive command.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitText - HiveDDLStatements</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>4308e6fe-cdb8-37cb-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>843.7799297214756</x>
                        <y>942.4439215523953</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>Routing to two separate streams, if the Spark tokenisation script is successful, it will route to the success flow, otherwise it will route to the failure flow.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>successful_operation</key>
<value>
    <name>successful_operation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>successful_operation</key>
<value>${execution.status:equals(0)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnSuccessOrFailure</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>59063b8c-fc6c-3f5f-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>519.9190861884242</x>
                        <y>1598.5980571808695</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hive3-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>This process runs a msck repair table for a given table in the Public Cloud environment, this is to enable the Public Cloud table to recognise the new partition saved from the Spark tokenisation script</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>hive3-dbcp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.hive.Hive3DBCPService</identifiesControllerService>
    <name>hive3-dbcp-service</name>
</value>
                            </entry>
                            <entry>
<key>hive-batch-size</key>
<value>
    <name>hive-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>hive3-query-timeout</key>
<value>
    <name>hive3-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>hive3-charset</key>
<value>
    <name>hive3-charset</name>
</value>
                            </entry>
                            <entry>
<key>statement-delimiter</key>
<value>
    <name>statement-delimiter</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>hive3-dbcp-service</key>
<value>a6ea713c-a003-3702-0000-000000000000</value>
                            </entry>
                            <entry>
<key>hive-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>hive3-query-timeout</key>
<value>0</value>
                            </entry>
                            <entry>
<key>hive3-charset</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>statement-delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHive3QL - PublicCloud</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hive.PutHive3QL</type>
                </processors>
                <processors>
                    <id>5907f177-9251-3c2b-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>828.7383855754579</x>
                        <y>453.5315517951525</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>abfs_prefix</key>
<value>
    <name>abfs_prefix</name>
</value>
                            </entry>
                            <entry>
<key>base_path</key>
<value>
    <name>base_path</name>
</value>
                            </entry>
                            <entry>
<key>country</key>
<value>
    <name>country</name>
</value>
                            </entry>
                            <entry>
<key>databases</key>
<value>
    <name>databases</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>source_system</key>
<value>
    <name>source_system</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>abfs_prefix</key>
<value>abfs://data@haascdpdev.dfs.core.windows.net</value>
                            </entry>
                            <entry>
<key>base_path</key>
<value>/CTRLFW/SOURCG/SDM/DEV</value>
                            </entry>
                            <entry>
<key>country</key>
<value>country</value>
                            </entry>
                            <entry>
<key>databases</key>
<value>SRI_OPEN,SRI_NONOPEN</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>${now():toNumber():minus(86400000):format('yyyy-MM-dd')}</value>
                            </entry>
                            <entry>
<key>source_system</key>
<value>sourcesystem</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute - BaseVariableDeclaration</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>5dfc639c-436a-35b8-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1100.1032143208454</x>
                        <y>1154.9644853697446</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>${"sourcesystem_xml"}_${"country_xml"}_spark_tokenisation_fail_${"partition"}.ack</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute - FailedTokenisation</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>65b27483-c9f7-3ba2-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>844.2837967326677</x>
                        <y>702.1373184454987</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>This is the processor that calls the Spark tokenisation script to tokenise the required columns of a table, and save the result into the ADLS Gen2 storage underpinning the Public Cloud Data Hub cluster. All fields to start the job are extracted from the parameter file from the previous process group, the target partition for this job is extracted from the original acknowledgement file that triggered the flow to initially start (from the ListFile processor).</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Command Arguments</key>
<value>${"kerberos_keytab_xml"};${"kerberos_principal_xml"};${"sourcesystem_xml"};${"country_xml"};${"nfs_location_xml"};"udf";"";"";"false";${"consumed_tables_xml"};"${"partition"}";"${"partition"}";"${abfs_prefix}${hdfs_parent_dir_xml}";${"databases"}</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/CTRLFW/SOURCG/SDM/DEV/deployment/1.3.1/scripts/sdm-tokenization-util-cloud.sh</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/CTRLFW/SOURCG/SDM/DEV/deployment/1.3.1/scripts/</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand - SparkTokenisation</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>766235c4-cefc-3f8e-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>825.3201594437119</x>
                        <y>252.12390554112676</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 14 00 * * ?</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>bdd36ff4-644d-3eb1-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1471.8959624682052</x>
                        <y>456.33139229126465</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>This will grab the XML file that corresponds to the source system and country pulled from the previous processor.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>${"base_path"}/${"source_system"}/${"country"}/configs/${"source_system"}_${"country"}_param.xml</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Rename</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchFile - Params File</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>d8a5083c-410a-33bc-0000-000000000000</id>
                    <parentGroupId>2cec0557-f041-3bf3-0000-000000000000</parentGroupId>
                    <position>
                        <x>525.1498703242396</x>
                        <y>1152.0396278193248</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>This processor runs a Python script which checks for any failed tables. If it detects any, then those tables are removed from the list of successful tables that will run on the next processors to update the Public Cloud tables.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Command Arguments</key>
<value>-p;${"nfs_location_xml"};-f;${"status_file_location_xml"};-s;${"sourcesystem_xml"};-c;${"country_xml"};-d;${"databases_xml"};-x;${"partition"};-t;${"consumed_tables_xml"};-m;${"db_partition_map"}</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/CTRLFW/SOURCG/SDM/DEV/deployment/1.3.1/scripts/file_checker.py</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/CTRLFW/SOURCG/SDM/DEV/deployment/1.3.1/scripts</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand - PythonFileChecker</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
            </contents>
            <name>CDP_DATA_CP without EOD Trigger</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/13/2021 02:24:25 UTC</timestamp>
</template>
