SCB_Template.json
{"flowContents":{"identifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SCB Template - Noise Reduction","comments":"Testing to reduce noise in flow","position":{"x":784.0,"y":856.0},"processGroups":[{"identifier":"053daa70-3b15-3be4-b056-0135f4e58083","name":"HDFS Transfer Directly to HDP tables","comments":"","position":{"x":1080.0,"y":1128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7de0f523-bec1-3c00-a01c-1b66dec1eac6","name":"SplitContent","comments":"","position":{"x":1496.0,"y":1560.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.SplitContent","properties":{"Byte Sequence Location":"Trailing","Keep Byte Sequence":"false","Byte Sequence Format":"Text","Byte Sequence":","},"propertyDescriptors":{"Byte Sequence Location":{"name":"Byte Sequence Location","displayName":"Byte Sequence Location","identifiesControllerService":false,"sensitive":false},"Keep Byte Sequence":{"name":"Keep Byte Sequence","displayName":"Keep Byte Sequence","identifiesControllerService":false,"sensitive":false},"Byte Sequence Format":{"name":"Byte Sequence Format","displayName":"Byte Sequence Format","identifiesControllerService":false,"sensitive":false},"Byte Sequence":{"name":"Byte Sequence","displayName":"Byte Sequence","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"80cf6f9d-fa50-376c-b01c-7f5b7bbfe187","name":"Create Metadata Update SQL","comments":"","position":{"x":1080.0,"y":1368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\nclass PyStreamCallback(StreamCallback):\n    def __init__(self, flowfile):\n        self.ff = flowfile\n        pass\n    def process(self, inputStream, outputStream):\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        string_split = list(set([ \"ALTER TABLE {}.{} ADD IF NOT EXISTS PARTITION ( {} = '{}' );\".format(x.split(\"/\")[-4], x.split(\"/\")[-3], x.split(\"/\")[-2].split(\"=\")[0], x.split(\"/\")[-2].split(\"=\")[1]) for x in text.split(\"\\n\") if x ]))\n        rejoined = \"\\n\".join(string_split)\n        outputStream.write(bytearray(rejoined.encode('utf-8')))\n\nflowFile = session.get()\nif (flowFile != None):\n    flowFile = session.write(flowFile,PyStreamCallback(flowFile))\n    session.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"b04721dd-2ee4-3068-bd6e-69a60bf9c353","name":"ERROR - PutFile did not complete","comments":"","position":{"x":1968.0,"y":1344.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"d5c3120f-b2e8-33fd-b2ed-8a5d47e66924","name":"Set Failure Filename","comments":"","position":{"x":1968.0,"y":1144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(${abfs_location}):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"0a234610-8d4f-3065-b8ba-ea2fdb3a6482","name":"SplitText","comments":"","position":{"x":760.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"fb06fa56-a5e9-3f77-8595-b2129f6f64fc","name":"Wait","comments":"","position":{"x":1272.0,"y":992.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{"background-color":"#2bc265"},"type":"org.apache.nifi.processors.standard.Wait","properties":{"wait-buffer-count":"1","wait-mode":"keep","attribute-copy-mode":"keeporiginal","distributed-cache-service":"da3ee2d3-51a8-333e-9f82-94c24bb70e84","releasable-flowfile-count":"1","release-signal-id":"${fragment.identifier}","signal-counter-name":"scb_ingest_plain","expiration-duration":"60 mins","target-signal-count":"${fragment.count}","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"8b986702-c2af-300b-a528-d93b38e1bc5b","name":"Set Path Properties","comments":"","position":{"x":144.0,"y":1192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${azure_full_path:substringAfterLast(\"/\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","target_dir":"${azure_full_path:substringBeforeLast(\"/\")}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"target_dir":{"name":"target_dir","displayName":"target_dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"6f10cffc-1e74-386a-9cc2-f7f6e5154ea9","name":"Set Recon Variables","comments":"","position":{"x":1496.0,"y":1952.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"database":"${metadata_mapping:substringBefore(\".\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","partition_col":"${metadata_mapping:substringAfter(\"|\")}","Stateful Variables Initial Value":null,"table":"${metadata_mapping:substringAfter(\".\"):substringBefore(\"|\")}"},"propertyDescriptors":{"database":{"name":"database","displayName":"database","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"partition_col":{"name":"partition_col","displayName":"partition_col","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"table":{"name":"table","displayName":"table","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"85eca6f6-9e3f-382b-ad9e-d7083c5d1338","name":"Listing of Files","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"python","Script Body":"import os\nimport subprocess\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\nclass PyStreamCallback(StreamCallback):\n    def __init__(self,consumed_tables, keytab, principal, base_path, databases, db_mapping, partition): \n        self.consumed_tables = consumed_tables.split(\",\") \n        self.keytab = keytab\n        self.principal = principal\n        self.base_path = base_path\n        self.databases = databases\n        self.db_mapping = db_mapping\n        self.partition = partition\n        pass\n        \n    def process(self, inputStream, outputStream):\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        output = self.get_file_list()\n        outputStream.write(bytearray(output.encode('utf-8')))\n        \n    def get_file_list(self):\n        # kerberos auth\n        os.environ[\"KRB5CCNAME\"] = \"FILE:/tmp/krb5cc_{}\".format(os.getuid())\n        base_command = \"kinit -kt {} {}\".format(self.keytab, self.principal)\n        process = subprocess.Popen(base_command.split(), stdout=subprocess.PIPE)\n        output, error = process.communicate()\n        ## creating list\n        mapping = self.db_mapping.split(\",\")\n        file_list = []\n        for db in self.databases.split(\",\"):\n            col_name = [ x.split(\":\")[1] for x in mapping if db in x ][0]\n            for tbl in self.consumed_tables:\n                hdfs_command = \"hdfs dfs -ls {}/{}/{}/{}={}\".format(self.base_path, db, tbl, col_name, self.partition)\n                hdfs_process = subprocess.Popen(hdfs_command.split(), stdout=subprocess.PIPE)\n                output, error = hdfs_process.communicate()\n                if output:\n                    file_list.append([x.split(\" \")[-1] for x in output.split(\"\\n\") if x][1:])\n        file_list = [ x for y in file_list for x in y ]\n        return \"\\n\".join(file_list)\n\nflowFile = session.get()\nif (flowFile != None):\n    consumed_tables = flowFile.getAttribute('consumed_tables_plain')\n    keytab = flowFile.getAttribute('kerberos_keytab')\n    principal = flowFile.getAttribute('kerberos_principal')\n    base_path = flowFile.getAttribute('hdfs_parent_dir')\n    databases = flowFile.getAttribute('databases')\n    db_mapping = flowFile.getAttribute('db_partition_map')\n    partition = flowFile.getAttribute('partition')\n    flowFile = session.write(flowFile,PyStreamCallback(consumed_tables, keytab, principal, base_path, databases, db_mapping, partition))\n    session.transfer(flowFile, REL_SUCCESS)  \n    \n    ","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"62472ab0-32da-3b39-8353-1f0e0ae9e7ae","name":"Extract Target Values","comments":"","position":{"x":1496.0,"y":1368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\nclass PyStreamCallback(StreamCallback):\n    def __init__(self, flowfile):\n        self.ff = flowfile\n        pass\n    def process(self, inputStream, outputStream):\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        db_table_partition_mapping = list(set([ \"{}.{}|{}\".format(x.split(\"/\")[-4], x.split(\"/\")[-3], x.split(\"/\")[-2].split(\"=\")[0]) for x in text.split(\"\\n\") if x ]))\n        rejoined = \",\".join(db_table_partition_mapping)\n        outputStream.write(bytearray(rejoined.encode('utf-8')))\n\nflowFile = session.get()\nif (flowFile != None):\n    db_table_partition_mapping = session.write(flowFile,PyStreamCallback(flowFile))\n    session.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"5 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"96b1a90f-c89b-3816-96e2-811fe79fd577","name":"Save Data to OnPrem HDFS","comments":"","position":{"x":144.0,"y":1392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"dc16e29b-d512-31f0-b720-4996b84447b1","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"${\"target_dir\"}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"47370a22-3ab3-30d0-805b-8f7f20c1c111","name":"Extract Metadata Mapping","comments":"","position":{"x":1496.0,"y":1752.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","metadata_mapping":"(.*)","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"metadata_mapping":{"name":"metadata_mapping","displayName":"metadata_mapping","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"1b1ab5c1-15b4-3fd1-95fd-166fe0567c25","name":"Extract Text to Attributes","comments":"","position":{"x":760.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"433cd8c7-a60b-301d-aa74-eb2e82ab9dd2","name":"FetchCDPObjectStore","comments":"","position":{"x":768.0,"y":1192.0},"bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","properties":{"kerberos-credentials-service":"dc16e29b-d512-31f0-b720-4996b84447b1","filename":"${\"azure_full_path\"}","cdp-storage-location":null,"Kerberos Principal":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"b26d31c2-2a08-302f-b56b-2045f492571c","name":"Notify","comments":"","position":{"x":144.0,"y":1584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{"background-color":"#2bc265"},"type":"org.apache.nifi.processors.standard.Notify","properties":{"signal-counter-delta":"1","distributed-cache-service":"da3ee2d3-51a8-333e-9f82-94c24bb70e84","signal-buffer-count":"1","release-signal-id":"${fragment.identifier}","signal-counter-name":"scb_ingest_plain","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"inputPorts":[{"identifier":"3119ef0a-a955-3d41-8b14-5974afe51799","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"outputPorts":[{"identifier":"8694c1c3-3c0a-3143-b2be-de6074c4389f","name":"Recon","position":{"x":1552.0,"y":2152.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"341e40c9-ac58-3151-ba62-a2e81a489510","name":"MetadataUpdate","position":{"x":1136.0,"y":1584.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"connections":[{"identifier":"64359afd-585d-3306-b465-214a516b1ec8","name":"","source":{"id":"d5c3120f-b2e8-33fd-b2ed-8a5d47e66924","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Set Failure Filename","comments":""},"destination":{"id":"b04721dd-2ee4-3068-bd6e-69a60bf9c353","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"ERROR - PutFile did not complete","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"0d21ab12-dcd5-37ff-959f-56bc1710cda1","name":"","source":{"id":"47370a22-3ab3-30d0-805b-8f7f20c1c111","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Metadata Mapping","comments":""},"destination":{"id":"6f10cffc-1e74-386a-9cc2-f7f6e5154ea9","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Set Recon Variables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"36cadb77-2d17-3db0-9562-b5f258064ec1","name":"","source":{"id":"96b1a90f-c89b-3816-96e2-811fe79fd577","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"b26d31c2-2a08-302f-b56b-2045f492571c","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Notify","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"58c85026-7ba8-31ee-8d26-8d33dd1dd60f","name":"","source":{"id":"96b1a90f-c89b-3816-96e2-811fe79fd577","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"78256648-0382-3cde-8ba3-c24bbd5b4bb4","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"33c6e7c0-a379-351b-8045-0aeadaf47ccb","name":"","source":{"id":"62472ab0-32da-3b39-8353-1f0e0ae9e7ae","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Target Values","comments":""},"destination":{"id":"7de0f523-bec1-3c00-a01c-1b66dec1eac6","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"SplitContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"84ff2e8d-5ed7-371a-bd9d-c0656c15bbd3","name":"","source":{"id":"93f24e75-8f76-3e17-9f37-c898364024a3","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"destination":{"id":"62472ab0-32da-3b39-8353-1f0e0ae9e7ae","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Target Values","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1672.0,"y":1288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"d36c83e6-6a21-362c-a82e-f6fcd547c4c0","name":"","source":{"id":"3119ef0a-a955-3d41-8b14-5974afe51799","type":"INPUT_PORT","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"InputHDFSTransfer","comments":""},"destination":{"id":"85eca6f6-9e3f-382b-ad9e-d7083c5d1338","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Listing of Files","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"2de701b3-d398-35aa-b458-8d4584682f23","name":"","source":{"id":"0a234610-8d4f-3065-b8ba-ea2fdb3a6482","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"SplitText","comments":""},"destination":{"id":"1b1ab5c1-15b4-3fd1-95fd-166fe0567c25","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Text to Attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"111362ad-45f7-3e7d-816f-28c1ae83edb1","name":"","source":{"id":"7de0f523-bec1-3c00-a01c-1b66dec1eac6","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"SplitContent","comments":""},"destination":{"id":"47370a22-3ab3-30d0-805b-8f7f20c1c111","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Metadata Mapping","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"b3301815-e4d1-3009-bd74-b1459c6b5f8f","name":"","source":{"id":"8b986702-c2af-300b-a528-d93b38e1bc5b","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Set Path Properties","comments":""},"destination":{"id":"96b1a90f-c89b-3816-96e2-811fe79fd577","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Save Data to OnPrem HDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"7d7ee3d5-be55-37b5-98d7-57310e0b6845","name":"","source":{"id":"93f24e75-8f76-3e17-9f37-c898364024a3","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"destination":{"id":"80cf6f9d-fa50-376c-b01c-7f5b7bbfe187","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Create Metadata Update SQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1256.0,"y":1288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"b6230623-4ae9-3398-abe5-32753d042dd6","name":"","source":{"id":"62472ab0-32da-3b39-8353-1f0e0ae9e7ae","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Target Values","comments":""},"destination":{"id":"0fdf2b8c-201d-3320-b07a-1fdb7b4c6686","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":3,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1888.0,"y":1432.0},{"x":1888.0,"y":1536.0},{"x":2000.0,"y":1536.0},{"x":2000.0,"y":1616.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"d7d8cf4a-8625-39b9-b752-641c67b72a89","name":"","source":{"id":"6f10cffc-1e74-386a-9cc2-f7f6e5154ea9","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Set Recon Variables","comments":""},"destination":{"id":"8694c1c3-3c0a-3143-b2be-de6074c4389f","type":"OUTPUT_PORT","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Recon"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"5bb02a12-9f33-3487-8aa8-9cf6d32a9c43","name":"","source":{"id":"85eca6f6-9e3f-382b-ad9e-d7083c5d1338","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Listing of Files","comments":""},"destination":{"id":"0a234610-8d4f-3065-b8ba-ea2fdb3a6482","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"7781a4f0-f4b9-328e-a629-e9b7ffd447d0","name":"","source":{"id":"0a234610-8d4f-3065-b8ba-ea2fdb3a6482","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"SplitText","comments":""},"destination":{"id":"fb06fa56-a5e9-3f77-8595-b2129f6f64fc","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Wait","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1448.0,"y":848.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"14e46439-ab31-39e3-a688-fd358d2b263b","name":"","source":{"id":"80cf6f9d-fa50-376c-b01c-7f5b7bbfe187","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Create Metadata Update SQL","comments":""},"destination":{"id":"341e40c9-ac58-3151-ba62-a2e81a489510","type":"OUTPUT_PORT","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"MetadataUpdate"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"04656557-b5c0-3cd1-a463-b78a8d24ac27","name":"","source":{"id":"433cd8c7-a60b-301d-aa74-eb2e82ab9dd2","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"FetchCDPObjectStore","comments":""},"destination":{"id":"8b986702-c2af-300b-a528-d93b38e1bc5b","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Set Path Properties","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"67414c5c-8d56-3c83-8846-8c179b1e3418","name":"","source":{"id":"fb06fa56-a5e9-3f77-8595-b2129f6f64fc","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Wait","comments":""},"destination":{"id":"7998d02b-4719-3ff0-9e6a-e54e55d9357a","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["wait","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1608.0,"y":928.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"70ac4cb5-dcf7-340c-9c60-8bde13366e88","name":"","source":{"id":"80cf6f9d-fa50-376c-b01c-7f5b7bbfe187","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Create Metadata Update SQL","comments":""},"destination":{"id":"567becbc-1057-3f9d-95b4-776fd1e83506","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":944.0,"y":1432.0},{"x":944.0,"y":1552.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"bd354669-4fac-3d0d-a7ad-f91478e9241f","name":"","source":{"id":"b04721dd-2ee4-3068-bd6e-69a60bf9c353","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"ERROR - PutFile did not complete","comments":""},"destination":{"id":"51517ada-8da8-334e-8d31-e34d60196e2f","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"5 days","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"b3995909-1405-3891-92c2-774a99e87769","name":"","source":{"id":"1b1ab5c1-15b4-3fd1-95fd-166fe0567c25","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Extract Text to Attributes","comments":""},"destination":{"id":"433cd8c7-a60b-301d-aa74-eb2e82ab9dd2","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"FetchCDPObjectStore","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"63ba57f4-1e37-35c4-81dd-600433c4b9ea","name":"","source":{"id":"fb06fa56-a5e9-3f77-8595-b2129f6f64fc","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Wait","comments":""},"destination":{"id":"d5c3120f-b2e8-33fd-b2ed-8a5d47e66924","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Set Failure Filename","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["expired"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2144.0,"y":1056.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"356f9433-1697-345e-bf67-1b4fd990fc55","name":"","source":{"id":"fb06fa56-a5e9-3f77-8595-b2129f6f64fc","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Wait","comments":""},"destination":{"id":"93f24e75-8f76-3e17-9f37-c898364024a3","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"00b194d6-1e98-3ef7-a321-cc66696d68e0","name":"","source":{"id":"433cd8c7-a60b-301d-aa74-eb2e82ab9dd2","type":"PROCESSOR","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"FetchCDPObjectStore","comments":""},"destination":{"id":"6447dd8e-99a0-3626-84f5-c938bfbf8db7","type":"FUNNEL","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":944.0,"y":1368.0},{"x":784.0,"y":1368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"labels":[{"identifier":"4bd2ef5f-cb34-33c6-b84f-48a59af32dbd","position":{"x":2024.0,"y":864.0},"label":"If the wait processor expires, this indicates \nthat for a given source system and country \nthe tables that don't need to be detokenised \nwere not saved properly to HDP\n\n\nFrom here, an acknowledgement of the \nfailure will be written to the local file \nsystem. The flow can be replayed to try \nagain from the first processor in this process \ngroup, or from the first processor of the \nwhole flow","width":264.0,"height":160.0,"style":{"background-color":"#cf7fab","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"32fde52d-10be-3a08-bb6d-061bfe009428","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"9f0000d4-975c-305b-94ea-2093d9dc6854","position":{"x":1552.0,"y":2216.0},"label":"This flow will go to RECON","width":240.0,"height":32.0,"style":{"background-color":"#2bc265","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"63c9e37a-35cf-376d-b97e-2c3e99f431cc","position":{"x":-56.0,"y":1336.0},"label":"This needs to be to the staging dir","width":232.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"d0454c62-16e6-331e-b2c2-adb2174edee7","position":{"x":696.0,"y":648.0},"label":"TRANSFER DIRECTLY TO HDP TABLE","width":432.0,"height":40.0,"style":{"background-color":"#d6faff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"051d69ed-3daf-35ec-8b66-6437129d0f22","position":{"x":1136.0,"y":1648.0},"label":"This flow will go to the metadata update","width":240.0,"height":32.0,"style":{"background-color":"#2bc265","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"funnels":[{"identifier":"0fdf2b8c-201d-3320-b07a-1fdb7b4c6686","position":{"x":1976.0,"y":1720.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"51517ada-8da8-334e-8d31-e34d60196e2f","position":{"x":2584.0,"y":1384.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"78256648-0382-3cde-8ba3-c24bbd5b4bb4","position":{"x":-160.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"6447dd8e-99a0-3626-84f5-c938bfbf8db7","position":{"x":760.0,"y":1440.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"7998d02b-4719-3ff0-9e6a-e54e55d9357a","position":{"x":1904.0,"y":904.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"93f24e75-8f76-3e17-9f37-c898364024a3","position":{"x":1432.0,"y":1184.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"},{"identifier":"567becbc-1057-3f9d-95b4-776fd1e83506","position":{"x":920.0,"y":1624.0},"componentType":"FUNNEL","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"controllerServices":[{"identifier":"da3ee2d3-51a8-333e-9f82-94c24bb70e84","name":"DistributedMapCacheClientService_Plain","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"nifi-dh-nifi0.hmatta.a465-9q4k.cloudera.site","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"053daa70-3b15-3be4-b056-0135f4e58083"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"HDFS Transfer to Staging for Detokenisation","comments":"","position":{"x":568.0,"y":1128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b12358cf-42b1-3c04-934d-334d45446941","name":"Listing of Files","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"python","Script Body":"import os\nimport subprocess\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\nclass PyStreamCallback(StreamCallback):\n    def __init__(self,consumed_tables, keytab, principal, base_path, databases, db_mapping, partition): \n        self.consumed_tables = consumed_tables.split(\",\") \n        self.keytab = keytab\n        self.principal = principal\n        self.base_path = base_path\n        self.databases = databases\n        self.db_mapping = db_mapping\n        self.partition = partition\n        pass\n        \n    def process(self, inputStream, outputStream):\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        output = self.get_file_list()\n        outputStream.write(bytearray(output.encode('utf-8')))\n        \n    def get_file_list(self):\n        # kerberos auth\n        os.environ[\"KRB5CCNAME\"] = \"FILE:/tmp/krb5cc_{}\".format(os.getuid())\n        base_command = \"kinit -kt {} {}\".format(self.keytab, self.principal)\n        process = subprocess.Popen(base_command.split(), stdout=subprocess.PIPE)\n        output, error = process.communicate()\n        ## creating list\n        mapping = self.db_mapping.split(\",\")\n        file_list = []\n        for db in self.databases.split(\",\"):\n            col_name = [ x.split(\":\")[1] for x in mapping if db in x ][0]\n            for tbl in self.consumed_tables:\n                hdfs_command = \"hdfs dfs -ls {}/{}/{}/{}={}\".format(self.base_path, db, tbl, col_name, self.partition)\n                hdfs_process = subprocess.Popen(hdfs_command.split(), stdout=subprocess.PIPE)\n                output, error = hdfs_process.communicate()\n                if output:\n                    file_list.append([x.split(\" \")[-1] for x in output.split(\"\\n\") if x][1:])\n        file_list = [ x for y in file_list for x in y ]\n        return \"\\n\".join(file_list)\n\nflowFile = session.get()\nif (flowFile != None):\n    consumed_tables = flowFile.getAttribute('consumed_tables_detokenise')\n    keytab = flowFile.getAttribute('kerberos_keytab')\n    principal = flowFile.getAttribute('kerberos_principal')\n    base_path = flowFile.getAttribute('hdfs_parent_dir')\n    databases = flowFile.getAttribute('databases')\n    db_mapping = flowFile.getAttribute('db_partition_map')\n    partition = flowFile.getAttribute('partition')\n    flowFile = session.write(flowFile,PyStreamCallback(consumed_tables, keytab, principal, base_path, databases, db_mapping, partition))\n    session.transfer(flowFile, REL_SUCCESS)  \n    \n    ","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"d838a58f-e4a8-37a2-a003-67e9418c805f","name":"Extract FlowFile into Attribute","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"0ca42004-406f-3c9b-bb5d-d8c81f569487","name":"Set Path Properties","comments":"","position":{"x":128.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${azure_full_path:substringAfterLast(\"/\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fetched_table":"${azure_full_path:substringBeforeLast(\"/\"):substringBeforeLast(\"/\"):substringAfterLast(\"/\")}","Stateful Variables Initial Value":null,"fetched_partition_value":"${azure_full_path:substringBeforeLast(\"/\"):substringAfterLast(\"/\"):substringAfter(\"=\")}","fetched_partition_col":"${azure_full_path:substringBeforeLast(\"/\"):substringAfterLast(\"/\"):substringBefore(\"=\")}","staging_dir":"${azure_full_path:contains(\"sri_nonopen\"):ifElse(${\"sri_non_open_staging_dir\"}, ${azure_full_path:contains(\"sri_open\"):ifElse(${\"sri_open_staging_dir\"}, \"/tmp/\")})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"fetched_table":{"name":"fetched_table","displayName":"fetched_table","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"fetched_partition_value":{"name":"fetched_partition_value","displayName":"fetched_partition_value","identifiesControllerService":false,"sensitive":false},"fetched_partition_col":{"name":"fetched_partition_col","displayName":"fetched_partition_col","identifiesControllerService":false,"sensitive":false},"staging_dir":{"name":"staging_dir","displayName":"staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"a935468f-6394-3d6b-be65-6b5551f0e499","name":"ERROR - PutFile did not complete","comments":"","position":{"x":1832.0,"y":1208.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"59796ed3-f198-3cbf-b995-e08866bfeeb8","name":"Set Failure Filename","comments":"","position":{"x":1824.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${\"sourcesystem\"}_${\"country\"}_failed_onprem_save_${\"partition\"}.ack","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"bd13d244-7749-3533-baba-29fa273806f4","name":"Fetch Data from ADLS Gen 2","comments":"","position":{"x":752.0,"y":1184.0},"bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","properties":{"kerberos-credentials-service":"dc16e29b-d512-31f0-b720-4996b84447b1","filename":"${\"azure_full_path\"}","cdp-storage-location":null,"Kerberos Principal":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"df2f9f8b-0065-3d49-94bd-49a6ab5d98b2","name":"Wait","comments":"","position":{"x":1144.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{"background-color":"#27b9e6"},"type":"org.apache.nifi.processors.standard.Wait","properties":{"wait-buffer-count":"1","wait-mode":"keep","attribute-copy-mode":"keeporiginal","distributed-cache-service":"5c00a24e-5bed-3e61-a222-b41e2979ef09","releasable-flowfile-count":"1","release-signal-id":"${fragment.identifier}","signal-counter-name":"scb_test","expiration-duration":"60 mins","target-signal-count":"${fragment.count}","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"913d1d7c-f02a-3b62-87d0-7acc3b734f62","name":"Save Data to OnPrem HDFS","comments":"","position":{"x":128.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"dc16e29b-d512-31f0-b720-4996b84447b1","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"${\"staging_dir\"}/${\"fetched_table\"}/${\"fetched_partition_col\"}=${\"fetched_partition_value\"}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"e0e9f795-62b4-31c6-940b-716cd847612f","name":"CreateCleansedTableList","comments":"","position":{"x":1144.0,"y":1176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\nclass PyStreamCallback(StreamCallback):\n    def __init__(self, flowfile):\n        self.ff = flowfile\n        pass\n    def process(self, inputStream, outputStream):\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        db_table_partition_mapping = list(set([ \"{}.{}|{}\".format(x.split(\"/\")[-4], x.split(\"/\")[-3], x.split(\"/\")[-2].split(\"=\")[0]) for x in text.split(\"\\n\") if x ]))\n        rejoined = \",\".join(db_table_partition_mapping)\n        outputStream.write(bytearray(rejoined.encode('utf-8')))\n\nflowFile = session.get()\nif (flowFile != None):\n    db_table_partition_mapping = session.write(flowFile,PyStreamCallback(flowFile))\n    session.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"5 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"e92e30f8-3dfe-3b73-becd-b0d5ae3c847a","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"092c95e0-90b6-33d7-b535-c33b4d2867ac","name":"Extract Metadata Mapping","comments":"","position":{"x":1144.0,"y":1376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","metadata_mapping":"(.*)","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"metadata_mapping":{"name":"metadata_mapping","displayName":"metadata_mapping","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"849d437d-c47d-3276-b634-171720b868b9","name":"Notify","comments":"","position":{"x":752.0,"y":1576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{"background-color":"#27b9e6"},"type":"org.apache.nifi.processors.standard.Notify","properties":{"signal-counter-delta":"1","distributed-cache-service":"5c00a24e-5bed-3e61-a222-b41e2979ef09","signal-buffer-count":"1","release-signal-id":"${fragment.identifier}","signal-counter-name":"scb_test","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"inputPorts":[{"identifier":"00ea2a84-9984-3965-b8c3-1c4abda59508","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"outputPorts":[{"identifier":"8214a8e3-76c8-3d2e-a44c-e252e1523922","name":"Detokenisation","comments":"","position":{"x":1200.0,"y":1560.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"connections":[{"identifier":"1c564672-1b55-3d95-83b2-f06f14e7d296","name":"","source":{"id":"d838a58f-e4a8-37a2-a003-67e9418c805f","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Extract FlowFile into Attribute","comments":""},"destination":{"id":"bd13d244-7749-3533-baba-29fa273806f4","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Fetch Data from ADLS Gen 2","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"742ce79b-cc8c-3a01-96e6-163f301df508","name":"","source":{"id":"df2f9f8b-0065-3d49-94bd-49a6ab5d98b2","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Wait","comments":""},"destination":{"id":"92a44872-19a1-3012-955e-e6817cff7fb8","type":"FUNNEL","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["wait","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1568.0,"y":872.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"c9d8b64a-334e-3249-b186-8c54535b80dc","name":"","source":{"id":"e0e9f795-62b4-31c6-940b-716cd847612f","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"CreateCleansedTableList","comments":""},"destination":{"id":"092c95e0-90b6-33d7-b535-c33b4d2867ac","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Extract Metadata Mapping","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"6c4c96a7-8cd6-36f4-a758-cf727e141152","name":"","source":{"id":"b12358cf-42b1-3c04-934d-334d45446941","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Listing of Files","comments":""},"destination":{"id":"e92e30f8-3dfe-3b73-becd-b0d5ae3c847a","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"fe9c2557-7a6f-38c5-87ee-420d4d319f67","name":"","source":{"id":"a935468f-6394-3d6b-be65-6b5551f0e499","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"ERROR - PutFile did not complete","comments":""},"destination":{"id":"9e39f67c-1851-3452-a41b-f714a272e72b","type":"FUNNEL","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"5 days","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"874f608d-5e6e-374c-b5eb-59bb02a92bc6","name":"","source":{"id":"e92e30f8-3dfe-3b73-becd-b0d5ae3c847a","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"SplitText","comments":""},"destination":{"id":"df2f9f8b-0065-3d49-94bd-49a6ab5d98b2","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Wait","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1320.0,"y":848.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"4d0387d5-07cb-3805-9135-4cb8b97630ef","name":"","source":{"id":"092c95e0-90b6-33d7-b535-c33b4d2867ac","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Extract Metadata Mapping","comments":""},"destination":{"id":"8214a8e3-76c8-3d2e-a44c-e252e1523922","type":"OUTPUT_PORT","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Detokenisation","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"b0a48e4c-f534-3c73-bfd1-a919a5b33027","name":"","source":{"id":"df2f9f8b-0065-3d49-94bd-49a6ab5d98b2","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Wait","comments":""},"destination":{"id":"59796ed3-f198-3cbf-b995-e08866bfeeb8","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Set Failure Filename","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["expired"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"62193372-62fa-3a00-91f6-59488f10677b","name":"","source":{"id":"913d1d7c-f02a-3b62-87d0-7acc3b734f62","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"788ea5c1-a858-3824-b4df-0aac64edcea9","type":"FUNNEL","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"bb6888c9-27e3-33de-9ef4-8ac4f116d4b3","name":"","source":{"id":"59796ed3-f198-3cbf-b995-e08866bfeeb8","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Set Failure Filename","comments":""},"destination":{"id":"a935468f-6394-3d6b-be65-6b5551f0e499","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"ERROR - PutFile did not complete","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"aed29da9-2c23-3d45-b10f-853cd38099bf","name":"","source":{"id":"0ca42004-406f-3c9b-bb5d-d8c81f569487","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Set Path Properties","comments":""},"destination":{"id":"913d1d7c-f02a-3b62-87d0-7acc3b734f62","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Save Data to OnPrem HDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"51181b38-549f-31a7-bfd6-c03ef3f4cb6d","name":"","source":{"id":"bd13d244-7749-3533-baba-29fa273806f4","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Fetch Data from ADLS Gen 2","comments":""},"destination":{"id":"0ca42004-406f-3c9b-bb5d-d8c81f569487","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Set Path Properties","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"83b45671-c113-3c0a-ad03-02b845d5de86","name":"","source":{"id":"00ea2a84-9984-3965-b8c3-1c4abda59508","type":"INPUT_PORT","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"InputHDFSTransfer","comments":""},"destination":{"id":"b12358cf-42b1-3c04-934d-334d45446941","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Listing of Files","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"35740ddb-1457-3c0c-9794-ac022dc1eff9","name":"","source":{"id":"df2f9f8b-0065-3d49-94bd-49a6ab5d98b2","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Wait","comments":""},"destination":{"id":"e0e9f795-62b4-31c6-940b-716cd847612f","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"CreateCleansedTableList","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"072e2bed-4f7a-3450-a8f3-415ee0052d57","name":"","source":{"id":"913d1d7c-f02a-3b62-87d0-7acc3b734f62","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"849d437d-c47d-3276-b634-171720b868b9","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Notify","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":928.0,"y":1504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"48faccc6-93c3-3de0-beba-acaaa1ebc5c8","name":"","source":{"id":"e0e9f795-62b4-31c6-940b-716cd847612f","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"CreateCleansedTableList","comments":""},"destination":{"id":"cb6524f9-a988-3fb8-a241-295eb1b6210f","type":"FUNNEL","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1696.0,"y":1240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"d1c7d82e-60a9-3a2b-9509-2978c0b33dd2","name":"","source":{"id":"bd13d244-7749-3533-baba-29fa273806f4","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Fetch Data from ADLS Gen 2","comments":""},"destination":{"id":"887389f1-1ca6-3de3-ac38-d2cb238df435","type":"FUNNEL","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"86b6a240-dd27-351a-9a35-90de90b2a717","name":"","source":{"id":"e92e30f8-3dfe-3b73-becd-b0d5ae3c847a","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"SplitText","comments":""},"destination":{"id":"d838a58f-e4a8-37a2-a003-67e9418c805f","type":"PROCESSOR","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Extract FlowFile into Attribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"labels":[{"identifier":"328efdbb-3ea1-3dbf-87ca-40d90c28b87d","position":{"x":1176.0,"y":1616.0},"label":"This flow is going to detokenisation\neventually splitting to metadata update and recon","width":288.0,"height":48.0,"style":{"background-color":"#27b9e6","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"2d373599-71a7-37c1-9ffd-2fd24dd537a4","position":{"x":144.0,"y":728.0},"label":"Restarts for this section of the flow can be \ntriggered from this processor","width":264.0,"height":48.0,"style":{"background-color":"#edd6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"fe1a35e0-5374-39a7-9e08-c8d01e6882c1","position":{"x":2216.0,"y":1000.0},"label":"If the wait processor expires, this indicates \nthat for a given source system and country \nthe tables that don't need to be detokenised \nwere not saved properly to HDP\n\n\nFrom here, an acknowledgement of the \nfailure will be written to the local file \nsystem. The flow can be replayed to try \nagain from the first processor in this process \ngroup, or from the first processor of the \nwhole flow","width":264.0,"height":160.0,"style":{"background-color":"#cf7fab","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"5e89f2b3-a564-35ef-a403-1cac66bc5aa4","position":{"x":-112.0,"y":1624.0},"label":"This needs to be to the staging dir\nCurrent Issue\n- merged content is corrupted in ORC format\n- therefore must save as ingested in flow","width":256.0,"height":80.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"ae73e610-7f7d-39ea-a40f-1483b3570551","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"addfd943-74ee-3f97-9df5-bc8f96ff9147","position":{"x":560.0,"y":648.0},"label":"TRANSFER TO STAGING","width":288.0,"height":40.0,"style":{"background-color":"#d6faff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"funnels":[{"identifier":"788ea5c1-a858-3824-b4df-0aac64edcea9","position":{"x":280.0,"y":1672.0},"componentType":"FUNNEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"92a44872-19a1-3012-955e-e6817cff7fb8","position":{"x":1760.0,"y":848.0},"componentType":"FUNNEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"cb6524f9-a988-3fb8-a241-295eb1b6210f","position":{"x":1672.0,"y":1400.0},"componentType":"FUNNEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"887389f1-1ca6-3de3-ac38-d2cb238df435","position":{"x":904.0,"y":1400.0},"componentType":"FUNNEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"9e39f67c-1851-3452-a41b-f714a272e72b","position":{"x":2480.0,"y":1248.0},"componentType":"FUNNEL","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"controllerServices":[{"identifier":"04b4fef1-2bc7-37bf-a363-edd7bf316c97","name":"DHKeytab","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"Kerberos Keytab":"/tmp/hmatta-dmathews.keytab","Kerberos Principal":"dmathews@HMATTA.A465-9Q4K.CLOUDERA.SITE"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"},{"identifier":"5c00a24e-5bed-3e61-a222-b41e2979ef09","name":"DistributedMapCacheClientService_Detokenise","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"nifi-dh-nifi0.hmatta.a465-9q4k.cloudera.site","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"56cd4af8-a558-3bcc-a63a-7abb9e956354"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"}],"remoteProcessGroups":[],"processors":[{"identifier":"b9dd5d71-a692-3d9a-a582-f7a384313fbc","name":"FailedToUpdateHive","comments":"","position":{"x":808.0,"y":1808.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"9746d621-9f12-3766-80c0-3088e3be7ccb","name":"Run Spark Metadata Update","comments":"","position":{"x":592.0,"y":1560.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/metaupdate.sh","Working Directory":"/tmp/scripts","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-k;${\"kerberos_keytab_onprem\"};-t;${\"kerberos_principal_onprem\"};-s;${\"sourcesystem\"};-c;${\"country\"};-d;${\"status_file_location_xml\"};-p;${\"partition\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"ca03c74a-96c7-33ba-9828-fec6296a2918","name":"RECON","comments":"","position":{"x":1520.0,"y":1984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"<path>/<script>","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"${\"kerberos_keytab_onprem\"};${\"kerberos_principal_onprem\"};${\"abfs_location\"};${\"hdfs_parent_dir_xml\"};${\"staging_dir\"};${\"recon_database\"};${\"recon_table\"};${\"recon_partition_col\"};${\"recon_partition_value\"};\"cdp_recon\";\"REVCP_RECORD_CNT_RECON\";${\"status_file_location_xml\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"b445c7cf-1424-354f-ac8b-a296d1f1db92","name":"Set Recon Variables","comments":"","position":{"x":-352.0,"y":1984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","recon_database":"${sql_contents:substringAfter(\" \"):substringAfter(\" \"):substringBefore(\".\")}","recon_partition_value":"${sql_contents:substringAfter(\"=\"):substringBeforeLast(\" \"):substringAfter(\"'\"):substringBefore(\"'\")}","recon_partition_col":"${sql_contents:substringBefore(\"=\"):substringBeforeLast(\" \"):substringAfterLast(\" \")}","recon_table":"${sql_contents:substringAfter(\" \"):substringAfter(\" \"):substringAfter(\".\"):substringBefore(\" \")}","Stateful Variables Initial Value":null,"staging_dir":"${sql_contents:contains(\"sri_nonopen\"):ifElse(${\"sri_non_open_staging_dir\"}, ${sql_contents:contains(\"sri_open\"):ifElse(${\"sri_open_staging_dir\"}, \"/tmp/\")})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"recon_database":{"name":"recon_database","displayName":"recon_database","identifiesControllerService":false,"sensitive":false},"recon_partition_value":{"name":"recon_partition_value","displayName":"recon_partition_value","identifiesControllerService":false,"sensitive":false},"recon_partition_col":{"name":"recon_partition_col","displayName":"recon_partition_col","identifiesControllerService":false,"sensitive":false},"recon_table":{"name":"recon_table","displayName":"recon_table","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"staging_dir":{"name":"staging_dir","displayName":"staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"9e519771-91bb-3517-968e-4fcb16d8ac2e","name":"SplitSQL","comments":"","position":{"x":-352.0,"y":1584.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"1a89d599-12e0-3afc-a3e0-2db286d64ff4","name":"ReconFailure","comments":"","position":{"x":1760.0,"y":2224.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":null,"Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"c02f883d-9333-3183-98fe-5052f307b493","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh","position":{"x":576.0,"y":1376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/echo","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"\"hello world\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"3e425176-3c09-3451-9f61-ef95c0cb7c28","name":"SuccessToUpdateHive","comments":"","position":{"x":344.0,"y":1808.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"264880d0-aee1-37e8-86e8-b22458881477","name":"ReconSuccess","comments":"","position":{"x":1296.0,"y":2224.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":null,"Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"33e944ab-91ef-3b21-bedf-ad8380581b0e","name":"Acknowledgement Trigger","comments":"","position":{"x":848.0,"y":512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":".*_integrated_recon_completion_.*\\.ack","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/tmp/archival","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"06d027bc-3e37-3529-9771-cef2901b9cbe","name":"Extract SQL to Attribute","comments":"","position":{"x":-352.0,"y":1784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","sql_contents":"(.*)","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"sql_contents":{"name":"sql_contents","displayName":"sql_contents","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"695754f8-fd99-3a7e-a517-cc3f93e9ba89","name":"Setting Base Attributes","comments":"","position":{"x":848.0,"y":712.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"country":"${filename:substringAfter(\"_\"):substringBefore(\"_\")}","databases":"SRI_OPEN,SRI_NONOPEN","Delete Attributes Expression":null,"partition":"${filename:substringAfterLast(\"_\"):substringBefore(\".\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sourcesystem_and_country":"${filename:substringBefore(\"_\")}-${filename:substringAfter(\"_\"):substringBefore(\"_\")}","Params Path":"${absolute.path:substringBeforeLast(\"/\"):substringBeforeLast(\"/\")}/config","Stateful Variables Initial Value":null,"sourcesystem":"${filename:substringBefore(\"_\")}"},"propertyDescriptors":{"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false},"databases":{"name":"databases","displayName":"databases","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"partition","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sourcesystem_and_country":{"name":"sourcesystem_and_country","displayName":"sourcesystem_and_country","identifiesControllerService":false,"sensitive":false},"Params Path":{"name":"Params Path","displayName":"Params Path","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sourcesystem":{"name":"sourcesystem","displayName":"sourcesystem","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"18a3e1d3-9d50-3b75-83da-45d4c56ab987","name":"PythonScriptFileChecker","comments":"","position":{"x":-32.0,"y":1376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/python_file_check.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-p;${\"nfs_location_xml\"};-f;${\"status_file_location_xml\"};-s;${\"sourcesystem_xml\"};-c;${\"country_xml\"};-d;${\"databases\"};-x;${\"partition\"};-m;${\"db_partition_map\"};-t;${\"consumed_tables_xml\"};-r;${\"transfer_method\"}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"6d5a035d-d701-3062-8d2e-95d1ec559499","name":"Obtaining Attributes from params.xml","comments":"","position":{"x":840.0,"y":912.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.0-56"},"style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","properties":{"Script File":null,"Script Engine":"python","Script Body":"import java.io\nfrom org.apache.commons.io import IOUtils\nimport xml.etree.ElementTree as ET\n\ndef return_dict(path, sourcesystem, country):\n    with open(\"{}/{}_{}_params.xml\".format(path, sourcesystem, country)) as f:\n        tree = ET.parse(f)\n    root = tree.getroot()\n    dict_ = {}\n    for child in root:\n        dict_[child[0].text]=child[1].text\n    for name, value in dict_.items():\n        for loop_name, loop_value in dict_.items():\n            try:\n                string_match = \"${\" + loop_name + \"}\"\n                dict_[name] = dict_[name].replace(string_match, loop_value)\n            except:\n                pass\n    return dict_\n    \ndef return_coresite_dict():\n    with open(\"/etc/hadoop/conf.cloudera.core_settings/core-site.xml\") as f:\n        tree = ET.parse(f)\n    root = tree.getroot()\n    dict_ = {}\n    for child in root:\n        dict_[child[0].text]=child[1].text\n    return dict_\n\ndef create_databases_list(databases, open_schema, nonopen_schema, storage_schema):\n    db_list = databases.upper().replace(\"SRI_OPEN\", open_schema).replace(\"SRI_NONOPEN\", nonopen_schema).replace(\"STORAGE\", storage_schema)\n    return db_list\n\ndef create_database_mapping(dict_, db_list):\n    open_schema = dict_[\"edmhdpif.config.sri.open.schema\"]\n    nonopen_schema = dict_[\"edmhdpif.config.sri.nonopen.schema\"]\n    storage_schema = dict_[\"edmhdpif.config.storage.schema\"]\n    open_part_col = dict_[\"edmhdpif.config.sri.open.partition.name\"]\n    nonopen_part_col = dict_[\"edmhdpif.config.sri.nonopen.partition.name\"]\n    storage_part_col = dict_[\"edmhdpif.config.storage.partition.name\"]\n    mapping = db_list.replace(open_schema, \"{}:{}\".format(open_schema, open_part_col)).replace(nonopen_schema, \"{}:{}\".format(nonopen_schema, nonopen_part_col)).replace(storage_part_col, \"{}:{}\".format(storage_schema, storage_part_col))\n    return mapping\n\ndef clean_lists(consumed_tables_list):\n    list_split = consumed_tables_list.split(\",\")\n    plain_list = \",\".join([ x[:-2] for x in list_split if x[-2:] == \"|p\" ])\n    detokenise_list = \",\".join([ x[:-2] for x in list_split if x[-2:] == \"|t\" ])\n    return (plain_list, detokenise_list)\n\nflowfile = session.get()\nif (flowfile != None):\n    path = flowfile.getAttribute('Params Path')\n    sourcesystem = flowfile.getAttribute('sourcesystem')\n    country = flowfile.getAttribute('country')\n    dict_ = return_dict(path, sourcesystem, country)\n    session.putAttribute(flowfile, 'consumed_tables', dict_[\"edmhdpif.config.consumed.tables\"])\n    session.putAttribute(flowfile, 'kerberos_principal', dict_[\"edmhdpif.config.kerberos.principal\"])\n    session.putAttribute(flowfile, 'kerberos_keytab', dict_[\"edmhdpif.config.kerberos.keytab.path\"])\n    session.putAttribute(flowfile, 'db_nonopen_schema', dict_[\"edmhdpif.config.sri.nonopen.schema\"])\n    session.putAttribute(flowfile, 'db_open_schema', dict_[\"edmhdpif.config.sri.open.schema\"])\n    session.putAttribute(flowfile, 'db_storage_schema', dict_[\"edmhdpif.config.storage.schema\"])\n    session.putAttribute(flowfile, 'hdfs_parent_dir', dict_[\"edmhdpif.config.hdfs.data.parent.dir\"])\n    session.putAttribute(flowfile, 'kerberos_keytab_onprem', dict_[\"edmhdpif.config.onperm.kerberos.keytab.path\"])\n    session.putAttribute(flowfile, 'kerberos_keytab_cloud', dict_[\"edmhdpif.config.kerberos.keytab.path\"])\n    session.putAttribute(flowfile, 'kerberos_principal_onprem', dict_[\"edmhdpif.config.onperm.kerberos.principal\"])\n    session.putAttribute(flowfile, 'kerberos_principal_cloud', dict_[\"edmhdpif.config.kerberos.principal\"])\n    session.putAttribute(flowfile, 'nfs_location', dict_[\"edmhdpif.config.source.nfs.location\"])\n    session.putAttribute(flowfile, 'open_partition_name', dict_[\"edmhdpif.config.sri.open.partition.name\"])\n    session.putAttribute(flowfile, 'nonopen_partition_name', dict_[\"edmhdpif.config.sri.nonopen.partition.name\"])\n    session.putAttribute(flowfile, 'sri_non_open_staging_dir', \"{}/{}\".format(dict_[\"edmhdpif.config.hdfs.data.parent.dir\"], dict_[\"edmhdpif.config.onperm.staging.sri.nonopen.dir\"]))\n    session.putAttribute(flowfile, 'sri_open_staging_dir', \"{}/{}\".format(dict_[\"edmhdpif.config.hdfs.data.parent.dir\"], dict_[\"edmhdpif.config.onperm.staging.sri.open.dir\"]))\n    session.putAttribute(flowfile, 'status_file_location', dict_[\"edmhdpif.config.statusfile.location\"])\n    session.putAttribute(flowfile, 'storage_partition_name', dict_[\"edmhdpif.config.storage.partition.name\"])\n    session.putAttribute(flowfile, 'storage_staging_dir', \"{}/{}\".format(dict_[\"edmhdpif.config.hdfs.data.parent.dir\"], dict_[\"edmhdpif.config.onperm.staging.storage.dir\"]))\n    ## database list\n    databases = flowfile.getAttribute(\"databases\")\n    db_list = create_databases_list(databases, dict_[\"edmhdpif.config.sri.open.schema\"], dict_[\"edmhdpif.config.sri.open.schema\"], dict_[\"edmhdpif.config.storage.schema\"])\n    session.putAttribute(flowfile, \"databases\", db_list)\n    session.putAttribute(flowfile, \"initial_databases_flag\", databases)\n    ## db_partcol_mapping\n    mapping = create_database_mapping(dict_, db_list)\n    session.putAttribute(flowfile, \"db_partition_map\", mapping)\n    ## cleansed lists\n    lists = clean_lists(dict_[\"edmhdpif.config.consumed.tables\"])\n    session.putAttribute(flowfile, \"consumed_tables_plain\", lists[0])\n    session.putAttribute(flowfile, \"consumed_tables_detokenise\", lists[1])\n    ## core-site.xml\n    core_site_dict = return_coresite_dict()\n    abfs_location = core_site_dict[\"fs.defaultFS\"][:-1]\n    abfs_filesystem = abfs_location.split(\"/\")[2]\n    session.putAttribute(flowfile, 'abfs_location', abfs_location)\n    session.putAttribute(flowfile, 'abfs_filesystem', abfs_filesystem)\n    session.transfer(flowfile, REL_SUCCESS)  \n    ","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"166cbd41-8dfe-38ec-96d2-e22ff75e038c","name":"","source":{"id":"9e519771-91bb-3517-968e-4fcb16d8ac2e","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SplitSQL","comments":""},"destination":{"id":"06d027bc-3e37-3529-9771-cef2901b9cbe","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Extract SQL to Attribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"32d5fcaa-8332-3605-8f41-33150dd52dd6","name":"","source":{"id":"18a3e1d3-9d50-3b75-83da-45d4c56ab987","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"9746d621-9f12-3766-80c0-3088e3be7ccb","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Run Spark Metadata Update","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":144.0,"y":1624.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"8fe26d90-c231-3a83-afa4-9e4b9b416649","name":"","source":{"id":"ca03c74a-96c7-33ba-9828-fec6296a2918","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"RECON","comments":""},"destination":{"id":"1a89d599-12e0-3afc-a3e0-2db286d64ff4","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"ReconFailure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"2d719d4c-f4fa-3d17-88b5-55ad8f785289","name":"","source":{"id":"18a3e1d3-9d50-3b75-83da-45d4c56ab987","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"9e519771-91bb-3517-968e-4fcb16d8ac2e","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SplitSQL","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-176.0,"y":1440.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"a08874e8-0e77-3c27-a5ed-090ceea625f1","name":"","source":{"id":"6d5a035d-d701-3062-8d2e-95d1ec559499","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Obtaining Attributes from params.xml","comments":""},"destination":{"id":"00ea2a84-9984-3965-b8c3-1c4abda59508","type":"INPUT_PORT","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"7309ec3f-e10c-3c00-bcbf-3ce0f2b83a81","name":"","source":{"id":"341e40c9-ac58-3151-ba62-a2e81a489510","type":"OUTPUT_PORT","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"MetadataUpdate"},"destination":{"id":"9746d621-9f12-3766-80c0-3088e3be7ccb","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Run Spark Metadata Update","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1272.0,"y":1624.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"fd370c7d-0369-34f5-b7db-01b3a5a1c6a2","name":"","source":{"id":"6d5a035d-d701-3062-8d2e-95d1ec559499","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Obtaining Attributes from params.xml","comments":""},"destination":{"id":"3119ef0a-a955-3d41-8b14-5974afe51799","type":"INPUT_PORT","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"27914622-3b7a-3fee-95b3-5fda20be395e","name":"","source":{"id":"33e944ab-91ef-3b21-bedf-ad8380581b0e","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Acknowledgement Trigger","comments":""},"destination":{"id":"695754f8-fd99-3a7e-a517-cc3f93e9ba89","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Setting Base Attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"88005139-0757-3427-a07b-02b8471a66bd","name":"","source":{"id":"b445c7cf-1424-354f-ac8b-a296d1f1db92","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Set Recon Variables","comments":""},"destination":{"id":"ca03c74a-96c7-33ba-9828-fec6296a2918","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"RECON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"1ced830b-c2a6-3dbf-a1be-152041a118b6","name":"","source":{"id":"ca03c74a-96c7-33ba-9828-fec6296a2918","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"RECON","comments":""},"destination":{"id":"264880d0-aee1-37e8-86e8-b22458881477","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"ReconSuccess","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"4f0e6e52-3e2d-3ac2-89ab-d58ed6a08ad7","name":"","source":{"id":"9746d621-9f12-3766-80c0-3088e3be7ccb","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Run Spark Metadata Update","comments":""},"destination":{"id":"3e425176-3c09-3451-9f61-ef95c0cb7c28","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SuccessToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"20316143-65cf-3bc7-9eb5-1fe76ffacfb2","name":"","source":{"id":"6d5a035d-d701-3062-8d2e-95d1ec559499","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Obtaining Attributes from params.xml","comments":""},"destination":{"id":"b8bb201f-78c6-3497-8dc0-cc0c3e45b338","type":"FUNNEL","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"0a9dd776-b225-3f3c-af30-5ee94e5fb829","name":"","source":{"id":"18a3e1d3-9d50-3b75-83da-45d4c56ab987","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"PythonScriptFileChecker","comments":""},"destination":{"id":"5d8162f8-2eed-3f9b-886b-be9d18670b10","type":"FUNNEL","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"bb8fcc11-d698-3ef7-8958-1b002f3c90bf","name":"","source":{"id":"8214a8e3-76c8-3d2e-a44c-e252e1523922","type":"OUTPUT_PORT","groupId":"56cd4af8-a558-3bcc-a63a-7abb9e956354","name":"Detokenisation","comments":""},"destination":{"id":"c02f883d-9333-3183-98fe-5052f307b493","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"70413bc1-87cf-3774-ba82-ad650f93e7cb","name":"","source":{"id":"8694c1c3-3c0a-3143-b2be-de6074c4389f","type":"OUTPUT_PORT","groupId":"053daa70-3b15-3be4-b056-0135f4e58083","name":"Recon"},"destination":{"id":"ca03c74a-96c7-33ba-9828-fec6296a2918","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"RECON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1696.0,"y":1216.0},{"x":1696.0,"y":1512.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"300cb83b-dc0b-3687-a87f-5ac2b5eb60cb","name":"","source":{"id":"9746d621-9f12-3766-80c0-3088e3be7ccb","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Run Spark Metadata Update","comments":""},"destination":{"id":"b9dd5d71-a692-3d9a-a582-f7a384313fbc","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"FailedToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"ab26b434-07de-3f28-862e-1786a5fc0c31","name":"","source":{"id":"c02f883d-9333-3183-98fe-5052f307b493","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh"},"destination":{"id":"18a3e1d3-9d50-3b75-83da-45d4c56ab987","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"PythonScriptFileChecker","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"d4375326-8eec-3557-9f50-e117530ac7ce","name":"","source":{"id":"06d027bc-3e37-3529-9771-cef2901b9cbe","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Extract SQL to Attribute","comments":""},"destination":{"id":"b445c7cf-1424-354f-ac8b-a296d1f1db92","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Set Recon Variables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"6f18dc58-7a91-3536-a5c7-4c829ffbafe3","name":"","source":{"id":"695754f8-fd99-3a7e-a517-cc3f93e9ba89","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Setting Base Attributes","comments":""},"destination":{"id":"6d5a035d-d701-3062-8d2e-95d1ec559499","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Obtaining Attributes from params.xml","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"9afa12d6-21db-342b-8546-328f3539578f","name":"","source":{"id":"c02f883d-9333-3183-98fe-5052f307b493","type":"PROCESSOR","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh"},"destination":{"id":"53b717fe-c961-3ba6-9c04-9344f9e5edd8","type":"FUNNEL","groupId":"72b227f3-e2d6-3728-b5ae-769d1eadeda6","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"}],"labels":[],"funnels":[{"identifier":"5d8162f8-2eed-3f9b-886b-be9d18670b10","position":{"x":120.0,"y":1216.0},"componentType":"FUNNEL","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"b8bb201f-78c6-3497-8dc0-cc0c3e45b338","position":{"x":1472.0,"y":960.0},"componentType":"FUNNEL","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"},{"identifier":"53b717fe-c961-3ba6-9c04-9344f9e5edd8","position":{"x":1176.0,"y":1416.0},"componentType":"FUNNEL","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"}],"controllerServices":[{"identifier":"95fc8e30-1cab-3c99-baa8-907c88fce55b","name":"ADLSCredentialsControllerService_SimpleMethod","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.0-56"},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"1.13.2.2.2.3.0-56"}}],"properties":{"storage-use-managed-identity":"false","storage-endpoint-suffix":"dfs.core.windows.net"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"storage-use-managed-identity":{"name":"storage-use-managed-identity","displayName":"Use Azure Managed Identity","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72b227f3-e2d6-3728-b5ae-769d1eadeda6"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"dc16e29b-d512-31f0-b720-4996b84447b1":{"identifier":"dc16e29b-d512-31f0-b720-4996b84447b1","name":"KeytabCredentialsService - Cloud"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}