SCB_Template_-_Simple_Update_Table_Method.json
{"flowContents":{"identifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"SCB Template - Simple Update Table Method","comments":"Testing to see if a more simplistic method can be used to update table partitions without needed to rely on a python script","position":{"x":256.0,"y":712.0},"processGroups":[{"identifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"CoreSite XMLParser","comments":"","position":{"x":752.0,"y":416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ff7b326f-3b73-396d-81d3-65838e2be01f","name":"FetchFile","comments":"","position":{"x":1416.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"8b8793e7-0435-3d44-9a5f-4c12959e6a6f","name":"QueryRecord","comments":"","position":{"x":1416.0,"y":664.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"978be395-09ab-3df5-a8e3-9d18f3f96aa5","record-reader":"e224dd88-21c3-33d5-b9fe-d0f19ad64af7","include-zero-record-flowfiles":"true","dbf-default-scale":"0","ff_contents":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"ff_contents":{"name":"ff_contents","displayName":"ff_contents","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"bec9762a-0772-3871-8b82-25b9dd234f2c","name":"UpdateAttribute","comments":"","position":{"x":768.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"abfs_location":"${abfs_location:jsonPath('$[0]'):substringBeforeLast(\"/\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"abfs_location":{"name":"abfs_location","displayName":"abfs_location","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"463f06b6-c3f6-35af-ae25-dc54b5f51f17","name":"EvaluateJsonPath","comments":"","position":{"x":1416.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","abfs_location":"$.property.[*].[?(@.name=='fs.defaultFS')].value","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"abfs_location":{"name":"abfs_location","displayName":"abfs_location","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"}],"inputPorts":[{"identifier":"604b65e6-c62a-3fb8-aa75-2ffca942aa7c","name":"XMLParserInput","comments":"","position":{"x":808.0,"y":496.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"}],"outputPorts":[{"identifier":"900f0d47-7f4c-3fd4-822f-704d88d34be8","name":"XMLParserOutput","comments":"","position":{"x":816.0,"y":1080.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"}],"connections":[{"identifier":"32f88b86-cb54-33c8-b0f6-fc2d7bebad3a","name":"","source":{"id":"ff7b326f-3b73-396d-81d3-65838e2be01f","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"FetchFile","comments":""},"destination":{"id":"d05b77d3-f597-38a8-8ff3-e39c5cba73c8","type":"FUNNEL","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"722769e4-abea-3a26-93b5-d878529783c7","name":"","source":{"id":"8b8793e7-0435-3d44-9a5f-4c12959e6a6f","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"QueryRecord","comments":""},"destination":{"id":"463f06b6-c3f6-35af-ae25-dc54b5f51f17","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ff_contents"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"18953e77-b3a2-318e-bdf5-2194d94382a3","name":"","source":{"id":"604b65e6-c62a-3fb8-aa75-2ffca942aa7c","type":"INPUT_PORT","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"XMLParserInput","comments":""},"destination":{"id":"ff7b326f-3b73-396d-81d3-65838e2be01f","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"03ec9cc5-e7e9-389a-807c-b7c192647786","name":"","source":{"id":"463f06b6-c3f6-35af-ae25-dc54b5f51f17","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"EvaluateJsonPath","comments":""},"destination":{"id":"bec9762a-0772-3871-8b82-25b9dd234f2c","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"9b4dab7e-cfbd-3562-a02f-02f1a900d1ec","name":"","source":{"id":"ff7b326f-3b73-396d-81d3-65838e2be01f","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"FetchFile","comments":""},"destination":{"id":"8b8793e7-0435-3d44-9a5f-4c12959e6a6f","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"QueryRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"9ea66f7a-542f-3bc4-8811-fa8c12aced82","name":"","source":{"id":"bec9762a-0772-3871-8b82-25b9dd234f2c","type":"PROCESSOR","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"UpdateAttribute","comments":""},"destination":{"id":"900f0d47-7f4c-3fd4-822f-704d88d34be8","type":"OUTPUT_PORT","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"XMLParserOutput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"}],"labels":[],"funnels":[{"identifier":"d05b77d3-f597-38a8-8ff3-e39c5cba73c8","position":{"x":2112.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"}],"controllerServices":[{"identifier":"978be395-09ab-3df5-a8e3-9d18f3f96aa5","name":"JsonRecordSetWriter_ABFS","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"},{"identifier":"e224dd88-21c3-33d5-b9fe-d0f19ad64af7","name":"XMLReader_ABFS","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\"namespace\": \"nifi\",\n\"name\": \"configuration\",\n\"type\": \"record\",\n\"fields\": [\n{ \"name\": \"property\",\n\"type\": {\n\"type\": \"array\",\n\"items\": {\n\"name\": \"RecordInArray\",\n\"type\": \"record\",\n\"fields\" : [\n{\"name\": \"name\", \"type\": \"string\"},\n{\"name\": \"value\", \"type\": \"string\"}\n]\n}}}\n]\n}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"HDFS Transfer","comments":"","position":{"x":560.0,"y":1136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae161553-a589-3635-a9f9-630d29f3d419","name":"Fetch File Content from Azure ADLS Gen2","comments":"","position":{"x":152.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","properties":{"filesystem-name":"datafs","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"233a8257-fbab-3cb5-8b20-a60e08fdc359","directory-name":"${\"azure_path\"}","file-name":"${\"azure_filename\"}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"223a9cbc-5f7b-360f-869b-30591e5e6300","name":"Extract FlowFile into Attribute","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"ff513eb2-220c-319f-9a48-3291eaacfbde","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"1043b1f8-5218-39bc-93da-f686cbadc6f2","name":"Set Azure Variables","comments":"","position":{"x":760.0,"y":1192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(${abfs_location}):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"8cf28e01-b748-3a0a-8ba6-f779b3d2f6c6","name":"Bash Listing of Files","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-b;${\"hdfs_parent_dir_xml\"};-d;${\"databases_xml\"};-t;${\"consumed_tables_xml\"};-m;${\"db_partition_map\"};-u;${\"kerberos_principal_xml\"};-k;${\"kerberos_keytab_xml\"};-p;${\"partition\"};-f \"t\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"85e41d7f-f83f-3be2-9d22-6180d78a7307","name":"ConsolidateTables","comments":"","position":{"x":168.0,"y":1800.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":"128 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"64 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"15 secs","Demarcator File":null,"Correlation Attribute Name":"azure_path","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"026bccbc-1511-3783-80a5-1e2ab9d2f01f","name":"Save Data to OnPrem HDFS","comments":"","position":{"x":168.0,"y":1600.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/tmp/public_assets/core-site.xml,/tmp/public_assets/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"bc8461e9-7e7a-332b-9cc8-5e2ee07ec998","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"${\"staging_dir\"}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"6dcad321-a62e-3fb5-998b-ad6125a79496","name":"Set Path Properties","comments":"","position":{"x":160.0,"y":1392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"transfer_method":"detokenise","Delete Attributes Expression":null,"filename":"${\"azure_filename\"}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fetched_partition":"${azure_path:substringAfterLast(\"/\"):substringAfter(\"=\")}","fetched_table":"${azure_path:substringBeforeLast(\"/\"):substringAfterLast(\"/\")}","Stateful Variables Initial Value":null,"fetched_partition_col":"${azure_path:substringAfterLast(\"/\"):substringBefore(\"=\")}","staging_dir":"${azure_path:contains(\"sri_nonopen\"):ifElse(${\"sri_non_open_staging_dir\"}, ${azure_path:contains(\"sri_open\"):ifElse(${sri_open_staging_dir}, \"/tmp/\")})}","fetched_database":"${azure_path:substringBeforeLast(\"/\"):substringBeforeLast(\"/\"):substringAfterLast(\"/\")}"},"propertyDescriptors":{"transfer_method":{"name":"transfer_method","displayName":"transfer_method","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"fetched_partition":{"name":"fetched_partition","displayName":"fetched_partition","identifiesControllerService":false,"sensitive":false},"fetched_table":{"name":"fetched_table","displayName":"fetched_table","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"fetched_partition_col":{"name":"fetched_partition_col","displayName":"fetched_partition_col","identifiesControllerService":false,"sensitive":false},"staging_dir":{"name":"staging_dir","displayName":"staging_dir","identifiesControllerService":false,"sensitive":false},"fetched_database":{"name":"fetched_database","displayName":"fetched_database","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"inputPorts":[{"identifier":"19b2629b-3eca-3868-abb1-2632071ee202","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"outputPorts":[{"identifier":"dc33048e-26f4-33b3-b693-93c20408a1df","name":"OutputHDFSTransfer","comments":"","position":{"x":224.0,"y":2008.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"connections":[{"identifier":"be763dd6-513d-34fb-a60a-6ba40918202a","name":"","source":{"id":"85e41d7f-f83f-3be2-9d22-6180d78a7307","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"ConsolidateTables","comments":""},"destination":{"id":"d595c046-e898-3c29-b22d-96fb6b0efbbd","type":"FUNNEL","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"c4d50a7b-5dc3-3da5-baec-a5a009135643","name":"","source":{"id":"19b2629b-3eca-3868-abb1-2632071ee202","type":"INPUT_PORT","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"InputHDFSTransfer","comments":""},"destination":{"id":"8cf28e01-b748-3a0a-8ba6-f779b3d2f6c6","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Bash Listing of Files","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"829351bc-a414-32cd-bc7c-bf51ecb1f6c0","name":"","source":{"id":"1043b1f8-5218-39bc-93da-f686cbadc6f2","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Set Azure Variables","comments":""},"destination":{"id":"ae161553-a589-3635-a9f9-630d29f3d419","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Fetch File Content from Azure ADLS Gen2","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"e77d4f3e-0dda-393b-a759-8d7ab60256d7","name":"","source":{"id":"ae161553-a589-3635-a9f9-630d29f3d419","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Fetch File Content from Azure ADLS Gen2","comments":""},"destination":{"id":"6dcad321-a62e-3fb5-998b-ad6125a79496","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Set Path Properties","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"bc6e55c4-c174-360d-8ae0-ac8e7add250f","name":"","source":{"id":"ff513eb2-220c-319f-9a48-3291eaacfbde","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"SplitText","comments":""},"destination":{"id":"223a9cbc-5f7b-360f-869b-30591e5e6300","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Extract FlowFile into Attribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"6fcc7943-d0b7-36b6-98f1-81cec9c960ba","name":"","source":{"id":"223a9cbc-5f7b-360f-869b-30591e5e6300","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Extract FlowFile into Attribute","comments":""},"destination":{"id":"1043b1f8-5218-39bc-93da-f686cbadc6f2","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Set Azure Variables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"97127839-43d9-39bc-825e-9150ca7ca6e2","name":"","source":{"id":"026bccbc-1511-3783-80a5-1e2ab9d2f01f","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"9042525a-8b06-3580-849a-b417f49ebb1c","type":"FUNNEL","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"dd361bb5-ff2e-3a98-a8e7-555ee783210f","name":"","source":{"id":"8cf28e01-b748-3a0a-8ba6-f779b3d2f6c6","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Bash Listing of Files","comments":""},"destination":{"id":"ff513eb2-220c-319f-9a48-3291eaacfbde","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"94631a14-21f9-3912-a189-177cc78ce38f","name":"","source":{"id":"6dcad321-a62e-3fb5-998b-ad6125a79496","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Set Path Properties","comments":""},"destination":{"id":"026bccbc-1511-3783-80a5-1e2ab9d2f01f","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Save Data to OnPrem HDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"4f69f63c-75d5-36f3-bede-4fde5377d15f","name":"","source":{"id":"026bccbc-1511-3783-80a5-1e2ab9d2f01f","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"85e41d7f-f83f-3be2-9d22-6180d78a7307","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"ConsolidateTables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"60900e95-794d-3789-8b6c-4cde2dee18a8","name":"","source":{"id":"ae161553-a589-3635-a9f9-630d29f3d419","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Fetch File Content from Azure ADLS Gen2","comments":""},"destination":{"id":"c5a99a4e-4c06-35ca-b872-d6d337b35096","type":"FUNNEL","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"6a00ee3e-3ec8-36da-aee0-f8b3df903eb6","name":"","source":{"id":"85e41d7f-f83f-3be2-9d22-6180d78a7307","type":"PROCESSOR","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"ConsolidateTables","comments":""},"destination":{"id":"dc33048e-26f4-33b3-b693-93c20408a1df","type":"OUTPUT_PORT","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"OutputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"labels":[{"identifier":"8f380f8c-808a-33a1-acc9-eeb134c458d2","position":{"x":264.0,"y":656.0},"label":"TRANSFER TO STAGING","width":288.0,"height":40.0,"style":{"background-color":"#d6faff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"683ad1f1-ae55-3a99-a6fc-2800e24685df","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"64fa224c-aded-3bfd-abfd-03007637ec9f","position":{"x":-96.0,"y":1624.0},"label":"This needs to be to the staging dir\nCurrent Issue\n- merged content is corrupted in ORC format\n- therefore must save as ingested in flow","width":256.0,"height":80.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"funnels":[{"identifier":"9042525a-8b06-3580-849a-b417f49ebb1c","position":{"x":832.0,"y":1640.0},"componentType":"FUNNEL","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"c5a99a4e-4c06-35ca-b872-d6d337b35096","position":{"x":-248.0,"y":1208.0},"componentType":"FUNNEL","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"},{"identifier":"d595c046-e898-3c29-b22d-96fb6b0efbbd","position":{"x":-296.0,"y":1840.0},"componentType":"FUNNEL","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"controllerServices":[{"identifier":"bc8461e9-7e7a-332b-9cc8-5e2ee07ec998","name":"DHKeytab","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/hmatta-dmathews.keytab","Kerberos Principal":"dmathews@HMATTA.A465-9Q4K.CLOUDERA.SITE"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"8bd6c726-2c06-360d-a9ff-e662cf5a0107"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"XMLParser","comments":"","position":{"x":840.0,"y":864.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2daa9b2d-e7f2-3aae-8b37-3f8c7352cfd0","name":"Extract Params Content to Attribute","comments":"","position":{"x":1440.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"3467bb6d-582c-3d62-bc87-ce1aa51d7a72","record-reader":"0c7ddce1-9dde-3d08-8e83-df07ac030dd9","include-zero-record-flowfiles":"true","dbf-default-scale":"0","ff_contents":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"ff_contents":{"name":"ff_contents","displayName":"ff_contents","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"71fcc319-29cb-3511-bba7-f9bcdcc73457","name":"Extract Params Attribute of Interest","comments":"","position":{"x":1448.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","db_open_schema":"$.property.[*].[?(@.name=='edmhdpif.config.sri.open.schema')].value","open_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.sri.open.partition.name')].value","path_xml":"$.property.[*].[?(@.name=='edmhdpif.config.path')].value","sourcesystem_xml":"$.property.[*].[?(@.name=='edmhdpif.config.source')].value","db_nonopen_schema":"$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.schema')].value","storage_staging_dir":"$.property.[*].[?(@.name=='edmhdpif.config.onperm.staging.storage.dir')].value","sri_open_staging_dir":"$.property.[*].[?(@.name=='edmhdpif.config.onperm.staging.sri.open.dir')].value","Return Type":"json","db_storage_schema":"$.property.[*].[?(@.name=='edmhdpif.config.storage.schema')].value","storage_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.storage.partition.name')].value","status_file_location_xml":"$.property.[*].[?(@.name=='edmhdpif.config.statusfile.location')].value","Null Value Representation":"empty string","nonopen_partition_name":"$.property.[*].[?(@.name=='edmhdpif.config.sri.nonopen.partition.name')].value","country_xml":"$.property.[*].[?(@.name=='edmhdpif.config.country')].value","consumed_tables_xml":"$.property.[*].[?(@.name=='edmhdpif.config.consumed.tables')].value","kerberos_keytab_xml":"$.property.[*].[?(@.name=='edmhdpif.config.kerberos.keytab.path')].value","Path Not Found Behavior":"ignore","hdfs_parent_dir_xml":"$.property.[*].[?(@.name=='edmhdpif.config.hdfs.data.parent.dir')].value","nfs_location_xml":"$.property.[*].[?(@.name=='edmhdpif.config.source.nfs.location')].value","kerberos_principal_xml":"$.property.[*].[?(@.name=='edmhdpif.config.kerberos.principal')].value","sri_non_open_staging_dir":"$.property.[*].[?(@.name=='edmhdpif.config.onperm.staging.sri.nonopen.dir')].value"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"db_open_schema":{"name":"db_open_schema","displayName":"db_open_schema","identifiesControllerService":false,"sensitive":false},"open_partition_name":{"name":"open_partition_name","displayName":"open_partition_name","identifiesControllerService":false,"sensitive":false},"path_xml":{"name":"path_xml","displayName":"path_xml","identifiesControllerService":false,"sensitive":false},"sourcesystem_xml":{"name":"sourcesystem_xml","displayName":"sourcesystem_xml","identifiesControllerService":false,"sensitive":false},"db_nonopen_schema":{"name":"db_nonopen_schema","displayName":"db_nonopen_schema","identifiesControllerService":false,"sensitive":false},"storage_staging_dir":{"name":"storage_staging_dir","displayName":"storage_staging_dir","identifiesControllerService":false,"sensitive":false},"sri_open_staging_dir":{"name":"sri_open_staging_dir","displayName":"sri_open_staging_dir","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"db_storage_schema":{"name":"db_storage_schema","displayName":"db_storage_schema","identifiesControllerService":false,"sensitive":false},"storage_partition_name":{"name":"storage_partition_name","displayName":"storage_partition_name","identifiesControllerService":false,"sensitive":false},"status_file_location_xml":{"name":"status_file_location_xml","displayName":"status_file_location_xml","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"nonopen_partition_name":{"name":"nonopen_partition_name","displayName":"nonopen_partition_name","identifiesControllerService":false,"sensitive":false},"country_xml":{"name":"country_xml","displayName":"country_xml","identifiesControllerService":false,"sensitive":false},"consumed_tables_xml":{"name":"consumed_tables_xml","displayName":"consumed_tables_xml","identifiesControllerService":false,"sensitive":false},"kerberos_keytab_xml":{"name":"kerberos_keytab_xml","displayName":"kerberos_keytab_xml","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"hdfs_parent_dir_xml":{"name":"hdfs_parent_dir_xml","displayName":"hdfs_parent_dir_xml","identifiesControllerService":false,"sensitive":false},"nfs_location_xml":{"name":"nfs_location_xml","displayName":"nfs_location_xml","identifiesControllerService":false,"sensitive":false},"kerberos_principal_xml":{"name":"kerberos_principal_xml","displayName":"kerberos_principal_xml","identifiesControllerService":false,"sensitive":false},"sri_non_open_staging_dir":{"name":"sri_non_open_staging_dir","displayName":"sri_non_open_staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"94167d42-60d9-3d70-8103-abb358158ac6","name":"Evaluate Mappings and Directories","comments":"","position":{"x":760.0,"y":920.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"db_partition_map":"${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${db_storage_schema:isEmpty():not()})}):ifElse(\"${db_nonopen_schema}:${nonopen_partition_name},\",\"${db_nonopen_schema}:${nonopen_partition_name}\"):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse(\"${db_open_schema}:${open_partition_name},\",\"${db_open_schema}:${open_partition_name}\")}):append(${db_storage_schema:isEmpty():not():ifElse(\"${db_storage_schema}:${storage_partition_name}\",\"\")})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sri_open_staging_dir":"${sri_open_staging_dir:prepend(${\"hdfs_parent_dir_xml\":append(\"/\")})}","Stateful Variables Initial Value":null,"sri_non_open_staging_dir":"${sri_non_open_staging_dir:prepend(${\"hdfs_parent_dir_xml\":append(\"/\")})}","databases_xml":"${db_nonopen_schema:isEmpty():not():and(${db_open_schema:isEmpty():not():or(${db_storage_schema:isEmpty():not()})}):ifElse(\"${db_nonopen_schema},\",${\"db_nonopn_schema\"}):append(${db_open_schema:isEmpty():not():and(${db_storage_schema:isEmpty():not()}):ifElse(\"${db_open_schema},\",${\"db_open_schema\"})}):append(${\"db_storage_schema\"})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"db_partition_map":{"name":"db_partition_map","displayName":"db_partition_map","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"sri_open_staging_dir":{"name":"sri_open_staging_dir","displayName":"sri_open_staging_dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sri_non_open_staging_dir":{"name":"sri_non_open_staging_dir","displayName":"sri_non_open_staging_dir","identifiesControllerService":false,"sensitive":false},"databases_xml":{"name":"databases_xml","displayName":"databases_xml","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"3419a2dd-3777-315e-9188-12cf7c525921","name":"Clean Up Extracted Attributes","comments":"","position":{"x":760.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"db_open_schema":"${databases:contains('SRI_OPEN'):ifElse(${db_open_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","open_partition_name":"${open_partition_name:jsonPath('$[0]')}","path_xml":"${path_xml:jsonPath('$[0]')}","sourcesystem_xml":"${sourcesystem_xml:jsonPath('$[0]')}","db_nonopen_schema":"${databases:contains('SRI_NONOPEN'):ifElse(${db_nonopen_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","storage_staging_dir":"${databases:contains('STORAGE'):ifElse(${storage_staging_dir:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","sri_open_staging_dir":"${databases:contains('SRI_OPEN'):ifElse(${sri_open_staging_dir:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","db_storage_schema":"${databases:contains('STORAGE'):ifElse(${db_storage_schema:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}","storage_partition_name":"${storage_partition_name:jsonPath('$[0]')}","status_file_location_xml":"${status_file_location_xml:jsonPath('$[0]')}","nonopen_partition_name":"${nonopen_partition_name:jsonPath('$[0]')}","Stateful Variables Initial Value":null,"country_xml":"${country_xml:jsonPath('$[0]')}","consumed_tables_xml":"${consumed_tables_xml:jsonPath('$[0]')}","kerberos_keytab_xml":"${kerberos_keytab_xml:jsonPath('$[0]')}","hdfs_parent_dir_xml":"${hdfs_parent_dir_xml:jsonPath('$[0]'):substringBefore('$')}${sourcesystem_xml:jsonPath('$[0]')}/hdata","Delete Attributes Expression":null,"nfs_location_xml":"${nfs_location_xml:jsonPath('$[0]')}","kerberos_principal_xml":"${kerberos_principal_xml:jsonPath('$[0]')}","sri_non_open_staging_dir":"${databases:contains('SRI_NONOPEN'):ifElse(${sri_non_open_staging_dir:jsonPath('$[0]')},\"\"):replaceAll('\\$\\{edmhdpif.config.source\\}',${sourcesystem_xml:jsonPath('$[0]')}):replaceAll('\\$\\{edmhdpif.config.country\\}',${country_xml:jsonPath('$[0]')})}"},"propertyDescriptors":{"db_open_schema":{"name":"db_open_schema","displayName":"db_open_schema","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"open_partition_name":{"name":"open_partition_name","displayName":"open_partition_name","identifiesControllerService":false,"sensitive":false},"path_xml":{"name":"path_xml","displayName":"path_xml","identifiesControllerService":false,"sensitive":false},"sourcesystem_xml":{"name":"sourcesystem_xml","displayName":"sourcesystem_xml","identifiesControllerService":false,"sensitive":false},"db_nonopen_schema":{"name":"db_nonopen_schema","displayName":"db_nonopen_schema","identifiesControllerService":false,"sensitive":false},"storage_staging_dir":{"name":"storage_staging_dir","displayName":"storage_staging_dir","identifiesControllerService":false,"sensitive":false},"sri_open_staging_dir":{"name":"sri_open_staging_dir","displayName":"sri_open_staging_dir","identifiesControllerService":false,"sensitive":false},"db_storage_schema":{"name":"db_storage_schema","displayName":"db_storage_schema","identifiesControllerService":false,"sensitive":false},"storage_partition_name":{"name":"storage_partition_name","displayName":"storage_partition_name","identifiesControllerService":false,"sensitive":false},"status_file_location_xml":{"name":"status_file_location_xml","displayName":"status_file_location_xml","identifiesControllerService":false,"sensitive":false},"nonopen_partition_name":{"name":"nonopen_partition_name","displayName":"nonopen_partition_name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"country_xml":{"name":"country_xml","displayName":"country_xml","identifiesControllerService":false,"sensitive":false},"consumed_tables_xml":{"name":"consumed_tables_xml","displayName":"consumed_tables_xml","identifiesControllerService":false,"sensitive":false},"kerberos_keytab_xml":{"name":"kerberos_keytab_xml","displayName":"kerberos_keytab_xml","identifiesControllerService":false,"sensitive":false},"hdfs_parent_dir_xml":{"name":"hdfs_parent_dir_xml","displayName":"hdfs_parent_dir_xml","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"nfs_location_xml":{"name":"nfs_location_xml","displayName":"nfs_location_xml","identifiesControllerService":false,"sensitive":false},"kerberos_principal_xml":{"name":"kerberos_principal_xml","displayName":"kerberos_principal_xml","identifiesControllerService":false,"sensitive":false},"sri_non_open_staging_dir":{"name":"sri_non_open_staging_dir","displayName":"sri_non_open_staging_dir","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"}],"inputPorts":[{"identifier":"652529b7-1354-3540-8f44-5ae155529089","name":"XMLParserInput","comments":"","position":{"x":808.0,"y":496.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"}],"outputPorts":[{"identifier":"ef37cc19-400d-370c-9ad7-619d0810a9a1","name":"XMLParserOutput","comments":"","position":{"x":816.0,"y":1160.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"}],"connections":[{"identifier":"33a46e75-3bf7-3740-a723-3ce51db8ab17","name":"","source":{"id":"652529b7-1354-3540-8f44-5ae155529089","type":"INPUT_PORT","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"XMLParserInput","comments":""},"destination":{"id":"2daa9b2d-e7f2-3aae-8b37-3f8c7352cfd0","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Extract Params Content to Attribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"8f12d38f-0f51-3177-90a6-5327cabba651","name":"","source":{"id":"71fcc319-29cb-3511-bba7-f9bcdcc73457","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Extract Params Attribute of Interest","comments":""},"destination":{"id":"3419a2dd-3777-315e-9188-12cf7c525921","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Clean Up Extracted Attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"5c5b0564-b58a-350f-9f7e-59c0469eae22","name":"","source":{"id":"2daa9b2d-e7f2-3aae-8b37-3f8c7352cfd0","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Extract Params Content to Attribute","comments":""},"destination":{"id":"71fcc319-29cb-3511-bba7-f9bcdcc73457","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Extract Params Attribute of Interest","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ff_contents"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"3f3355f1-d5c0-301f-b4a0-4a7c4d093fca","name":"","source":{"id":"3419a2dd-3777-315e-9188-12cf7c525921","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Clean Up Extracted Attributes","comments":""},"destination":{"id":"94167d42-60d9-3d70-8103-abb358158ac6","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Evaluate Mappings and Directories","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"a3192107-64a1-393f-8081-a1dd1374d71c","name":"","source":{"id":"94167d42-60d9-3d70-8103-abb358158ac6","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Evaluate Mappings and Directories","comments":""},"destination":{"id":"ef37cc19-400d-370c-9ad7-619d0810a9a1","type":"OUTPUT_PORT","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"XMLParserOutput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"6a0363d0-00a8-3f2d-ad41-e66cbd5509da","name":"","source":{"id":"2daa9b2d-e7f2-3aae-8b37-3f8c7352cfd0","type":"PROCESSOR","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Extract Params Content to Attribute","comments":""},"destination":{"id":"c86a1c93-1f59-3774-8e29-04d0a2b813fd","type":"FUNNEL","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"}],"labels":[],"funnels":[{"identifier":"c86a1c93-1f59-3774-8e29-04d0a2b813fd","position":{"x":1592.0,"y":304.0},"componentType":"FUNNEL","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"}],"controllerServices":[{"identifier":"3467bb6d-582c-3d62-bc87-ce1aa51d7a72","name":"JsonRecordSetWriter - Simple Method","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"},{"identifier":"0c7ddce1-9dde-3d08-8e83-df07ac030dd9","name":"XMLReader - Simple Method","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\"namespace\": \"nifi\",\n\"name\": \"configuration\",\n\"type\": \"record\",\n\"fields\": [\n{ \"name\": \"property\",\n\"type\": {\n\"type\": \"array\",\n\"items\": {\n\"name\": \"RecordInArray\",\n\"type\": \"record\",\n\"fields\" : [\n{\"name\": \"name\", \"type\": \"string\"},\n{\"name\": \"value\", \"type\": \"string\"}\n]\n}}}\n]\n}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"175643d0-29bb-3736-ae75-2866565a7ab8"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"81252992-b8e6-3257-9970-55605566b9dc","name":"HDFS Transfer Direct","comments":"","position":{"x":1088.0,"y":1136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8c5778ae-09dd-3e3c-86e0-dff8b0f0653d","name":"Set Path Properties","comments":"","position":{"x":152.0,"y":1400.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"transfer_method":"plain","Delete Attributes Expression":null,"filename":"${\"azure_filename\"}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fetched_partition":"${azure_path:substringAfterLast(\"/\"):substringAfter(\"=\")}","fetched_table":"${azure_path:substringBeforeLast(\"/\"):substringAfterLast(\"/\")}","target_dir":"/${\"azure_path\"}","Stateful Variables Initial Value":null,"fetched_partition_col":"${azure_path:substringAfterLast(\"/\"):substringBefore(\"=\")}","fetched_database":"${azure_path:substringBeforeLast(\"/\"):substringBeforeLast(\"/\"):substringAfterLast(\"/\")}"},"propertyDescriptors":{"transfer_method":{"name":"transfer_method","displayName":"transfer_method","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"fetched_partition":{"name":"fetched_partition","displayName":"fetched_partition","identifiesControllerService":false,"sensitive":false},"fetched_table":{"name":"fetched_table","displayName":"fetched_table","identifiesControllerService":false,"sensitive":false},"target_dir":{"name":"target_dir","displayName":"target_dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"fetched_partition_col":{"name":"fetched_partition_col","displayName":"fetched_partition_col","identifiesControllerService":false,"sensitive":false},"fetched_database":{"name":"fetched_database","displayName":"fetched_database","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"bd815697-82b6-399a-9bbf-db42044223bd","name":"ConsolidateTables","comments":"","position":{"x":152.0,"y":1816.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":"128 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"64 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"15 secs","Demarcator File":null,"Correlation Attribute Name":"azure_path","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"51454a44-1327-3a80-9bed-01284dfe494d","name":"Set Azure Variables","comments":"","position":{"x":760.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"azure_filename":"${azure_full_path:substringAfterLast(\"/\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"azure_path":"${azure_full_path:substringBeforeLast(\"/\"):substringAfter(${abfs_location}):substringAfter(\"/\")}"},"propertyDescriptors":{"azure_filename":{"name":"azure_filename","displayName":"azure_filename","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"azure_path":{"name":"azure_path","displayName":"azure_path","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"09484730-e81e-3bcb-b14f-9592a063f23b","name":"CreateHiveSQLString","comments":"","position":{"x":560.0,"y":2080.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"alter table ${\"fetched_database\"}.${\"fetched_table\"} add partition (${\"fetched_partition_col\"} = '${\"fetched_partition\"}');","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"7fb0ad51-2802-3637-9094-a7d0852db6dc","name":"Bash Listing of Files","comments":"","position":{"x":120.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/tmp/scripts/list_files.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-b;${\"hdfs_parent_dir_xml\"};-d;${\"databases_xml\"};-t;${\"consumed_tables_xml\"};-m;${\"db_partition_map\"};-u;${\"kerberos_principal_xml\"};-k;${\"kerberos_keytab_xml\"};-p;${\"partition\"};-f \"p\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"8bbd3dc2-882e-3a1c-8cfd-1fb72884ce37","name":"Extract Text to Attributes","comments":"","position":{"x":752.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","azure_full_path":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"azure_full_path":{"name":"azure_full_path","displayName":"azure_full_path","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"4b1c6a8e-0073-38c7-b346-29e1afda6669","name":"Fetch File Content from Azure ADLS Gen2","comments":"","position":{"x":152.0,"y":1184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","properties":{"filesystem-name":"datafs","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"233a8257-fbab-3cb5-8b20-a60e08fdc359","directory-name":"${\"azure_path\"}","file-name":"${\"azure_filename\"}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"c5c7109d-e48c-34c9-ab57-097bf2ceafe4","name":"Save Data to OnPrem HDFS","comments":"","position":{"x":152.0,"y":1616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/tmp/public_assets/core-site.xml,/tmp/public_assets/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"9fdf7295-ff0b-34ba-9a54-d77ab472d9ec","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"${\"target_dir\"}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"ccd5681f-a1ac-33eb-a71e-86aaa923a331","name":"SplitText","comments":"","position":{"x":752.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"inputPorts":[{"identifier":"3fbf2a78-e654-3bd5-9722-2b6b0e2a6cf5","name":"InputHDFSTransfer","comments":"","position":{"x":176.0,"y":1048.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"outputPorts":[{"identifier":"780ecf0f-2470-3e8a-a6a6-19f38a9badb0","name":"UpdateTableHive","position":{"x":616.0,"y":2312.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"dc6d135a-dc75-37a4-ae48-17876228e7ad","name":"OutputHDFSTransfer","comments":"","position":{"x":208.0,"y":2040.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"connections":[{"identifier":"17029e0a-1b96-3a0e-aa9b-376b7f26081d","name":"","source":{"id":"7fb0ad51-2802-3637-9094-a7d0852db6dc","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Bash Listing of Files","comments":""},"destination":{"id":"ccd5681f-a1ac-33eb-a71e-86aaa923a331","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"fa5156b7-0cc0-399b-9cf4-911d3b96b928","name":"","source":{"id":"c5c7109d-e48c-34c9-ab57-097bf2ceafe4","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"bd815697-82b6-399a-9bbf-db42044223bd","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"ConsolidateTables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"3ac658ea-b3d1-32b0-8d38-564f3e481579","name":"","source":{"id":"bd815697-82b6-399a-9bbf-db42044223bd","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"ConsolidateTables","comments":""},"destination":{"id":"67f08816-fc7d-32a8-be91-0c99a76c65d2","type":"FUNNEL","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"d7b312d7-33e9-33e6-a6a2-5dba49d0e3dd","name":"","source":{"id":"51454a44-1327-3a80-9bed-01284dfe494d","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Set Azure Variables","comments":""},"destination":{"id":"4b1c6a8e-0073-38c7-b346-29e1afda6669","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Fetch File Content from Azure ADLS Gen2","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"8ac70d53-6cf4-3f84-97f6-d9c348b4031c","name":"","source":{"id":"c5c7109d-e48c-34c9-ab57-097bf2ceafe4","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Save Data to OnPrem HDFS","comments":""},"destination":{"id":"270a81c7-3aa7-3794-aa31-3d76261bdbb6","type":"FUNNEL","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"1fcf0c16-1f7e-35ee-8e11-12a77eee4945","name":"","source":{"id":"8c5778ae-09dd-3e3c-86e0-dff8b0f0653d","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Set Path Properties","comments":""},"destination":{"id":"c5c7109d-e48c-34c9-ab57-097bf2ceafe4","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Save Data to OnPrem HDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"e154bf70-2159-3d66-b18d-2a6b535763c0","name":"","source":{"id":"ccd5681f-a1ac-33eb-a71e-86aaa923a331","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"SplitText","comments":""},"destination":{"id":"8bbd3dc2-882e-3a1c-8cfd-1fb72884ce37","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Extract Text to Attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"a53037eb-7b9e-397d-9014-e82be6fb5d7c","name":"","source":{"id":"bd815697-82b6-399a-9bbf-db42044223bd","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"ConsolidateTables","comments":""},"destination":{"id":"dc6d135a-dc75-37a4-ae48-17876228e7ad","type":"OUTPUT_PORT","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"OutputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"885d27a1-fae3-3743-b093-527340104840","name":"","source":{"id":"8bbd3dc2-882e-3a1c-8cfd-1fb72884ce37","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Extract Text to Attributes","comments":""},"destination":{"id":"51454a44-1327-3a80-9bed-01284dfe494d","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Set Azure Variables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"d8be66e2-a88d-3773-85c8-4716560c589d","name":"","source":{"id":"bd815697-82b6-399a-9bbf-db42044223bd","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"ConsolidateTables","comments":""},"destination":{"id":"09484730-e81e-3bcb-b14f-9592a063f23b","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"CreateHiveSQLString","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":736.0,"y":1880.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"36ed8f98-0b15-3c02-bbed-fad85498418f","name":"","source":{"id":"4b1c6a8e-0073-38c7-b346-29e1afda6669","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Fetch File Content from Azure ADLS Gen2","comments":""},"destination":{"id":"8c5778ae-09dd-3e3c-86e0-dff8b0f0653d","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Set Path Properties","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"f5e6d1da-15e5-35dc-b718-8003bb660d94","name":"","source":{"id":"09484730-e81e-3bcb-b14f-9592a063f23b","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"CreateHiveSQLString","comments":""},"destination":{"id":"b2db2bbe-a09c-3569-a6b3-d78f7080e0a6","type":"FUNNEL","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"f2dd1640-29b7-31f1-b911-632d0df54c06","name":"","source":{"id":"09484730-e81e-3bcb-b14f-9592a063f23b","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"CreateHiveSQLString","comments":""},"destination":{"id":"780ecf0f-2470-3e8a-a6a6-19f38a9badb0","type":"OUTPUT_PORT","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"UpdateTableHive"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"fc3a12d2-01cf-3bc0-9424-606bc7b7c970","name":"","source":{"id":"3fbf2a78-e654-3bd5-9722-2b6b0e2a6cf5","type":"INPUT_PORT","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"InputHDFSTransfer","comments":""},"destination":{"id":"7fb0ad51-2802-3637-9094-a7d0852db6dc","type":"PROCESSOR","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"Bash Listing of Files","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"labels":[{"identifier":"530f2c39-57d0-33c7-8013-3a3266658c9d","position":{"x":-32.0,"y":792.0},"label":"Please allow time for \nthe bash script to run","width":128.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"5884b74c-02af-35f7-800d-01c4f5788820","position":{"x":288.0,"y":632.0},"label":"TRANSFER DIRECTLY TO HDP TABLE","width":432.0,"height":40.0,"style":{"background-color":"#d6faff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"12bd2078-6cdb-3a90-9d6b-35dd00a2f095","position":{"x":-104.0,"y":1664.0},"label":"This needs to be to the staging dir","width":232.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"funnels":[{"identifier":"b2db2bbe-a09c-3569-a6b3-d78f7080e0a6","position":{"x":1256.0,"y":2120.0},"componentType":"FUNNEL","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"67f08816-fc7d-32a8-be91-0c99a76c65d2","position":{"x":-176.0,"y":1848.0},"componentType":"FUNNEL","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"},{"identifier":"270a81c7-3aa7-3794-aa31-3d76261bdbb6","position":{"x":848.0,"y":1656.0},"componentType":"FUNNEL","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"controllerServices":[{"identifier":"9fdf7295-ff0b-34ba-9a54-d77ab472d9ec","name":"DHKeytab","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"Kerberos Keytab":"/tmp/hmatta-dmathews.keytab","Kerberos Principal":"dmathews@HMATTA.A465-9Q4K.CLOUDERA.SITE"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"81252992-b8e6-3257-9970-55605566b9dc"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"}],"remoteProcessGroups":[],"processors":[{"identifier":"f472732f-f0cc-3a57-bb2a-9a932800f519","name":"Setting Base Attributes","comments":"","position":{"x":776.0,"y":664.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"country":"${filename:substringAfter(\"_\"):substringBefore(\"_\")}","databases":"SRI_OPEN,SRI_NONOPEN","Delete Attributes Expression":null,"partition":"${filename:substringAfterLast(\"_\"):substringBefore(\".\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Params Path":"${absolute.path:substringBeforeLast(\"/\"):substringBeforeLast(\"/\")}/config","Stateful Variables Initial Value":null,"sourcesystem":"${filename:substringBefore(\"_\")}"},"propertyDescriptors":{"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false},"databases":{"name":"databases","displayName":"databases","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"partition","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Params Path":{"name":"Params Path","displayName":"Params Path","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"sourcesystem":{"name":"sourcesystem","displayName":"sourcesystem","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"de1773a3-f3a4-38f8-9bab-c23390750513","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh","position":{"x":576.0,"y":1392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/echo","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"\"hello world\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"64496314-9532-3099-81e2-0695bba8ac3e","name":"RECON","comments":"","position":{"x":1248.0,"y":1624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":null,"Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"4c6cdad2-a280-36a6-9053-8572397fe080","name":"CreateHiveSQLStringPostSpark","comments":"","position":{"x":576.0,"y":1624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"alter table ${\"fetched_database\"}.${\"fetched_table\"} add partition (${\"fetched_partition_col\"} = '${\"fetched_partition\"}');","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"2138e9b7-253a-3c77-a3dc-f915dd62e0c0","name":"FailedToUpdateHive","comments":"","position":{"x":832.0,"y":2064.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"62d3a2a8-77b9-3071-9011-b31bff706eca","name":"SuccessToUpdateHive","comments":"","position":{"x":304.0,"y":2064.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"6e58ce08-8574-3976-8ece-cc1648071794","name":"ListFile - Acknowledgement Trigger","comments":"","position":{"x":768.0,"y":200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"eglex_au_integrated_recon_completion_.*\\.ack","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/tmp/archival","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"b0c9969f-4d58-3b17-a962-d72cd03a980f","name":"PutHiveQL","comments":"","position":{"x":584.0,"y":1848.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.hive.PutHiveQL","properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"d4f4ed24-ead7-3a43-91d5-965666b4c7e3","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"8b7df524-81a1-3a0f-b453-648cc2b55976","name":"Obtain Params File","comments":"","position":{"x":1384.0,"y":672.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.3-2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${\"Params Path\"}/${\"sourcesystem\"}_${\"country\"}_params.xml","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d27a4020-1b67-3100-9b67-82d9d64cddae","name":"","source":{"id":"ef37cc19-400d-370c-9ad7-619d0810a9a1","type":"OUTPUT_PORT","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"XMLParserOutput","comments":""},"destination":{"id":"3fbf2a78-e654-3bd5-9722-2b6b0e2a6cf5","type":"INPUT_PORT","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"4ca93af7-701a-3377-a0b9-2ab0b6d6d59d","name":"","source":{"id":"4c6cdad2-a280-36a6-9053-8572397fe080","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"CreateHiveSQLStringPostSpark","comments":""},"destination":{"id":"64496314-9532-3099-81e2-0695bba8ac3e","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"RECON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"577f8823-60d8-3781-a698-9dd1b063d91c","name":"","source":{"id":"6e58ce08-8574-3976-8ece-cc1648071794","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"ListFile - Acknowledgement Trigger","comments":""},"destination":{"id":"604b65e6-c62a-3fb8-aa75-2ffca942aa7c","type":"INPUT_PORT","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"XMLParserInput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"16f90f52-c32d-3337-8235-37e0f1149824","name":"","source":{"id":"900f0d47-7f4c-3fd4-822f-704d88d34be8","type":"OUTPUT_PORT","groupId":"4cb302d5-b1e8-3820-b4aa-5fe0f06d1dc4","name":"XMLParserOutput","comments":""},"destination":{"id":"f472732f-f0cc-3a57-bb2a-9a932800f519","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Setting Base Attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"b8238e98-b3e3-380c-b279-b117386ae4e3","name":"","source":{"id":"8b7df524-81a1-3a0f-b453-648cc2b55976","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Obtain Params File","comments":""},"destination":{"id":"652529b7-1354-3540-8f44-5ae155529089","type":"INPUT_PORT","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"XMLParserInput","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1560.0,"y":952.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"5716a0fa-29ca-339c-b6e5-a528f4f55d12","name":"","source":{"id":"8b7df524-81a1-3a0f-b453-648cc2b55976","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Obtain Params File","comments":""},"destination":{"id":"e2d0106e-aa27-3c7d-9b61-1c8e543371c3","type":"FUNNEL","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1864.0,"y":744.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"67ddcdde-f0d4-3c29-8247-212a2a008a63","name":"","source":{"id":"de1773a3-f3a4-38f8-9bab-c23390750513","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh"},"destination":{"id":"cedaa5d7-1740-3903-8d02-dff585ad03d1","type":"FUNNEL","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"7e551147-a0c5-3e46-8490-3a35f1a9678f","name":"","source":{"id":"dc33048e-26f4-33b3-b693-93c20408a1df","type":"OUTPUT_PORT","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"OutputHDFSTransfer","comments":""},"destination":{"id":"de1773a3-f3a4-38f8-9bab-c23390750513","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"bd684ffe-823e-33ed-ac8f-6fc890878a59","name":"","source":{"id":"de1773a3-f3a4-38f8-9bab-c23390750513","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"SparkDeTokenisation","comments":"${\"kerberos_keytab_xml\"};${\"kerberos_principal_xml\"};${\"sourcesystem_xml\"};${\"country_xml\"};${\"nfs_location_xml\"};\"udf\";\"\";\"\";\"false\";${\"consumed_tables_xml\"};\"${\"partition\"}\";\"${\"partition\"}\";\"${abfs_prefix}${hdfs_parent_dir_xml}\";${\"databases\"}\n\nssh {user}@{host} {{SCB chosen script directory}}/sdm-tokenization-util-cloud.sh"},"destination":{"id":"4c6cdad2-a280-36a6-9053-8572397fe080","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"CreateHiveSQLStringPostSpark","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"9356f517-9e17-393a-9e7a-5c88b486312f","name":"","source":{"id":"4c6cdad2-a280-36a6-9053-8572397fe080","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"CreateHiveSQLStringPostSpark","comments":""},"destination":{"id":"b0c9969f-4d58-3b17-a962-d72cd03a980f","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"PutHiveQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"01ab2eb5-cea9-35e8-8743-7f6b06c92e56","name":"","source":{"id":"f472732f-f0cc-3a57-bb2a-9a932800f519","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Setting Base Attributes","comments":""},"destination":{"id":"8b7df524-81a1-3a0f-b453-648cc2b55976","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Obtain Params File","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"33cd3980-7c51-348e-9eb0-579bcd75328c","name":"","source":{"id":"ef37cc19-400d-370c-9ad7-619d0810a9a1","type":"OUTPUT_PORT","groupId":"175643d0-29bb-3736-ae75-2866565a7ab8","name":"XMLParserOutput","comments":""},"destination":{"id":"19b2629b-3eca-3868-abb1-2632071ee202","type":"INPUT_PORT","groupId":"8bd6c726-2c06-360d-a9ff-e662cf5a0107","name":"InputHDFSTransfer","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"b1343bf7-1e02-3340-9ff0-ef05baf89c28","name":"","source":{"id":"b0c9969f-4d58-3b17-a962-d72cd03a980f","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"PutHiveQL","comments":""},"destination":{"id":"62d3a2a8-77b9-3071-9011-b31bff706eca","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"SuccessToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"35b271e6-0636-3bd7-9205-6697eb7d7bc1","name":"","source":{"id":"780ecf0f-2470-3e8a-a6a6-19f38a9badb0","type":"OUTPUT_PORT","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"UpdateTableHive"},"destination":{"id":"b0c9969f-4d58-3b17-a962-d72cd03a980f","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"PutHiveQL","comments":""},"labelIndex":2,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1672.0,"y":1224.0},{"x":1672.0,"y":1912.0},{"x":1288.0,"y":1912.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"15b8e748-eaeb-3ddb-aa8b-b28234d79522","name":"","source":{"id":"b0c9969f-4d58-3b17-a962-d72cd03a980f","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"PutHiveQL","comments":""},"destination":{"id":"2138e9b7-253a-3c77-a3dc-f915dd62e0c0","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"FailedToUpdateHive","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"774ce681-d4ae-32ec-a9ba-3ff2a3b626c6","name":"","source":{"id":"dc6d135a-dc75-37a4-ae48-17876228e7ad","type":"OUTPUT_PORT","groupId":"81252992-b8e6-3257-9970-55605566b9dc","name":"OutputHDFSTransfer","comments":""},"destination":{"id":"64496314-9532-3099-81e2-0695bba8ac3e","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"RECON","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1424.0,"y":1424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"be3e11e7-148d-31a9-ba61-c715f910dd52","name":"","source":{"id":"4c6cdad2-a280-36a6-9053-8572397fe080","type":"PROCESSOR","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"CreateHiveSQLStringPostSpark","comments":""},"destination":{"id":"c0b5dbbe-3123-37cd-8a2b-c84cc25597e0","type":"FUNNEL","groupId":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"}],"labels":[{"identifier":"f4537f62-124c-378e-aede-39653de85006","position":{"x":384.0,"y":1200.0},"label":"Interim Stage + Detokenise","width":160.0,"height":24.0,"style":{"background-color":"#d6f6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"eb793d4c-7cfd-3e67-bff7-cd5a87b52ee7","position":{"x":1312.0,"y":640.0},"label":"Get contents of corresponding params file","width":272.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"ac8ada6d-745e-35ba-bbf6-86737353c940","position":{"x":828.0,"y":814.5},"label":"Get sourcesystem and country from filename","width":272.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"f1220c66-60cc-30d9-8eba-ea7a3f97100c","position":{"x":1376.0,"y":872.0},"label":"Extract XML properties \nof value","width":144.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"ea32f446-c029-35d2-9246-66a3210cbc5c","position":{"x":952.0,"y":1328.0},"label":"Validated until this point","width":152.0,"height":32.0,"style":{"background-color":"#eb1e77","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"1d68a22f-c229-3206-97a9-b02a8be90e01","position":{"x":944.0,"y":1432.0},"label":"Assuming the Spark Script runs per table\nTherefore the exit code of the script can \nindicate success or not at such a level","width":240.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"9e773064-f979-3dbe-915a-ca795771d17c","position":{"x":816.0,"y":144.0},"label":"Pick up acknowledgement file from ADLS","width":256.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"33890ca7-1e75-388b-9b5f-596b34068ab5","position":{"x":1488.0,"y":1192.0},"label":"Vanilla","width":128.0,"height":24.0,"style":{"background-color":"#d6f6ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"}],"funnels":[{"identifier":"e2d0106e-aa27-3c7d-9b61-1c8e543371c3","position":{"x":1840.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"cedaa5d7-1740-3903-8d02-dff585ad03d1","position":{"x":176.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"c0b5dbbe-3123-37cd-8a2b-c84cc25597e0","position":{"x":184.0,"y":1664.0},"componentType":"FUNNEL","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"}],"controllerServices":[{"identifier":"d4f4ed24-ead7-3a43-91d5-965666b4c7e3","name":"HiveConnectionPool_onPrem","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.13.2.2.2.3.3-2"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"kerberos-credentials-service":null,"Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hmatta-hdp-02.internal.cloudapp.net:2181,hmatta-hdp-03.internal.cloudapp.net:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/tmp/on_prem_hdfs/hive-site.xml","hive-max-wait-time":"500 millis","hive-db-user":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"},{"identifier":"233a8257-fbab-3cb5-8b20-a60e08fdc359","name":"ADLSCredentialsControllerService_SimpleMethod","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.13.2.2.2.3.3-2"},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"1.13.2.2.2.3.3-2"}}],"properties":{"storage-use-managed-identity":"false","storage-endpoint-suffix":"dfs.core.windows.net"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"storage-use-managed-identity":{"name":"storage-use-managed-identity","displayName":"Use Azure Managed Identity","identifiesControllerService":false,"sensitive":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"182f8b3e-9b8e-3abe-925f-a1b0e73bcbfd"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}